<nb-card >
    <nb-card-body>
      <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
      <button class="btnClass" (click)="openUrl('pages/customer/add-edit-customer', customerId)">{{sysLanguages.CustomerEdit}}</button>
    </nb-card-body>
</nb-card>

<nb-card >
    <nb-card-header style="height:40px;">
      <p style="font-weight:bold; margin-left:6%;">{{sysLanguages.ContactProjectOverviewProfileText}}</p>
    </nb-card-header>
    <nb-card-body>
        <div class="col-md-12" style="margin:auto;width:100%">
            <div class="col-md-6" class="addCustomerDialogColPart">
                <p  style="font-weight: bold; margin-top:10px;">{{sysLanguages.CustomerAddDialogCustomerInput}}:</p>
                <input  type="text" class="form-control" style="width:100%;" nbInput id="dialogCustomerName" value="{{ customerData.CustomerName }}" />
                <p  style="font-weight: bold; margin-top:10px;">{{sysLanguages.BrandName}}:</p>
                <input  type="text" class="form-control" style="width:100%;" nbInput id="brandName" value="{{ customerData.BrandName }}" />
                <p  style="font-weight: bold; margin-top:10px;">{{sysLanguages.CustomerAddDialogTaxInput}}:</p>
                <input  class="form-control" type="text" style="width:100%;" nbInput id="dialogTaxNumber" value="{{ customerData.TaxNumber }}"/>
                <p style="font-weight: bold;margin-top:10px;">{{sysLanguages.CustomerAddDialogPhoneInput}}:</p>
                <input  type="text" class="form-control" style="width:100%;" nbInput id="dialogPhone" value="{{ customerData.Phone }}"/>
                <p  style="font-weight: bold;margin-top:10px;">{{sysLanguages.CustomerAddDialogWebsiteInput}}:</p>
                <input  class="form-control" type="text" style="width:100%;" nbInput id="dialogWebsite" value="{{ customerData.Website }}"/>
            </div>
            <div class="col-md-6" class="addCustomerDialogColPart">
                <p  style="font-weight: bold;margin-top:10px;">{{sysLanguages.CustomerAddDialogAddressInput}}:</p>
                <input  class="form-control" type="text" style="width:100%;" nbInput id="dialogAddress" value="{{ customerData.Address }}"/>
                <p  style="font-weight: bold;margin-top:10px;">{{sysLanguages.CustomerAddDialogCityInput}}:</p>
                <input  class="form-control" type="text" style="width:100%;" nbInput id="dialogCity" value="{{ customerData.City }}"/>
                <p  style="font-weight: bold;margin-top:10px;">{{sysLanguages.CustomerAddDialogPostCodeInput}}:</p>
                <input  class="form-control" type="text" style="width:100%;" nbInput id="dialogPostCode" value="{{ customerData.PostCode }}"/>
                <p style="font-weight: bold;margin-top:10px;">{{sysLanguages.CustomerAddDialogStatusInput}}:</p>
                <input readonly class="form-control" type="text" style="width:100%;" nbInput id="dialogPostCode" value="{{ customerData.StatusDesc }}"/>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
            <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size: 10px;float:right;"  (click)="save()">{{sysLanguages.CustomerAddDialogSaveBtn}}</button>
    </nb-card-footer>
  </nb-card>

  <nb-card>
    <nb-card-header>
        {{sysLanguages.TasksHeader}}
        <button class="btn" (click)="addTask()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 9px; margin-left:8px;float:right;" >{{sysLanguages.AddTaskHeaderText}}</button>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settingsForTaskTable" [source]="taskList" (userRowSelect)="editTask($event.data.TaskId)" ></ng2-smart-table>
    </nb-card-body>
  </nb-card>

  <nb-card style="width: 50%;float:left;height: 25.5rem;" id="CustomerTable">
    <nb-card-header>
        {{sysLanguages.CustomerCompContacts}}
        <button class="btn" (click)="openDialog(dialogAddContact, 'save', $event)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 9px; margin-left:8px;float:right;">{{sysLanguages.AddContactHeaderText}}</button>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="contactList" (delete)="deleteContact($event)" (userRowSelect)="openDialog(dialogAddContact, 'update', $event)"  (edit)="openDialog(dialogAddContact, 'update', $event)" ></ng2-smart-table>
    </nb-card-body>
  </nb-card>

  <nb-card style="width: 48%;float:right;">
    <nb-card-body>
        <button nbButton (click)="saveComment()"  style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;font-size:9px;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
        <textarea rows="3" cols="90" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" class="form-control" id="comment" style="margin-top:45px;" ></textarea>
        <br/>
        <input type="text" placeholder="Link" class="form-control" id="FileUri">
        <br/>
    </nb-card-body>
    <nb-card-body>
      <hr />
      <br/>
      <div class="commentCard" *ngFor = "let com of CommentList | paginate: { itemsPerPage: 2, currentPage: p} " >
          <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
          <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
          <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
          <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}"> {{com.FileUri}} </a>
          <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
      </div>
      <br/>
      <pagination-controls autoHide="true" responsive="true" previousLabel="{{sysLanguages.PreviousText}}" nextLabel="{{sysLanguages.NextLabelText}}" maxSize="8" (pageChange)="p = $event"></pagination-controls>
  </nb-card-body>
</nb-card>
  
<ng-template #dialogAddContact let-data let-ref="dialogRef">
      <nb-card style="width:25rem;">
        <nb-card-header style="height:40px;background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">
          <p style="margin-left:15px;">{{dialogTitle}}</p>
        </nb-card-header>
        <nb-card-body style="overflow:visible;">
          <div class="col-md-12">
                  <p >{{sysLanguages.ContactTableFullnameText}}:</p>
                  <input type="text" nbInput id="Fullname" value="{{ contactData.Fullname }}" style="width:100%">
                  <p >Mail:</p>
                  <input type="text"  nbInput id="Email" value="{{ contactData.Email }}" style="width:100%" >
                  <p >{{sysLanguages.ContactTablePhoneText}}:</p>
                  <input  type="text" nbInput id="Phone" value="{{ contactData.Phone }}" style="width:100%">
                  <p >{{sysLanguages.ContactTablePositionText}}:</p>
                  <input type="text" nbInput id="Position" value="{{ contactData.Position }}" style="width:100%">
                  <p >Parola:</p>
                  <input type="password" nbInput id="Password" style="width:100%"> 
          </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="form-group" style="float:right;margin-right: 5%;">
                <button nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" (click)="saveContact(ref)">{{sysLanguages.SaveContactButtonText}}</button>
            </div>        
        </nb-card-footer>
      </nb-card>
</ng-template>