
<nb-card>
    <nb-card-header>
            {{ sysLanguages.GrpHeaderText }}
    </nb-card-header>
    <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="grpList" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)" (userRowSelect)="onCustomAction($event)" (createConfirm)="onCreateConfirm($event)" ></ng2-smart-table>
    </nb-card-body>
</nb-card>
