::ng-deep.nb-theme-default .alert-danger {
    background-color: #f2dede;
    border: none;
    color: #a94442;
}

.btnClass
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    float: right; 
    margin-top: -45px;
    width: 11%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #3ab1f0;
    border-radius: 5%;
    color: white;
    height: 3rem;
}

:host /deep/ .route-tabset
{
  width : 89%;
  overflow-x : scroll;
  overflow-y : hidden; 
}

