<nb-card id="tabs">
    <nb-card-body>
      <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
      <button class="btnClass" (click)="openUrl('pages/customer/add-edit-customer', customerId)">{{sysLanguages.CustomerEdit}}</button>
    </nb-card-body>
  </nb-card>

  <nb-card style=" height:40rem;">
    <nb-card-header>
      {{sysLanguages.SafeDesc}} ( {{header}} )
    </nb-card-header>
    <nb-card-body >
      <textarea *ngIf="OpenArea == 'true'" rows="5" cols="20"  class="form-control" value="{{SafeDesc}}"  id="desc"></textarea>
      <div *ngIf="OpenArea == 'false'"  class="alert alert-danger text-center">
          {{sysLanguages.SafeAccess}}</div>
    </nb-card-body>
    <nb-card-footer>
        <button *ngIf="OpenArea == 'true'" style="float: right;" nbButton size="small" (click)="save()">{{sysLanguages.SaveContactButtonText}}</button>
    </nb-card-footer>
  </nb-card>
