<nb-card>
  <nb-card-header>
    {{title}}
    <div style="width:250px;float:right;margin-top:-10px;height : 25px;">
        <p-dropdown [options]="statusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.50rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="CostData.StatusId" filter="true" showClear="true">
            <ng-template let-stat pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                </div>
            </ng-template>
        </p-dropdown> 
      </div>
  </nb-card-header>
  <nb-card-body style="overflow:visible;" >
    <div class="col-md-6" style="float: left;" >
        <p>{{sysLanguages.CostNameText}} <strong style="color: red">*</strong> :</p>
        <input  type="text" nbInput class="form-control" style="margin-top: 10px;" id="CostName" value="{{CostData.CostName}}" />
        <br>
        <p>{{sysLanguages.SupplierText}} <strong style="color: red">*</strong> :</p>
        <p-dropdown [virtualScroll]="true" itemSize="30" [options]="customerList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="CostData.SupplierId"  filter="true" showClear="true" >
            <ng-template let-cust pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;">{{cust.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <p style="margin-top: 19px;">{{sysLanguages.PcRelation}}:</p>
            <p-dropdown [options]="relationList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedRelation" filter="true" showClear="true" >
              <ng-template let-rel pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{rel.label}}</div>
                  </div>
              </ng-template>
          </p-dropdown>
        <div class="form-group" style="width:100%;float:left;margin-top:10px;margin-left:-10px;">
                <input style="width: 50px;height : 25px;"  type="checkbox" name="isBilliable" id="chckbox" [(ngModel)]="isBilliable" (change)="billiableCost(isBilliable? 1 : 0)" > <strong style="position:absolute;margin-top:5px;"> {{sysLanguages.BillableCost}} </strong>  
        </div>
    </div>
    <div class="col-md-6" style="float: right;" >
        <p >{{sysLanguages.AddInvoiceCurrencyType}} <strong style="color: red">*</strong> :</p>
        <p-dropdown [options]="currencyList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="CostData.CurrencyTypeId" filter="true" showClear="true" (onChange)="changeCurrencyType($event.value)">
              <ng-template let-currency pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;">{{currency.label}}</div>
                  </div>
              </ng-template>
        </p-dropdown>
        <div class="form-group" style="margin:auto;width:100%;float:right;margin-top: 13px;">
            <div class="form-group" style="display: inline-block; width:40%;">
              <p>{{sysLanguages.BoCardBeginDateText}} :</p>
                <input  [nbDatepicker]="datepicker1" style="margin-top: 15px;" placeholder="{{ sysLanguages.LogTableCreatedDate }}" class="form-control" id="CostDate" value="{{CostData.CostDate}}">
                <nb-datepicker #datepicker1></nb-datepicker>
            </div>
            <div class="form-group" style="display:inline-block;width: 40%;margin-left:20%;">
              <p>{{sysLanguages.BoCardEndDateText}}:</p>
                <input [nbDatepicker]="datepicker2" style="margin-top: 15px;" placeholder="{{ sysLanguages.PcProposalExpirationDate }}" class="form-control" id="PaymentDate" value="{{CostData.PaymentDate}}">
                <nb-datepicker #datepicker2></nb-datepicker>
            </div>
        </div>
        <div class="form-group" style="width:100%;float:right;" *ngIf="isSelectedRelation == 1">
            <p style="margin-top: 5px;">{{sysLanguages.CustomerText}}:</p>
            <p-dropdown [virtualScroll]="true" itemSize="30" [options]="customerList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedCustomer" filter="true" showClear="true" >
              <ng-template let-customer pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{customer.label}}</div>
                  </div>
              </ng-template>
          </p-dropdown>
        </div>
        <div class="form-group" style="width:100%;float:right;" *ngIf="isSelectedRelation == 2">
            <p style="margin-top: 5px;">{{sysLanguages.ProjectText}}:</p>
            <p-dropdown [virtualScroll]="true" itemSize="30" [options]="projectList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedProject" filter="true" showClear="true" >
              <ng-template let-project pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{project.label}}</div>
                  </div>
              </ng-template>
          </p-dropdown>
        </div>
        <div class="form-group" style="width:100%;float:right;" *ngIf="isSelectedRelation == 3">
            <p style="margin-top: 5px;">{{sysLanguages.InvoiceText}}:</p>
              <p-dropdown [virtualScroll]="true" itemSize="30" [options]="invoiceList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedInvoice" filter="true" showClear="true" >
                <ng-template let-invoice pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{invoice.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="form-group" style="width:100%;float:right;" *ngIf="isSelectedRelation == 4">
            <p style="margin-top: 5px;">{{sysLanguages.ProformText}}:</p>
            <p-dropdown [virtualScroll]="true" itemSize="30" [options]="proformList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedProform" filter="true" showClear="true" >
              <ng-template let-pro pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{pro.label}}</div>
                  </div>
              </ng-template>
          </p-dropdown>
        </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body style="overflow: visible;">
        <div class="col-md-12">
            <p>{{sysLanguages.AddInvoiceProducts}}:</p>
            <p-dropdown [options]="productList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedProduct" (ngModelChange)="getProductDetail($event)" filter="true" showClear="true">
                <ng-template let-product pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{product.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <br>
            <br>
            <thead style="color:white;background:#415164;line-height: 3;">
                    <tr>
                        <th width="300px;" align="left">{{sysLanguages.AddInvoiceTableProduct}}</th>
                        <th width="300px;" align="left">{{sysLanguages.AddInvoiceTableDesc}}</th>
                        <th width="300px;" align="right">{{sysLanguages.AddInvoiceTablePiece}}</th>
                        <th width="300px;" align="right">{{sysLanguages.AddInvoiceTablePrice}}</th>
                        <th width="300px;" align="right">{{sysLanguages.AddInvoiceTableTax}}</th>
                        <th width="300px;" align="right">{{sysLanguages.AddInvoiceTableQuantity}}</th>
                        <th width="300px;" align="right">{{ sysLanguages.PcOperations }}</th>
                    </tr>
                </thead>
            <tbody class="line">
              <ng-container *ngFor="let data of LineData; let i = index">
                <tr *ngIf="!costId" id="lineData_{{i}}">
                    <td>
                        <textarea class="form-control a1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.AddTaskDescText }}"  id="a1" value="{{ data.ProductName }}"></textarea>
                    </td>
                    <td>
                         <textarea class="form-control b1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.ProductLongDesc }}" value="{{ data.LineDesc }}" id="b1"></textarea>
                    </td>
                    <td>
                         <input type="number" class="form-control c1" id="c1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductCount }}"/>
                    </td>
                    <td>
                        <input type="number" class="form-control d1" id="d1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductPrice }}"/>
                    </td>
                    <td>
                        <p-multiSelect [options]="taxList" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'min-width': '70%', 'width': 'max-content', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem', 'margin-top': '15px'}" defaultLabel=" " [(ngModel)]="tax"></p-multiSelect>
                    </td>
                    <td>
                        <p id="f1" class="f1" lang="{{ data.LineAmount }}" style="float: left;margin-top: 26px;margin-left:5px;">{{ data.LineAmount }}</p>
                    </td>
                    <td>
                        <button class="btn" *ngIf="i == 0" (click)="createLine()" style="margin-top: 15px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" >✓</button>
                    </td>
                </tr>
  
                <tr *ngIf="costId" id="lineData_{{i}}">
                    <td *ngIf="i == 0">
                        <textarea class="form-control a1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.AddTaskDescText }}"  id="a1" value="{{ data.ProductName }}"></textarea>
                    </td>
                    <td *ngIf="i != 0">
                        <p id="a1" *ngIf="data.ProductId != 0" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductName }} </p>
                        <p id="a1" *ngIf="data.ProductId == 0" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.LineName }} </p>
                    </td>
                    <td *ngIf="i == 0">
                         <textarea class="form-control b1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.ProductLongDesc }}" value="{{ data.LineDesc }}" id="b1"></textarea>
                    </td>
                    <td *ngIf="i != 0">
                        <ng-container *ngFor="let _data of data.LineDesc; let j = index">
                            <p id="b1" *ngIf="j == 0" style="margin-top: 23px; margin-left: 10px;" > {{ _data.desc }} </p>
                            <p id="b1" *ngIf="j != 0" style="margin-top: 0px; margin-left: 10px;" > {{ _data.desc }} </p>
                        </ng-container> 
                   </td>
                    <td *ngIf="i == 0">
                         <input type="number" class="form-control c1" id="c1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductCount }}"/>
                    </td>
                    <td *ngIf="i != 0">
                        <p id="c1" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductCount }} </p>
                   </td>
                    <td *ngIf="i == 0">
                        <input type="number" class="form-control d1" id="d1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductPrice }}"/>
                    </td>
                    <td *ngIf="i != 0">
                        <p id="d1" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductPrice }} </p>
                    </td>
                    <td *ngIf="i == 0">
                        <p-multiSelect [options]="taxList" defaultLabel=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'min-width': '70%', 'width': 'max-content', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem', 'margin-top': '15px'}" [(ngModel)]="tax"></p-multiSelect>
                    </td>
                    <td *ngIf="i != 0">
                        <p id="updatedefaultTax" style="float: left;margin-top: 26px;margin-left:5px;">{{ data.updatedefaultTax }}</p>
                    </td>
                    <td>
                        <p id="f1" class="f1" style="float: left;margin-top: 26px;margin-left:5px;">{{ data.LineAmount }}</p>
                    </td>
                    <td>
                        <button class="btn" *ngIf="i == 0" (click)="createLine()" style="margin-top: 15px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" >✓</button>
                        <button class="btn" id="deleteLineBtn_{{i}}" *ngIf="i != 0" (click)="deleteeditLine($event)" style="margin-top: 15px;background-color: red;" >x</button>
                    </td>
                </tr>
               </ng-container> 
            </tbody> 
            <div class="col-md-8 col-md-offset-4" style="float:right;margin-top:3%;">
                    <table class="table text-right">
                        <tbody>
                            <tr hidden id="subtotal">
                                <td><span style="font-weight: 500;">{{sysLanguages.AddInvoiceTableSubtotal}} :</span>
                                </td>
                                <td id="subtotal1">0.00 TL
                                    <input style="border:1px solid #aaa" type="hidden">
                                </td>
                            </tr>
                            <tr hidden id="discount_area">
                                <td>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <span style="font-weight: 500;">
                                            {{sysLanguages.AddInvoiceDiscount}}                         </span>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="input-group" id="discount-total">
                                               <!-- <input (blur)="total()" id="discount" type="number" value="0" class="form-control pull-left input-discount-percent hide" min="0" max="100" name="discount_percent" aria-invalid="false"> -->
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td id="discountText" class="discount-total">-0.00 TL</td>
                            </tr>
                            <tr hidden >
                                <td>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <span style="font-weight: 500;">{{sysLanguages.AddInvoiceEditPrice}} (+-)</span>
                                        </div>
                                        <div class="col-md-5">
                                           <!-- <input (blur)="total()" id="price" type="number" data-toggle="tooltip"  value="0" class="form-control pull-left" name="adjustment"  aria-invalid="false"> -->
                                        </div>
                                    </div>
                                </td>
                                <td id="priceText" class="adjustment">0.00 TL</td>
                            </tr>
                            <tr>
                              <td><span style="font-weight: 500;">{{ sysLanguages.PcTotalTax }} :</span></td>
                              <td style="width: 19%;"><span id="topTax" style="float: right;margin-right:18%;">{{ topTax.toLocaleString() }} {{currency}}</span></td>
                            </tr>
                            <tr>
                              <td><span style="font-weight: 500;">{{sysLanguages.AddInvoiceTotal}} :</span>
                              </td>
                              <td style="width: 19%;"><span id="total" style="float: right;margin-right:18%;">0.00 {{currency}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
    </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
      <div class="col-md-12">
          <p>{{sysLanguages.AddTaskDescText}}:</p>
          <textarea class="form-control" rows="3" style="margin-top: 15px;width:100%;"  class="form-control" id="CostDesc" value="{{CostData.CostDesc}}"></textarea>
      </div>
  </nb-card-body>
  <nb-card-footer>
      <button *ngIf = "loading == false" class="btnClass" (click)="saveCost()" >{{sysLanguages.LeadSaveButtonText}}</button>
      <button *ngIf = "loading == true" class="btnClass" > <div class="loader"></div> </button>
  </nb-card-footer>
</nb-card>
