<nb-card id="tabs">
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
    <button class="btnClass" (click)="editCustomer(customerId)">{{sysLanguages.CustomerEdit}}</button>
  </nb-card-body>
</nb-card>


<nb-card>
  <nb-card-header>
      <button class="btn" (click)="addLead()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{sysLanguages.AddLeadButtonText}}</button>
  </nb-card-header>
  <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="LeadList"  (edit)="editLead($event)" (userRowSelect)="editLead($event)" ></ng2-smart-table>
  </nb-card-body>
</nb-card>