
<nb-card id="tabs">
    <nb-card-body>
      <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
      <button class="btnClass" (click)="openUrl('pages/customer/add-edit-customer', customerId)">{{sysLanguages.CustomerEdit}}</button>
    </nb-card-body>
  </nb-card>


<nb-card id="CustomerTable">
  <nb-card-header>
      <button class="btn" (click)="openDialog(dialogAddContact, 'save', $event)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{sysLanguages.AddContactHeaderText}}</button>
  </nb-card-header>
  <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="contactList" (delete)="deleteContact($event)" (create)="openDialog(dialogAddContact, 'save', $event)" (edit)="openDialog(dialogAddContact, 'update', $event)" ></ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialogAddContact let-data let-ref="dialogRef">
    <nb-card style="width:25rem;">
      <nb-card-header style="height:40px;background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">
        <p style="margin-left:15px;">{{dialogTitle}}</p>
      </nb-card-header>
      <nb-card-body style="overflow:visible;">
        <div class="col-md-12">
                <p >{{sysLanguages.ContactTableFullnameText}}:</p>
                <input type="text" nbInput id="Fullname" value="{{ contactData.Fullname }}" style="width:100%">
                <p >Mail:</p>
                <input type="text"  nbInput id="Email" value="{{ contactData.Email }}" style="width:100%" >
                <p >{{sysLanguages.ContactTablePhoneText}}:</p>
                <input  type="text" nbInput id="Phone" value="{{ contactData.Phone }}" style="width:100%">
                <p >{{sysLanguages.ContactTablePositionText}}:</p>
                <input type="text" nbInput id="Position" value="{{ contactData.Position }}" style="width:100%">
                <p >Parola:</p>
                <input type="password" nbInput id="Password" style="width:100%">
                <p *ngIf="!customerId">{{sysLanguages.ContactTableCustomerText}}:</p>
                <p-dropdown [options]="customerList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.38rem 0.80rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedCustomer" filter="true" *ngIf="!customerId" showClear="true">
                  <ng-template let-cust pTemplate="item">
                      <div class="ui-helper-clearfix" style="background-color: #ffffff">
                          <div style="font-size:14px;margin-top:4px;">{{cust.label}}</div>
                      </div>
                  </ng-template>
                </p-dropdown> 
        </div>
      </nb-card-body>
      <nb-card-footer>
          <div class="form-group" style="float:right;margin-right: 5%;">
              <button nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" (click)="save(ref)">{{sysLanguages.SaveContactButtonText}}</button>
          </div>        
      </nb-card-footer>
    </nb-card>
  </ng-template> 