<nb-card style="width: 100%">
  <nb-card-body>
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
      <select class="select" *ngIf="proposalArray.StatusId != 7" id="convertProposal" (change)="convertProposal($event)">
        <option value="5" class="selectOption" disabled selected>{{ sysLanguages.PcConvert }}</option>
        <option class="selectOption" value="0">{{ sysLanguages.ProfcProform }}</option>
        <option class="selectOption" value="1">{{ sysLanguages.AddInvoiceText }}</option>
      </select>
      <button class="btnClassConverted" *ngIf="proposalArray.StatusId == 7">{{ sysLanguages.PcConvertedStatus }}</button>
      <button class="btnClass" (click)="openUrl('/pages/proposals/add-edit-proposal')">{{sysLanguages.PcEditProposal}}</button>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
      <div class="row">
          <div class="col-md-6 border-right project-overview-left">
              <div class="row">
                  <div class="col-md-12">
                      <p class="project-info bold font-size-14">
                          <strong class="header">{{sysLanguages.PcProposalInformation}}</strong> </p>
                  </div>
                  <div class="col-md-12">
                      <table class="table no-margin project-overview-table">
                          <tbody>
                              <tr>
                                  <td class="bold">{{sysLanguages.PcSubject}} :</td>
                                  <td> {{proposalArray.Subject}}
                                  </td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadTablePhoneText}} :</td>
                                  <td>{{ proposalArray.Phone }}</td>
                              </tr>
                              <tr *ngIf="proposalArray.Customer != 'No Customer'">
                                  <td class="bold">{{sysLanguages.LeadTableCompanyText}} :</td>
                                  <td>{{ proposalArray.Customer }}</td>
                              </tr>
                              <tr *ngIf="proposalArray.LeadId != 0">
                                  <td class="bold">{{ sysLanguages.PcLead }} :</td>
                                  <td>{{ proposalArray.LeadName }}</td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadAddressText}} :</td>
                                  <td>{{proposalArray.Address}}
                                  </td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadCityText}} :</td>
                                  <td>{{ proposalArray.City }}</td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadTownText}} :</td>
                                  <td>{{ proposalArray.Town }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-md-6 project-overview-right">
              <div class="row">
                  <div class="col-md-12">
                      <p class="project-info bold font-size-14">
                          <strong class="header">{{sysLanguages.GeneralInformation}}</strong> </p>
                          <div class="dropdown">
                            <button class="dropbtn ion-android-document"></button>
                            <div class="dropdown-content">
                            <a style="cursor: pointer;" (click)="openUrl('/proposal')">{{ sysLanguages.PcShowProposal }}</a>
                            <a style="cursor: pointer;" (click)="openUrl('/proposal/pdf')">{{ sysLanguages.PcDownload }}</a>
                            </div>
                          </div>   
                  </div>
                  <div class="col-md-12">
                      <table class="table no-margin project-overview-table">
                          <tbody>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadTableStatusDescText}} :</td>
                                  <td> {{ proposalArray.Status }}
                                  </td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadTableUserNameText}} :</td>
                                  <td>{{ proposalArray.User }}</td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.PcProject}} :</td>
                                  <td>{{ proposalArray.Project }}</td>
                              </tr>
                              <tr>
                                  <td class="bold"> {{sysLanguages.LogTableCreatedDate}} :</td>
                                  <td>{{ proposalArray.CreatedDate }}
                                  </td>
                              </tr>
                              <tr>
                                <td class="bold"> {{sysLanguages.ProfcExpiredDate}} :</td>
                                <td>{{ proposalArray.ExpiredDate }}
                                </td>
                            </tr>
                              <tr>
                                  <td class="bold"> {{sysLanguages.AddInvoiceTablePrice}} :</td>
                                  <td>{{ proposalArray.Amount }}
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="productList" ></ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <textarea rows="3" cols="90" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" class="form-control" id="comment" ></textarea>
        <br/>
        <input type="text" placeholder="Link" class="form-control" id="FileUri">
        <br/>
        <button *ngIf="loading == true" nbButton size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" > <div class="loader"></div> </button>
        <button nbButton *ngIf="loading == false" (click)="saveComment()" size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
    </nb-card-body>
    <nb-card-body>
      <hr />
      <br/>
      <div class="commentCard" *ngFor = "let com of CommentList | paginate: { itemsPerPage: 4, currentPage: p} " >
          <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
          <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
          <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
          <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}"> {{com.FileUri}} </a>
          <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
      </div>
      <br/>
      <pagination-controls autoHide="true" responsive="true" previousLabel="{{sysLanguages.PreviousText}}" nextLabel="{{sysLanguages.NextLabelText}}" maxSize="8" (pageChange)="p = $event"></pagination-controls>
  </nb-card-body>
</nb-card>
