.headerStatus
{
    width: 250px;
    float: right;
}

.leftpanel
{
    float: left;
}

.rightPanel
{
    float: right;
}

.panelText
{
    margin-top: 15px;
}

.dateGroup
{
    margin-top: 15px;
    width: 100%;
    float: left;
}

.leftDateGroup
{
    display: inline-block; 
    width: 40%;
}

.rightDateGroup
{
    display: inline-block;
    width: 40%;
    margin-left: 20%;
}

.btnClass
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    float: right;
    font-size: 10px; 
    margin-left:8px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: 2px solid transparent;
    -webkit-transition: none;
    transition: none;
    cursor: default;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.375rem;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left : 5px;
}