::ng-deep.input-container
{
    border: 2px solid #dadfe6;
    border-radius: 0.375rem;
    height: 41px !important;
    padding: 0px 0px !important;
}

::ng-deep.autocomplete-container
{
    height: 0px !important;
}

::ng-deep.material-icons
{
    visibility: hidden;
}

::ng-deep.autocomplete-container .input-container input
{
    height: 36px !important;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left : 5px;
}