<nb-card >
    <nb-card-header style="height: 4rem;" >
        <p>{{title}}</p>     
        <button size="tiny" (click)="createCustomer()" style="margin-right:5px;float:right;margin-top:-38px;height: 30px; background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); display: none;border-radius: 5px; color: white;" id="createCustomer" >{{sysLanguages.CreateCustomer}}</button>
        <button size="tiny" (click)="CallAgain()" style="margin-right:150px;margin-top:-38px;height: 30px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); display: none;border-radius: 5px; color: white;float:right;" id="CallAgain" >{{sysLanguages.DashBoardLeadChartCallAgain}}</button>
    </nb-card-header>
    <nb-card-body style="margin:auto;">
             <div class="form-group" style="width:12%;display: inline-block;float:left;"  >
              {{sysLanguages.LeadCalledStatus}} <strong style="color: red">*</strong>
              <p-dropdown [options]="PossibilityList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '32px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="leadArray[0].selectedItem4" filter="true" showClear="true">
                <ng-template let-possibility pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;">{{possibility.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:12%;display: inline-block;float:left;margin-left: 5%;" >
                  {{sysLanguages.LeadTableStatusDescText}} <strong style="color: red">*</strong>
                <p-dropdown [options]="StatusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '32px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="leadArray[0].selectedItem1" filter="true" showClear="true">
                  <ng-template let-status pTemplate="item">
                      <div class="ui-helper-clearfix" style="background-color: #ffffff;width: 150px;">
                          <div style="font-size:14px;">{{status.label}}</div>
                      </div>
                  </ng-template>
              </p-dropdown>
            </div>
            <div class="form-group" style="width:12%;display: inline-block;float:left;margin-left: 5%;" >
                  {{sysLanguages.LeadTableSourceDescText}} <strong style="color: red">*</strong>
                <p-dropdown [options]="SourceList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '32px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="leadArray[0].selectedItem2" filter="true" showClear="true">
                  <ng-template let-source pTemplate="item">
                      <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                          <div style="font-size:14px;">{{source.label}}</div>
                      </div>
                  </ng-template>
              </p-dropdown>
            </div>
            <div class="form-group" style="width:12%;display: inline-block;float:left;margin-left: 5%;" >
               Bound <strong style="color: red">*</strong>
              <p-dropdown [options]="CallList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '32px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="leadArray[0].selectedItem3" filter="true" showClear="true">
                <ng-template let-called pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                        <div style="font-size:14px;">{{called.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:12%;display: inline-block;float:left;margin-left: 5%;" >
              {{sysLanguages.TpAddTaskDialogTeamText}}
              <p-dropdown [options]="TeamList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '32px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}"  [(ngModel)]="leadArray[0].selectedItem5" filter="true" showClear="true">
                <ng-template let-team pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;width: 150px;">
                        <div style="font-size:14px;">{{team.label}}</div>
                    </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="form-group" style="width:12%;display: inline-block;float:left;margin-left: 5%;" >
              {{sysLanguages.LeadTableUserNameText}} 
              <p-dropdown [options]="UserList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '32px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="leadArray[0].selectedItem" filter="true" showClear="true">
                <ng-template let-user pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;width: 150px;">
                        <div style="font-size:14px;">{{user.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:48%;display: inline-block;float:left;">
              {{sysLanguages.LeadName}} <input type="text" class="form-control" placeholder="{{sysLanguages.LeadName}}"  value="{{leadArray[0].LeadName}}" id="leadname">
            </div>
            <div class="form-group" style="width:48%;display:inline-block;float:left;margin-left:4%;">
              {{sysLanguages.Tags}}
              <tag-input [(ngModel)]="items" [secondaryPlaceholder]="'Tag'"  [modelAsStrings]="true"> </tag-input>   
            </div>
            <div class="form-group" style="width:48%;display: inline-block;float:left;height: 40px;">
              {{sysLanguages.LeadTableCompanyText}}
                <ng-autocomplete
                [data]="_customers"
                [searchKeyword]="keyword"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                [(ngModel)]="customerName">                                    
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>
                    
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template> 
            </div>
            <div class="form-group" style="width:48%;display:inline-block;float:left;margin-left:4%;height: 40px;">
              {{sysLanguages.ContactTableFullnameText}}
              <ng-autocomplete
                [data]="_contacts"
                [searchKeyword]="keyword1"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
                (selected)='selectEventContact($event)'
                (inputChanged)='onChangeSearchContact($event)'
                [(ngModel)]="contactName">                                    
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>
                    
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template> 
            </div>
            <div class="form-group" style="width:48%;display: inline-block;float:left;margin-top:10px;">
              {{sysLanguages.PositionText}} <input type="text"  placeholder="{{sysLanguages.PositionText}}" class="form-control" value="{{leadArray[0].Position}}" id="position">
            </div>
            <div class="form-group" style="width:48%;display:inline-block;float:left;margin-left:4%;margin-top:10px;">
              E-mail <input type="text" placeholder="E-mail" class="form-control" value="{{leadArray[0].Email}}" id="email">
            </div>
            <div class="form-group" style="width:48%;display: inline-block;float:left;">
              {{sysLanguages.LeadTablePhoneText}} <strong style="color: red">*</strong> <input type="text" placeholder="{{sysLanguages.LeadTablePhoneText}}" class="form-control" value="{{leadArray[0].Phone}}" id="phone">
            </div>
            <div class="form-group" style="width:48%;display:inline-block;float:left;margin-left:4%;">
              <div>
                {{sysLanguages.LeadCreatedDateText}} 
                <input [nbDatepicker]="datepicker" placeholder="{{sysLanguages.LeadCreatedDateText}}" class="form-control"  value="{{leadArray[0].CreatedDate}}" id="createdDate">
                <nb-datepicker #datepicker ></nb-datepicker>
              </div>      
            </div>
            <div id="customerInput" class="form-group" style="width:48%;display: inline-block;float:left;">
              {{sysLanguages.LeadMobilePhoneText}} <input type="text" placeholder="{{sysLanguages.LeadMobilePhoneText}}" class="form-control" value="{{leadArray[0].MobilePhone}}" id="mobilephone">
            </div>
           <!-- <div *ngIf="add == 'true'" id ="contacts" class="form-group" style="width:22%;display:none;float:left;margin-left: 4%;">
              {{sysLanguages.AddTaskUsersText}} <strong style="color: red">*</strong>
              <p-dropdown [options]="_CopycontactList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '40px', 'padding': '0.7rem 0.75rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="leadArray[0].selectedItem6" filter="true" showClear="true">
                <ng-template let-contact pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;width: 150px;">
                        <div style="font-size:14px;">{{contact.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div *ngIf="add == 'false'" id ="contacts1" class="form-group" style="width:22%;display:inline-block;float:left;margin-left:4%;">
              {{sysLanguages.AddTaskUsersText}} <strong style="color: red">*</strong>
              <p-dropdown [options]="contactList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '40px', 'padding': '0.7rem 0.75rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="leadArray[0].selectedItem6" filter="true" showClear="true">
                <ng-template let-contact pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;width: 150px;">
                        <div style="font-size:14px;">{{contact.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>-->
            <div class="form-group" style="width:48%;display: inline-block;float:left;margin-left: 4%">
              {{sysLanguages.LeadWebsiteText}} <input type="text" placeholder="{{sysLanguages.LeadWebsiteText}}" class="form-control"  value="{{leadArray[0].Website}}" id="website">
            </div>
            <div class="form-group" style="width:48%;display:inline-block;float:left">
              {{sysLanguages.LeadCityText}} <strong style="color: red">*</strong>  <input type="text"  placeholder="{{sysLanguages.LeadCityText}}" class="form-control" value="{{leadArray[0].City}}" id="city">    
            </div>
            <div class="form-group" style="width:48%;display: inline-block;float:left;margin-left: 4%">
              {{sysLanguages.LeadTownText}} <input type="text"  placeholder="{{sysLanguages.LeadTownText}}" class="form-control" value="{{leadArray[0].Town}}" id="town">
            </div>
            <div class="form-group" style="width:100%;display:inline-block;float:left;">
              {{this.sysLanguages.LeadAddressText}} <strong style="color: red">*</strong>  <textarea rows="2" cols="20" placeholder="{{this.sysLanguages.LeadAddressText}}" class="form-control" value="{{leadArray[0].Address}}" id="address"></textarea>
            </div>
            <div class="form-group" style="width:100%;display:inline-block;float:left;">
                  {{this.sysLanguages.LeadTableLeadDescText}}  <textarea rows="3" cols="20" placeholder="{{this.sysLanguages.LeadTableLeadDescText}}" class="form-control" value="{{leadArray[0].LeadDesc}}" id="desc"></textarea>
            </div>
            <div class="form-group" style="width:100%;display:inline-block;float:left;">
              <input  type="checkbox" name="Private" id="chckbox" [(ngModel)]="isChecked" (change)="privateLead(isChecked?'1':'0')" > {{sysLanguages.PrivateStatus}}
            </div>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-body style="overflow: visible;">
        <div class="col-md-12">
            <p>{{sysLanguages.AddInvoiceProducts}}:</p>
            <p-dropdown [options]="productList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedProduct" (ngModelChange)="getProductDetail($event)" filter="true" showClear="true">
                <ng-template let-product pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{product.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <br>
            <br>
            <thead style="color:white;background:#415164;line-height: 2;">
                    <tr>
                        <th width="700px;" align="left">{{sysLanguages.AddInvoiceTableProduct}}</th>
                        <th width="700px;" align="left">{{sysLanguages.AddInvoiceTableDesc}}</th>
                        <th width="700px;" float="right" align="right"><p style="margin-left:50%;">Operations</p></th>
                    </tr>
                </thead>
            <tbody class="line">
              <ng-container *ngFor="let data of LineData; let i = index">
                <tr *ngIf="!LeadID" id="lineData_{{i}}">
                    <td>
                        <textarea class="form-control a1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.AddTaskDescText }}" id="a1" value="{{ data.ProductName }}"></textarea>
                    </td>
                    <td>
                         <textarea class="form-control b1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.PcLongDescription }}" value="{{ data.LineDesc }}" id="b1"></textarea>
                    </td>
                    <td>
                        <button class="btn" *ngIf="i == 0" (click)="createLine()" style="margin-left:50%;margin-top: 15px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" >✓</button>
                    </td>
                </tr>

                <tr *ngIf="LeadID" id="lineData_{{i}}">
                    <td *ngIf="i == 0">
                        <textarea class="form-control a1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.AddTaskDescText }}" class="form-control" id="a1" value="{{ data.ProductName }}"></textarea>
                    </td>
                    <td *ngIf="i != 0">
                        <p id="a1" *ngIf="data.ProductId != 0" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductName }} </p>
                    </td>
                    <td *ngIf="i == 0">
                         <textarea class="form-control b1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.PcLongDescription }}" class="form-control" value="{{ data.LineDesc }}" id="b1"></textarea>
                    </td>
                    <td *ngIf="i != 0">
                        <p id="b1" *ngIf="data.ProductId != 0" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.LineDesc }} </p>
                   </td>
                    <td>
                        <button class="btn" *ngIf="i == 0" (click)="createLine()" style="margin-left:50%;margin-top: 15px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" >✓</button>
                        <button class="btn" id="deleteLineBtn_{{i}}" *ngIf="i != 0" (click)="deleteeditLine($event)" style="margin-top: 15px;background-color: red;margin-left:50%;" >x</button>
                    </td>
                </tr>
               </ng-container> 
            </tbody> 
            </div>
    </nb-card-body>
    <nb-card-footer style="height:50px;">
        <div class="form-group" style="float:right;margin-right: 5%;margin-top:-10px;">
            <button *ngIf="loading == false" nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" size="tiny" (click)="save()" >{{sysLanguages.LeadSaveButtonText}}</button>
            <button *ngIf="loading == true" nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);width: 70px;" size="tiny" > <div class="loader"></div> </button>
      </div>
    </nb-card-footer>
  </nb-card>
