<nb-card id="tabs">
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
    <button class="btnClass" (click)="openUrl('pages/customer/add-edit-customer', customerId)">{{sysLanguages.CustomerEdit}}</button>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <form action="" method="POST">
      <input #file type="file" id="_file" (change)="uploadFiles(file.files)" multiple>
      <p>{{ sysLanguages.CustomerFileDragText }}</p>
    </form>
    <br/>
    <br/>
    <br/>
    <br/> 
    <br/>
    <button class="btnClass" (click)="openDialog(dialogAddLink, 0)">{{ sysLanguages.CustomerAddFolderLink }}</button>
    <br/>
    <br/> 
    <ng2-smart-table [settings]="settings" [source]="fileList" (edit)="openDialog(dialogSendMail, $event)" ></ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialogSendMail let-data let-ref="dialogRef">
  <nb-card class="dialogSendMail">
      <nb-card-header class="dialogSendMailHeader">{{ sysLanguages.CustomerSendFileText }}</nb-card-header>
      <nb-card-body class="dialogSendMailBody">
        <p class="dialogSmFormTexts">{{ sysLanguages.CustomerWhoText }}:</p>
        <input type="text" nbInput class="form-control dialogSmFormGroup" id="mailWho">
        <p class="dialogSmFormTexts">{{ sysLanguages.CustomerSubjectext }}:</p>
        <input type="text" nbInput class="form-control dialogSmFormGroup" id="mailSubject">
        <p class="dialogSmFormTexts">{{ sysLanguages.CustomerMessageText }}:</p>
        <textarea nbInput fullWidth class="form-control dialogSmFormGroupTextArea" id="mailMessage"></textarea>
      </nb-card-body>
      <nb-card-footer>
        <button *ngIf = "loading == false" nbButton (click)="sendMail(ref)" class="dialogSendBtn" >{{ sysLanguages.CustomerSendFileText }}</button>
        <button *ngIf = "loading == true" nbButton  class="dialogLoadingBtn" > <div class="loader"></div> </button>
      </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogAddLink let-data let-ref="dialogRef">
  <nb-card class="dialogAddLink">
    <nb-card-header class="dialogSendMailHeader">{{ sysLanguages.CustomerAddFolderLink }}</nb-card-header>
    <nb-card-body class="dialogSendMailBody">
      <p class="dialogSmFormTexts">{{ sysLanguages.CustomerFileName }}:</p>
      <input type="text" nbInput class="form-control dialogSmFormGroup" id="_fileName">
      <p class="dialogSmFormTexts">{{ sysLanguages.CustomerFileUrl }}:</p>
      <input type="text" nbInput class="form-control dialogSmFormGroup" id="_fileLink">
    </nb-card-body>
    <nb-card-footer>
      <button *ngIf = "loading == false" nbButton (click)="addFile(ref)" class="dialogSendBtn" >{{ sysLanguages.CustomerAddText }}</button>
      <button *ngIf = "loading == true" nbButton  class="dialogLoadingBtn" > <div class="loader"></div> </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
