.btnClass
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    float: right; 
    margin-top: -45px;
    width: 11%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #3ab1f0;
    border-radius: 5%;
    color: white;
    height: 3rem;
}

form
{
    width: 100%;
    height: 200px;
    border: 4px dashed black;
    cursor: pointer;
}

form p
{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: black;
    font-family: Arial;
}

form input
{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 97%;
    height: 200px;
    outline: none;
    opacity: 0;
}

.dialogSendMail
{
    width: 50rem;
    height: 40rem;
}

.dialogAddLink
{
    width: 50rem;
}

.dialogSendMailHeader
{
    background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);
    color:white;
}

.dialogSendMailBody
{
    overflow: auto;
}

.dialogSmFormGroup
{
    width: 100%;
}

.dialogSmFormTexts
{
    margin-top: 15px;
}

.dialogSmFormGroupTextArea
{
    height: 35% !important;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left : 5px;
}

.dialogSendBtn
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    font-size: 10px;
    float: right;
}

.dialogLoadingBtn
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    font-size: 5px;
    float: right;
}

:host /deep/ .route-tabset
{
  width : 89%;
  overflow-x : scroll;
  overflow-y : hidden; 
}
