<nb-card>
  <nb-card-header>
        <div class="headerStatus">
          <p-dropdown [options]="customerStatusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="customerData.StatusID" filter="true" showClear="true">
              <ng-template let-stat pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                  </div>
              </ng-template>
          </p-dropdown> 
        </div>
  </nb-card-header>

<nb-card-body style="overflow:visible;">
    <div class="col-md-6" class="leftpanel">
      <p class="panelText">{{ sysLanguages.CustomerAddDialogCustomerInput }} <strong style="color: red">*</strong> :</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.CustomerName }}" id="customerName"/>
      <p class="panelText">{{sysLanguages.BrandName}}:</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.BrandName }}" id="brandName"/>
      <p class="panelText">{{ sysLanguages.CustomerAddDialogTaxInput }}:</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.TaxNumber }}" id="customerTax"/>
      <p class="panelText">{{ sysLanguages.CustomerAddDialogPhoneInput }} <strong style="color: red">*</strong> :</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.Phone }}" id="customerPhone"/>
      <p class="panelText">{{ sysLanguages.CustomerAddDialogWebsiteInput }}:</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.Website }}" id="customerWebsite"/>
    </div>
    <div class="col-md-6" class="rightPanel">
      <p class="panelText">{{ sysLanguages.CustomerAddDialogAddressInput }}:</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.Address }}" id="customerAddress"/>
      <p class="panelText">{{ sysLanguages.CustomerAddDialogCityInput }} <strong style="color: red">*</strong> :</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.City }}" id="customerCity"/>
      <p class="panelText">{{ sysLanguages.CustomerAddDialogPostCodeInput }}:</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.PostCode }}" id="customerPostcode"/>
      <p class="panelText">{{ sysLanguages.AddInvoiceDiscount }}:</p>
      <input  type="text" nbInput class="form-control" value="{{ customerData.CustomerDiscount }}" id="customerDiscount"/>
    </div>
</nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <div class="col-md-12">
      <button *ngIf="loading == false" class="btnClass" (click)="saveCustomer()">{{sysLanguages.LeadSaveButtonText}}</button>
      <button *ngIf="loading == true" class="btnClass"> <div class="loader"></div> </button>
    </div>
  </nb-card-body>
</nb-card>