<nb-card>
  <nb-card-body style="overflow: visible;">
    <div class="col-12 col-md-12">
        <p class="classformGroupText">{{sysLanguages.ProductName}}:&nbsp;&nbsp;<strong class="classredStar">*</strong></p>
        <input type="text" value="{{ productData.ProductName }}" class="form-control" placeholder="{{sysLanguages.ProductName}}" id="_name">
        <p class="classformGroupText">{{sysLanguages.ProductLongDesc}}:</p>  
        <textarea rows="3" cols="20" value="{{ productData.ProductDesc }}" class="form-control" id="_productDesc"></textarea>
    </div>
    <div class="col-12 col-md-6 leftPanel">
      <p class="classformGroupText">{{sysLanguages.AddInvoiceTablePrice}}: &nbsp;&nbsp;<strong class="classredStar">*</strong></p>
      <input type="text" value="{{ productData.Price }}" class="form-control" id="_price">
      <p class="classformGroupText">{{sysLanguages.ProductGroup}}:</p>
      <p-dropdown [options]="groupList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="productData.ProductGroup"  filter="true" showClear="true">
          <ng-template let-group pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{group.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
      <p class="classformGroupText">{{sysLanguages.AddInvoiceTableTax}} 1:</p>
      <p-dropdown [options]="taxList" placeholder="Vergi Yok" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="productData.Tax1" filter="true" showClear="true">
          <ng-template let-tax pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{tax.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
    </div>
    <div class="col-12 col-md-6 rightPanel">
      <p class="classformGroupText">{{sysLanguages.AddInvoiceCurrencyType}}:&nbsp;&nbsp;<strong class="classredStar">*</strong></p>
      <p-dropdown [options]="currencyList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="productData.CurrencyId"  filter="true" showClear="true">
          <ng-template let-item pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{item.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
      <p class="classformGroupText">{{sysLanguages.Unit}}:&nbsp;&nbsp;<strong class="classredStar">*</strong></p>
      <input type="text" value="{{ productData.Unit }}" class="form-control" id="_unit">
      <p class="classformGroupText">{{sysLanguages.AddInvoiceTableTax}} 2:</p>
      <p-dropdown [options]="taxList" placeholder="Vergi Yok" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="productData.Tax2"  filter="true" showClear="true">
        <ng-template let-tax pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{tax.label}}</div>
            </div>
        </ng-template>
      </p-dropdown>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    {{sysLanguages.CreateSubProduct}}
  </nb-card-header>
  <nb-card-body style="overflow: visible;" class="productLine">
    <p-dropdown [options]="productList" placeholder="{{sysLanguages.SubProduct}}" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '85%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedSubProduct" filter="true" showClear="true">
        <ng-template let-group pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;">{{group.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    <button class="btn" (click)="addNewProductLine()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;float: right;margin-right: 1%;"> ✓ </button>
      
    <ng-container *ngFor="let data of subProductLineData; let i = index">
      <div style="width:100%;" id="Pline_{{i}}">
          <p id="name{{i}}" style="width: 87.8%; display: inline-block; margin-left: 2%; margin-top: 2%"> {{ data.ProductName }} </p>
          <button id="btn_{{i}}" class="btn" (click)='deleteeditSubProductLine($event)' style="margin-top: 10px;background-color:red;float: right;margin-right: 1%;" >x</button> <input type='hidden' id='subProductId' value="{{ data.ProductRelationId }}">
      </div>
    </ng-container>

  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    {{sysLanguages.CreateSubTaskText}}
    <button (click)="openDialog(dialogAddTask, 'save', 0)" class="addTaskBtn btn"> {{ sysLanguages.ProductConfiguratorAddTask }} </button>
  </nb-card-header>
  <nb-card-body>
    <nb-list *ngIf="productTaskList.length != 0" class="tasklistclass">
      <nb-list-item *ngFor="let task of productTaskList">
        <p id="{{ task.ProductTaskId }}" (click)="openDialog(dialogAddTask, 'update', task.ProductTaskId)" class="productTaskpTag"> <b>{{sysLanguages.TasksTableTascDescText}} : </b> {{ task.Title }} <b style="margin-left: 10px;" > {{sysLanguages.TimeText}} : </b> {{task.TaskTimeAmount}} <strong *ngIf="task.TaskTimeType == 1" > {{sysLanguages.ProductConfiguratorMinuteText}} </strong> <strong *ngIf="task.TaskTimeType == 2" > {{sysLanguages.ProductConfiguratorHourText}} </strong> <strong *ngIf="task.TaskTimeType == 3" > {{sysLanguages.ProductConfiguratorDayText}} </strong> <b style="margin-left: 10px;" > {{sysLanguages.PriceText}} : </b> {{task.Price}} <strong *ngIf = "task.CurrencyTypeId == 1"> ₺ </strong> <strong *ngIf = "task.CurrencyTypeId == 2"> $ </strong> <strong *ngIf = "task.CurrencyTypeId == 3"> € </strong> <strong *ngIf = "task.CurrencyTypeId == 4"> £ </strong> </p>
        <button id="btn" class="btn" (click)='deleteeditProductTask($event)' class="producTaskListDelBtn btn" >x</button>
      </nb-list-item>
    </nb-list>   
    <p class="noTaskClass" *ngIf="productTaskList.length == 0">{{ sysLanguages.ProductConfigNoTaskFound }}</p>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
      <button *ngIf="loadingSave == true" class="btn saveBtn" > <div class="loader"></div> </button>
      <button class="btn saveBtn" *ngIf="loadingSave == false" (click)="saveProduct()"> {{ sysLanguages.AcSave }} </button>
  </nb-card-body>
</nb-card>

<ng-template #dialogAddTask let-data let-ref="dialogRef">
  <nb-card style="margin: auto; width: 50rem; height: 100%;" >
    <nb-card-header style="height: 40px; background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%); color: white;" >
      <p style="margin-left: 5%;float:left;">{{ sysLanguages.ProductConfiguratorAddTask }}:</p>
      <button *ngIf="isUpdateOrSave == 'update'" nbButton  style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size: 7px;float: right;margin-top: -10px;"  (click)="openDialog(dialogAddSubTask,'dialogAddSubTask',0)" >{{sysLanguages.SubTaskText}}</button>
    </nb-card-header>
    <nb-card-body style="overflow: visible">
      <div class="form-group" style="width:90%;display: inline-block;float:left;margin-left: 5%;margin-top: 10px;">
          {{ sysLanguages.AddTaskTitleText }}: <strong style="color: red">*</strong> <input type="text" class="form-control" value="{{ selectedTask.Title }}" id="dialogTaskTitle">
      </div>
      <div class="form-group" style="width:40%;display:inline-block;float:left;margin-left:5%;margin-top: 10px;">
          {{ sysLanguages.PriceText }}:  <input type="text" class="form-control" value="{{ selectedTask.Price }}" id="dialogTaskPrice">
      </div>
      <div class="form-group" style="width:40%;display:inline-block;float: right;margin-right:5%;margin-top: 10px;" >
          {{ sysLanguages.AddInvoiceCurrencyType }}:
        <p-dropdown [options]="currencyList" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedTask.CurrencyId" filter="true" showClear="true">
            <ng-template let-item pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{item.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
      </div>
      <div class="form-group" style="width:40%;display:inline-block;float:left;margin-left:5%;margin-top: 10px;">
        {{sysLanguages.ProductConfiguratorTimeCount}}: <strong style="color: red">*</strong> <input type="text" value="{{ selectedTask.TaskTimeAmount }}" class="form-control" id="dialogTaskTimeCount">
      </div>
      <div class="form-group" style="width:40%;display:inline-block;float:right;margin-right:5%;margin-top: 10px;" >
        {{sysLanguages.ProductConfiguratorTimeType}}:
        <p-dropdown [options]="tasktimetypeList" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedTask.TaskTimeType" filter="true" showClear="true">
            <ng-template let-item pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{item.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
      </div>
      <div class="form-group" style="width:40%;display:inline-block;float:left;margin-left:5%;margin-top: 10px;">
        {{sysLanguages.TpAddTaskDialogTeamText}}:
        <p-dropdown [options]="TeamList" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedTask.TeamId" filter="true" showClear="true">
            <ng-template let-team pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{team.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
      </div>
      <div class="form-group" style="width:40%;display:inline-block;float:right;margin-right:5%;margin-top: 10px;" >
          {{sysLanguages.ProductConfiguratorDayText}} <input title="Görevin proje oluşturma tarihinden kaç gün sonra oluşacağını belirler." class="form-control" type="number" min="0" max="30" value="{{ selectedTask.DayCount }}" id="dialogTaskDayCount">
      </div>
      <div class="form-group" style="width:40%;display:inline-block;float:left;margin-left:5%;margin-top: 10px;" >
        <nb-checkbox [(ngModel)]="repeatedTask" (change)="toggle($event)">Tekrarla</nb-checkbox>
      </div>
    </nb-card-body>        
    <nb-card-footer style="height:50px;">
      <div class="form-group" style="float:right;margin-right: 5%;margin-top:-10px;">
        <button *ngIf="loaddingSaveTask == true" class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);"> <div class="loader"></div> </button>
        <button nbButton *ngIf="isUpdateOrSave == 'update' && loaddingSaveTask == false" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" size="tiny" (click)="updateProductTask(ref)" >{{sysLanguages.LeadSaveButtonText}}</button>
        <button nbButton *ngIf="isUpdateOrSave == 'save' && loaddingSaveTask == false" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" size="tiny" (click)="addTaskToProduct(ref)" >{{sysLanguages.LeadSaveButtonText}}</button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogAddSubTask let-data let-ref="dialogRef">
  <nb-card style="margin: auto; height:25rem; width: 50rem;">
      <nb-card-header style="background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">{{sysLanguages.SubTaskText}}</nb-card-header>
        <nb-card-body style="width: 100%;" >
          {{sysLanguages.AddTaskHeaderText}}
         <br/>
          <input placeholder="{{sysLanguages.SubTaskText}}" style="border-top:none;border-left:none;border-right:none;width: 650px;" type="text" id="subs" class="form-control" (keyup.enter)="addSubTask()" />
          <br/>
          <p *ngIf = "subTaskEmpty == true" ><strong>{{sysLanguages.NoSubTasks}}</strong> </p>
              <nb-list >
                  <nb-list-item *ngFor="let sub of SubTaskList" style="height: 43px;" >
                      <div class="checkbox" style="height: 10px;">
                          <input type="text" style="margin-left:2%;display: inline-block;width: 90%;height: 25px;margin-top: -4px;border: 1px solid #dadfe6;"  class="form-control" id="subTaskk_{{sub.ProductTaskId}}" value="{{sub.Title}}" (blur)="editSubTask(sub.ProductTaskId)">
                          <p style="float: right;font-size: 14px;cursor: pointer;"  class="subAssigneeCard" (click)= "deleteProductTask(sub.ProductTaskId)"  > <strong style="font-size: 15px;margin-left:8px;">x</strong> </p>
                      </div>
                  </nb-list-item>
                </nb-list>
        </nb-card-body>
    </nb-card>
</ng-template>
