.noTaskClass
{
  text-align: center;
  line-height: 10rem;
  font-size: 15px;
  font-weight: 650;
}

.tasklistclass
{
  margin-top: 20px;
  height: 20rem;
}

.productTaskpTag
{
  display: inline-block;
  margin-top: 9px;
  cursor: pointer;
}

.addTaskBtn
{
  background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
  font-size: 10px; 
  float: right; 
  margin-right: 1%;
}

.btn
{
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  border: 2px solid transparent;
  -webkit-transition: none;
  transition: none;
  cursor: default;
  padding: 0.75rem 1.5rem;
  line-height: 1.25;
  border-radius: 0.375rem;
}

.producTaskListDelBtn
{
  float: right;
  display: inline-block;
  vertical-align: top;
  background-color: red;
  width: 6%;
  height: 3rem;
}

.saveBtn
{
  margin-right: 1%;
  background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
  font-size: 10px; 
  float: right;
}

.classformGroupText
{
  margin-top: 15px;
}

.classredStar
{
  color: red;
}

.leftPanel
{
  display: inline-block;
  float: left;
}

.rightPanel
{
  display: inline-block;
  float: right;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left : 5px;
}

.subAssigneeCard
{
  height: 21px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: red;
}