<nb-card *ngIf="isShowingKanban == false">
  <nb-card-body>
    <div class="row" style="margin-left: 2%;" >
      <div class="generalFilterDivfirst" (click)="filterProposal(0)">
          <h3 class="bold no-mtop">{{proposalsCount}}</h3>
          <p  style="color:#03A9F4" class="font-medium no-mbot">
            {{ sysLanguages.PcAll }}    </p>
      </div>
      <div class="generalFilterDiv" (click)="filterProposal(1)">
        <h3 class="bold no-mtop">{{draftProposalsCount}}</h3>
        <p  style="color:#03A9F4" class="font-medium no-mbot">
          {{ sysLanguages.PcDraftStatus }}    </p>
      </div>
      <div class="generalFilterDiv" (click)="filterProposal(2)">
        <h3 class="bold no-mtop">{{sentProposalsCount}}</h3>
        <p  style="color:#a13b3b;" class="font-medium no-mbot">
          {{ sysLanguages.PcSentStatus }}     </p>
      </div>
      <div class="generalFilterDiv" (click)="filterProposal(3)">
        <h3  class="bold no-mtop">{{openedProposalsCount}}</h3>
        <p  style="color:blue;" class="font-medium no-mbot">
          {{ sysLanguages.PcOpenStatus }}     </p>
      </div>
      <div class="generalFilterDiv" (click)="filterProposal(4)">
        <h3  class="bold no-mtop">{{revisedProposalsCount}}</h3>
        <p  style="color:#1ebe8e" class="font-medium no-mbot">
          {{ sysLanguages.PcRevizeStatus }}       </p>
      </div>
      <div class="generalFilterDiv" (click)="filterProposal(5)">
        <h3 class="bold no-mtop">{{refusedProposalsCount}}</h3>
        <p  style="color:orangered" class="font-medium no-mbot">
          {{ sysLanguages.PcRefusedStatus }}     </p>
      </div>
      <div  class="generalFilterDiv" (click)="filterProposal(6)">
        <h3  class="bold no-mtop">{{acceptedProposalsCount}}</h3>
        <p  style="color:#84c529" class="font-medium no-mbot">
          {{ sysLanguages.PcAcceptedStatus }}        </p>
      </div>
      <div  class="generalFilterDivLast" (click)="filterProposal(7)">
        <h3  class="bold no-mtop">{{convertedProposalsCount}}</h3>
        <p  style="color:#06331d" class="font-medium no-mbot">
          {{ sysLanguages.PcConvertedStatus }}        </p>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card >
  <nb-card-header>
      <button class="btnClass" (click)="openUrl('pages/proposals/add-edit-proposal', 0)" >{{ sysLanguages.PcAddProposal }}</button>
      <button class="btnClass" *ngIf="isShowingKanban == false" (click)="showKanban()" >{{ sysLanguages.TasksBackToKanbanButtonText }}</button>
      <button class="btnClass" *ngIf="isShowingKanban == true" (click)="showList()" >{{ sysLanguages.TasksListButtonText }}</button>
  </nb-card-header>
  <nb-card-body *ngIf="isFiltered == false && isShowingKanban == false">
      <ng2-smart-table [settings]="settings" [source]="proposalList" (edit)="openUrl('pages/proposals/proposal-overview', $event.data.ProposalId)" (userRowSelect)="openUrl('pages/proposals/proposal-overview', $event.data.ProposalId)" ></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf="isFiltered == true && isShowingKanban == false">
      <ng2-smart-table [settings]="settingsforFilter" [source]="filteredProposalList" (edit)="openUrl('pages/proposals/proposal-overview', $event.data.ProposalId)" (userRowSelect)="openUrl('pages/proposals/proposal-overview', $event.data.ProposalId)" ></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf="isShowingKanban == true">
      <div class="column">
          <div class="divColumn" id="colname-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}" *ngFor="let stat of proposalStatusList">
            <div class="oneColumn" id="column-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}">
                <div class="columnMenu">
                  <p class="columnDesc"> <strong>{{ stat.StatusDesc }}</strong></p>              
                </div>
                <br/>
                <br/>
                <button nbButton (click)="openUrl('pages/proposals/add-edit-proposal', 0)" class="addProposalBtn" status="info">+</button>
                <br/>
                <br/>
                <div class="columnCards" (drop)="dropProposal($event)" (dragover)="allowDrop($event)" id="col_{{ stat.StatusId }}">
                  <ng-container *ngFor="let prop of proposalList">
                    <ng-container *ngIf="stat.StatusId == prop.StatusId">
                      <nb-card  class="cardProposalDesc" draggable="true" (dragstart)="dragProposal($event)" [style.background-image]="gray"  id="prop_{{prop.ProposalId}}">
                        <nb-card-body (click)="openUrl('pages/proposals/add-edit-proposal', prop.ProposalId)" id="prop_desc_{{prop.ProposalId}}"> 
                          {{ prop.Subject }}
                          <br/>
                          <br/>
                          <div class="assignedProposalCard"><p style="text-align: center;line-height: 25px;">{{ prop.Fullname }}</p></div>
                          <p class="amountProposalCard">{{ prop.Amount }}</p>
                        </nb-card-body>
                      </nb-card>
                    </ng-container> 
                  </ng-container>
              </div>
            </div>
          </div>          
        </div>
  </nb-card-body>
</nb-card>