.btnClass
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    float: left;
    font-size: 10px; 
    margin-left: 8px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: 2px solid transparent;
    -webkit-transition: none;
    transition: none;
    cursor: default;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.375rem;
}

.column
{
  white-space: nowrap; 
  overflow-y: scroll;
}

.divColumn
{
  display: inline-block;
  padding-right: 30px;
}

.oneColumn
{
  background:#ebeff5;
  display: inline-block;
}

.columnMenu
{
  font-size: 15px;
  display: inline-block;
  width: 18rem;
  text-align: center;
}

.columnDesc
{
  width:17rem;
  display: inline-block;
  font-size: 15px;
}

.addProposalBtn
{
  margin-top:-7%;
  padding-top: 0px;
  padding-bottom: 30px;
  width: 18rem;
  height: 1rem;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
}

.columnCards
{
  height: 600px; 
  overflow: auto;
}

.cardProposalDesc
{
  width: 17rem;
  overflow: hidden;
  word-wrap: break-word;
  margin-left:3%;
}

.assignedProposalCard
{
  display: inline-block;
  float: left;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

.amountProposalCard
{
  display: inline-block;
  float: right;
}

.generalFilterDiv
{
    border-right: 1px solid rgb(192, 191, 191);
    text-align: center;
    width: 12%;
    cursor: pointer;
}

.generalFilterDivfirst
{
    //border-left: 1px solid rgb(192, 191, 191);
    border-right: 1px solid rgb(192, 191, 191);
    text-align: center;
    width: 12%;
    cursor: pointer;
}

.generalFilterDivLast
{
    border-left: 1px solid rgb(192, 191, 191);
    text-align: center;
    width: 12%;
    cursor: pointer;
}