@import '../../styles/themes';

@include nb-install-component() {
  h6 {
    margin-bottom: 0.875rem;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  }

  .addTaskIcon
  {
    display: inline-block;
    vertical-align: top;
    font-size: 28px;
    margin-right: 65%;
    cursor: pointer;
  }

  .addTaskText
  {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    margin-left: 8px;
    margin-top: -45px;
    cursor: pointer;
  }

  .closeTaskIcon
  {
    display: inline-block;
    vertical-align: top;
    font-size: 28px;
    margin-left: 75%;
    margin-top: -46px;
    cursor: pointer;
  }

  .detailIcon
  {
    display: inline-block;
    vertical-align: top;
    font-size: 28px;
    margin-left: 115%;
    margin-top: -30px;
    cursor: pointer;
  }

  .taskFormGroups
  {
    width: 100%;
    height: 32px;
  }

  .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left : 5px;
  }


  .addTaskBtn
  {
    width: 7rem;
    margin-left: 23%;
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
  }

  .taskListGroups
  {
    width: 13rem;
    display: inline-block;
  }

  .completeCheckbox
  {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
  }

  ::ng-deep.customised-control
  {
    width: 0px !important;
  }

  .tasklistclass
  {
    height: 75%;
  }

  .chipsclass
  {
    margin-left: -7%;
    width: 93%;
    display: inline-block; 
    vertical-align: top;
  }

  .settings-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 2.575rem;

    a {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 4.15rem;
      height: 4.15rem;
      border-radius: nb-theme(radius);
      background-color: nb-theme(color-white);
      border: 2px solid transparent;
      margin: 0.875rem;
      text-decoration: none;
      font-size: 2.25rem;
      color: nb-theme(color-fg);

      &.selected {
        color: nb-theme(color-success);
        border-color: nb-theme(color-success);
      }

      @include nb-for-theme(cosmic) {
        box-shadow: 0 4px 14px 0 rgba(19, 19, 94, 0.4);
        background-color: #3e367e;
        border: 2px solid #3e367e;
        &.selected {
          color: nb-theme(link-color);
        }
      }
    }
  }

  .settings {
    margin-bottom: 1em;
  }

  .switcher {
    margin-bottom: 1rem;
    font-size: 1.524rem;
    width: 12rem;

    /deep/ ngx-switcher {
      .switch-label span {
        font-size: 1em;
        font-weight: normal;
        &.first, &.second {
          font-size: 1rem;
        }
      }

      .switch {
        height: 1.5em;
        width: 3em;

        .slider::before {
          height: 1.5em;
          width: 1.5em;
        }

        input:checked + .slider::before {
          @include nb-ltr(transform, translateX(1.5em)!important);
          @include nb-rtl(transform, translateX(-1.5em)!important);
        }
      }

      @include nb-for-theme(cosmic) {
        .switch .slider {
          background-color: nb-theme(color-bg);
        }
      }
    }
  }
}
