
<nb-card>
    <nb-card-header>
         {{ sysLanguages.LogHeaderText }}
    </nb-card-header>
    <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="LogList" ></ng2-smart-table>
    </nb-card-body>
</nb-card>
