<nb-card>
    <nb-card-body>
        <div class="row" style="margin-left:20px;" >
            <div class="supportAreaClass" (click)="filterSupport('All')">
                <h3 class="bold no-mtop">{{this.allSupportCount}}</h3>
                <p  style="color:#03A9F4" class="font-medium no-mbot">
                  {{sysLanguages.BpAll}}    </p>
              </div>
            <div class="supportAreaClass" (click)="filterSupport('1')">
              <h3 class="bold no-mtop">{{this.openCount}}</h3>
              <p  style="color:red" class="font-medium no-mbot">
                  {{sysLanguages.StatusOpen}}    </p>
            </div>
            <div class="supportAreaClass" (click)="filterSupport('2')">
              <h3 class="bold no-mtop">{{this.continueCount}}</h3>
              <p  style="color:blue;" class="font-medium no-mbot">
                  {{sysLanguages.StatusContinue}}     </p>
            </div>
            <div class="supportAreaClass" (click)="filterSupport('3')">
              <h3  class="bold no-mtop">{{this.answeredCount}}</h3>
              <p  style="color:goldenrod;" class="font-medium no-mbot">
                  {{sysLanguages.StatusAnswered}}    </p>
            </div>
            <div class="supportAreaClass" (click)="filterSupport('4')">
              <h3  class="bold no-mtop">{{this.stayCount}}</h3>
              <p  style="color:gray" class="font-medium no-mbot">
                  {{sysLanguages.StatusStay}}      </p>
            </div>
            <div class="supportAreaClass" (click)="filterSupport('5')">
              <h3 class="bold no-mtop">{{this.closedCount}}</h3>
              <p  style="color:green" class="font-medium no-mbot">
                  {{sysLanguages.StatusClosed}}      </p>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header style="height: 5rem;">
      <button class="btn" (click)="addTicket()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{sysLanguages.NewSupport}}</button>
  </nb-card-header>
  <nb-card-body>
      <ng2-smart-table *ngIf = "filter == false" [settings]="settings" [source]="TicketList" (delete)="onDeleteConfirm($event)" (userRowSelect)="editTicket($event)" (edit)="editTicket($event)" ></ng2-smart-table>
      <ng2-smart-table *ngIf = "filter == true" [settings]="settings" [source]="filteredTicketList" (delete)="onDeleteConfirm($event)" (userRowSelect)="editTicket($event)"  (edit)="editTicket($event)" ></ng2-smart-table>
  </nb-card-body>
</nb-card>