
:host /deep/ .open 
{
    color:red;
    width:100%;
    text-align: left;
    height: calc(0rem + 0px) !important;
    padding: 0 10px !important;
    font-size: 12px;
}

:host /deep/ .close 
{
    color:green;
    width:100%;
    text-align: left;
    height: calc(0rem + 0px) !important;
    padding: 0 10px !important;
    font-size: 12px;
}

:host /deep/ .continue 
{
    color:blue;
    width:100%;
    text-align: left;
    height: calc(0rem + 0px) !important;
    padding: 0 10px !important;
    font-size: 12px;
}

:host /deep/ .answered 
{
    color:goldenrod;
    width:100%;
    text-align: left;
    height: calc(0rem + 0px) !important;
    padding: 0 10px !important;
    font-size: 12px;
}

:host /deep/ .stay 
{
    color:gray;
    width:100%;
    text-align: left;
    height: calc(0rem + 0px) !important;
    padding: 0 10px !important;
    font-size: 12px;
}

.supportAreaClass
{
  border-right: 1px solid rgb(192, 191, 191);
  text-align: center;
  width: 15%;
  cursor: pointer;
}
