<nb-card id="tabs">
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
    <button class="btnClass" (click)="openUrl('pages/customer/add-edit-customer', customerId)">{{sysLanguages.CustomerEdit}}</button>
  </nb-card-body>
</nb-card>


<nb-card>
  <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="proformList"  (edit)="editProform($event)" (userRowSelect)="editProform($event)" ></ng2-smart-table>
  </nb-card-body>
</nb-card>