.btnClass
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    float: right; 
    margin-top: -45px;
    width: 11%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #3ab1f0;
    border-radius: 5%;
    color: white;
    height: 3rem;
}

.commentCard
{
  width: 100%;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  border : 1px solid #dadfe6;
  border-radius: 15px;
  margin-top:15px;
}

:host /deep/ .ngx-pagination
{
  margin-left:39%;
}

:host /deep/ .ngx-pagination a:hover, .ngx-pagination button {
  color:blue;
}
:host /deep/ .ngx-pagination a, .ngx-pagination button {
  color:blue;
}

:host /deep/ .route-tabset
{
  width : 89%;
  overflow-x : scroll;
  overflow-y : hidden; 
}
