<nb-card style="width: 100%">
    <nb-card-body>
      <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
      <button class="btn" (click)="openEditUrl()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; float: right; margin-top: -45px;">{{sysLanguages.EditCost}}</button>
    </nb-card-body>
  </nb-card>
  
  
  <nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6 border-right project-overview-left">
                <div class="row">
                    <div class="col-md-12">
                        <p class="project-info bold font-size-14">
                            <strong class="header">{{sysLanguages.CostOverviewText}}</strong> </p>
                    </div>
                    <div class="col-md-12">
                        <table class="table no-margin project-overview-table">
                            <tbody>
                                <tr >
                                    <td class="bold">{{sysLanguages.CostNameText}} :</td>
                                    <td> {{CostArray[0].CostName}}
                                    </td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.LogTableCreatedDate}} :</td>
                                    <td>{{ CostArray[0].CostDate }}</td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.PaymentDate}} :</td>
                                    <td>{{ CostArray[0].PaymentDate }}</td>
                                </tr>
                                <tr>
                                    <td class="bold">{{sysLanguages.BillableCost}} :</td>
                                    <td>{{CostArray[0].isBilliableText}}
                                    </td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.BoCardStatusText}} :</td>
                                    <td>{{ CostArray[0].CostStatusDesc }}</td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.AddTaskDescText}} :</td>
                                    <td>{{ CostArray[0].CostDesc }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
              <div class="col-md-6 project-overview-right">
                  <div class="row">
                      <div class="col-md-12">
                          <p class="project-info bold font-size-14">
                             <strong class="header">{{sysLanguages.GeneralInformation}}</strong>  </p>
                      </div>
                      <div class="col-md-12">
                          <table class="table no-margin project-overview-table">
                              <tbody>
                                  <tr >
                                      <td class="bold">{{sysLanguages.PcAmount}} :</td>
                                      <td> {{ CostArray[0].Amount }}</td>
                                  </tr>
                                  <tr >
                                      <td class="bold">{{sysLanguages.AddInvoiceCurrencyType}} :</td>
                                      <td>{{ CostArray[0].CurrencyDesc }}</td>
                                  </tr>
                                  <tr >
                                      <td class="bold">{{sysLanguages.CustomerText}}  </td>
                                      <td>{{ CostArray[0].CustomerName }}  </td>
                                  </tr>
                                  <tr >
                                      <td class="bold">{{sysLanguages.ProfcProform}} :</td>
                                      <td> {{ CostArray[0].ProformNumber }}</td>
                                  </tr>
                                  <tr >
                                      <td class="bold">{{sysLanguages.BpInvoice}} :</td>
                                      <td> {{ CostArray[0].InvoiceNumber }}</td>
                                  </tr>
                                  <tr >
                                      <td class="bold">{{sysLanguages.BoardNameText}} :</td>
                                      <td> {{ CostArray[0].BoardName }}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
    </nb-card-body>
  </nb-card>