.logo
{
    margin-top: 2%;
    margin-left: 6%;
}

.leftTopData
{
    display: inline-block;
    margin-left: 8%;
    margin-top: 3%;
}

.rightBtn
{
    display: inline-block;
    float: right;
    margin-top: 3%;
}

.invoiceNumber
{
    font-weight: 500;
    color: black;
    font-size: 20px;
}

.invoiceSubject
{
    font-weight: 500;
    color: black;
    font-size: 17px;
}

.invoiceCard
{
    width: 50%;
    margin-left: 6%;
    display: inline-block;
    vertical-align: top;
}

.summaryDiv
{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    width: 40%;
}

.convertpdfButton
{
    width: 18rem;
    text-transform: none;
    float: right;
    margin-top: 3%;
}

.profajSummaryData
{
    color: black;
    font-size: 14px;
}

.leftSubSummaryPanel
{
    display: inline-block;
    vertical-align: top;
}

.rightSubSummaryPanel
{
    display: inline-block;
    vertical-align: top;
    float: right;
}

.summaryBottomLabel
{
    font-weight: 500;
    color: black;
    font-size: 15px;
    display: inline-block;
}

.summaryBottomValue
{
    color: black;
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
}

.logoforPdf
{
    margin-top: 2%;
    margin-left: 6%;
    width: 15%;
    height: 9%;
}

.profajDataforPdf
{
    vertical-align: top;
    display: inline-block;
    margin-left: 7%;
}

.receiverDataforPdf
{
    vertical-align: top;
    display: inline-block;
    float: right;
    margin-right: 17%;
}

.leftTopDataforPdf
{
    margin-left: 7%;
    margin-top: 3%;
}

.leftBottomDataforPdf
{
    margin-left: 7%;
}

.invoiceCardforPdf
{
    width: 78%;
    margin-left: 6%;
    display: inline-block;
    vertical-align: top;
}

.dialogPdf
{
    width: 94%;
    height: 94%;
    margin-top: 2%;
    margin-left: 3%;
}