<nb-layout>
  <nb-layout-column>
    <div id="pdfScreen">
      <img src="assets/images/logo.png" class="logoforPdf" alt="Profaj Internet Hizmetleri">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="profajDataforPdf">
        <p class="invoiceSubject">Profaj</p>
        <p class="profajSummaryData">Çınarlı Mah. Şehit Polis Fethi Sekin Cad.No: 3/1602 Sunucu </p>
        <p class="profajSummaryData">Plaza Konak / İzmir</p>
        <p class="profajSummaryData">İzmir</p>
        <p class="profajSummaryData">Türkiye 35100</p>
        <p class="profajSummaryData">Vergi Numarası: 7330405975</p>
      </div>
      <div class="receiverDataforPdf">
        <p class="invoiceSubject">{{ sysLanguages.PcToWho }}:</p>
        <p class="profajSummaryData">{{ invoiceData.CustomerName }}</p>
        <p class="invoiceSubject">{{ sysLanguages.CustomerTableColumnContactPerson }}:</p>
        <p class="profajSummaryData">{{ invoiceData.ContactName }}</p>
        <br/>
        <br/>
        <br/>
      </div>
      <br/>
      <br/>
      <div class="leftTopDataforPdf">
        <p class="invoiceNumber"> #PRO-00000{{ invoiceId }}</p>
        <p class="invoiceSubject">{{ invoiceData.CustomerName }}</p>
      </div>
      <br/>
      <br/>
      <div class="leftBottomDataforPdf">
        <p class="summaryBottomLabel"> {{ sysLanguages.PcProposalDate }}:</p>
        <p class="summaryBottomValue">{{ invoiceData.CreatedDate }}</p>
        <br/>
        <p class="summaryBottomLabel"> {{ sysLanguages.LastDatePaymentText }}:</p>
        <p class="summaryBottomValue">{{ invoiceData.LastPaymentDate }}</p>
      </div>
      <br/>
      <nb-card class="invoiceCardforPdf">
        <nb-card-body style="overflow: visible;">
          <div class="col-md-12">
              <thead style="color:white;background:black;line-height: 3;">
                <tr>
                    <th width="600px;" align="left">{{sysLanguages.AddInvoiceTableProduct}}</th>
                    <th width="100px;" align="right">{{sysLanguages.AddInvoiceTablePiece}}</th>
                    <th width="100px;" align="right">{{sysLanguages.AddInvoiceTablePrice}}</th>
                    <th width="150px;" align="right">{{sysLanguages.AddInvoiceDiscount}}</th>
                    <th width="150px;" align="right">{{sysLanguages.AddInvoiceTableTax}}</th>
                    <th width="300px;" align="right">{{sysLanguages.AddInvoiceTableQuantity}}</th>
                </tr>
              </thead>
              <tbody class="line">
                <ng-container *ngFor="let data of lineData">
                  <tr id="lineData_{{i}}">
                      <td>
                          <p *ngIf="data.ProductId != 0" id="a1" style="float: left;margin-top: 26px;margin-left:5px;color: black; font-size: 13px;" ><b> {{ data.ProductName }} </b></p>   
                          <p *ngIf="data.ProductId == 0" id="a1" style="float: left;margin-top: 26px;margin-left:5px;color: black; font-size: 13px;" ><b> {{ data.LineName }} </b></p> 
                          <br/>
                          <br/>
                          <ng-container *ngFor="let _data of data.LineDesc; let i = index">
                            <p id="b1" *ngIf="i == 0" style="margin-top: 25px; margin-left: 10px; font-size: 13px;" > {{ _data.desc }} </p>
                            <p id="b1" *ngIf="i != 0" style="margin-top: 0px; margin-left: 10px; font-size: 13px;" > {{ _data.desc }} </p>
                          </ng-container>            
                      </td>
                      <td>
                          <p id="c1" style="float: left;margin-left:5px;vertical-align: top; font-size: 13px;" > {{ data.ProductCount }} </p>
                      </td>
                      <td>
                          <p id="d1" style="float: left;margin-left:5px; font-size: 13px;" > {{ data.ProductPrice }} </p>
                      </td>
                      <td>
                        <p id="dis1" style="float: left;margin-left:5px; font-size: 13px;" > {{ data.LineDiscount }} </p>
                      </td>
                      <td> 
                          <p id="updatedefaultTax" style="float: left;margin-left:5px; font-size: 13px;">{{ data.updatedefaultTax }}</p>
                      </td>
                      <td>
                          <p id="f1" class="f1" style="float: left;margin-left:5px; font-size: 13px;">{{ data.LineAmount }}</p>
                      </td>
                  </tr>
                  </ng-container> 
              </tbody> 
              <div class="col-md-8 col-md-offset-4" style="float:right;margin-top:3%;">
                <table class="table text-center">
                    <tbody>
                      <tr>
                       <!-- <td><span style="font-weight:500; display: inline-block; float: right; font-size: 13px; color: black;">{{sysLanguages.AddInvoiceTotal}} :</span>
                        </td>
                        <td><span id="total" style=" display: inline-block; float: left; font-size: 12px;">{{ invoiceData.Amount }}</span></td>-->

                        <td><span id="total" style="float:left;margin-left:63%;"> {{sysLanguages.AddInvoiceTotal}}:   {{ invoiceData.Amount }} ({{invoiceData.Discount}} {{currency}} {{sysLanguages.AddInvoiceDiscount}} )</span></td>
                      </tr>
                    </tbody>
                </table>
              </div> 
              </div>
        </nb-card-body>
      </nb-card>
      <br/>
      <br/>
    </div>
  </nb-layout-column>
</nb-layout>
