
<nb-card>
  <nb-card-header>
        <div class="headerStatus">
          <p-dropdown [options]="projectstatusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="projectData.StatusId" filter="true" showClear="true">
              <ng-template let-stat pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                  </div>
              </ng-template>
          </p-dropdown> 
        </div>
  </nb-card-header>

<nb-card-body style="overflow:visible;">
    <div class="col-md-6" class="leftpanel">
        <p class="panelText">{{ sysLanguages.BoardTableNameText }}: <strong style="color: red">*</strong> </p>
          <input  type="text" nbInput class="form-control" id="boardName" value="{{ projectData.BoardName }}"/>
        <div class="form-group" class="dateGroup">
            <div class="form-group" class="leftDateGroup">
                <p class="panelText">{{ sysLanguages.BoardTableStartDateText }}:</p>
                <input  [nbDatepicker]="datepicker1" placeholder="{{ sysLanguages.LogTableCreatedDate }}" class="form-control" id="CratedDate" value="{{ projectData.BeginDate }}">
                <nb-datepicker #datepicker1></nb-datepicker>
            </div>
            <div class="form-group" class="rightDateGroup">
                <p class="panelText">{{ sysLanguages.BoardTableEndDateText }}:</p>
                <input [nbDatepicker]="datepicker2" placeholder="{{ sysLanguages.PcProposalExpirationDate }}" class="form-control" id="LastDate" value="{{ projectData.EndDate }}">
                <nb-datepicker #datepicker2></nb-datepicker>
            </div>
            <br/>
            <br/>
        </div>
        <div class="form-group" class="dateGroup">
            <div class="form-group" class="leftDateGroup">
                <p class="panelText"> Faturalama Seçeneği :</p>
                <p-dropdown [options]="serviceList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedService" filter="true" showClear="true">
                        <ng-template let-subp pTemplate="item">
                            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                                <div style="font-size:14px;margin-top:4px;">{{subp.label}}</div>
                            </div>
                        </ng-template>
                </p-dropdown>
            </div>
            <div class="form-group" class="rightDateGroup">
            </div>
        </div>
        <div class="dateGroup" style="margin-top:15px;">
            <nb-checkbox [(ngModel)]="subsArea" (change)="toggle($event)">Tekrarla</nb-checkbox>
        </div>
        <div *ngIf = "subsArea == true" >
            <div class="form-group" class="dateGroup" >
                <div class="form-group" class="leftDateGroup">
                    <p class="panelText"> Period :</p> 
                    <p-dropdown [options]="subscriptionPeriodList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedSubPeriod" filter="true" showClear="true">
                            <ng-template let-subp pTemplate="item">
                                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                                    <div style="font-size:14px;margin-top:4px;">{{subp.label}}</div>
                                </div>
                            </ng-template>
                    </p-dropdown>
                </div>
                <div class="form-group" class="rightDateGroup" >
                    <p class="panelText">İlk Tekrarlama Tarihi:</p>
                    <input [nbDatepicker]="datepicker3"  class="form-control" id="repetitionDate" placeholder="{{repetitionDateText}}" >
                    <nb-datepicker #datepicker3></nb-datepicker>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" class="rightPanel">
        <p class="panelText">{{ sysLanguages.AddInvoiceCurrencyType }}:</p>
        <p-dropdown [options]="currencyList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="projectData.CurrencyTypeId" filter="true" showClear="true" (onChange)="changeCurrencyType($event.value)" >
            <ng-template let-cur pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{cur.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
      <p class="panelText">{{ sysLanguages.PcRelation }}:</p>
      <p-dropdown [options]="relationList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedRelation" filter="true" showClear="true">
          <ng-template let-rel pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{rel.label}}</div>
              </div>
          </ng-template>
      </p-dropdown> 
      <p class="panelText" *ngIf="selectedRelation == 1">{{ sysLanguages.BpProposal }}:</p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="proposalList" placeholder=" " *ngIf="selectedRelation == 1" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="projectData.Proposal" (onChange)="getRelationData($event.value, 1)" filter="true" showClear="true">
          <ng-template let-proposal pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{proposal.label}}</div>
              </div>
          </ng-template>
      </p-dropdown> 
      <p class="panelText" *ngIf="selectedRelation == 2">{{ sysLanguages.BpProform }}:</p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="proformList" placeholder=" " *ngIf="selectedRelation == 2" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="projectData.Proform" (onChange)="getRelationData($event.value, 2)" filter="true" showClear="true">
          <ng-template let-proform pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{proform.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
      <p class="panelText" *ngIf="selectedRelation == 3">{{ sysLanguages.BpInvoice }}:</p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="invoiceList" placeholder=" " *ngIf="selectedRelation == 3" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="projectData.Invoice" (onChange)="getRelationData($event.value, 3)" filter="true" showClear="true">
          <ng-template let-inv pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{inv.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>  
      <br/>
      <br/>
      <p>{{sysLanguages.BoCardCustomerText}}: <strong style="color: red">*</strong> </p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="customerList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '40px', 'padding': '0.75rem 1.125em', 'border-radius': '0.375rem'}" [(ngModel)]="projectData.CustomerId" (onChange)="getCustomerContacts()" filter="true" showClear="true">
        <ng-template let-cust pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{cust.label}}</div>
            </div>
        </ng-template>
      </p-dropdown>
      <p class="panelText" *ngIf="projectData.CustomerId != 0">{{ sysLanguages.PcContact }}: </p>
      <p-multiSelect [options]="customerContact" defaultLabel=" " *ngIf="projectData.CustomerId != 0" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '40px', 'padding': '0.75rem 1.125em', 'border-radius': '0.375rem'}" [(ngModel)]="selectedCustomerContacts" filter="true" showClear="true"></p-multiSelect>
      <br/>
      <br/>
      <p>{{sysLanguages.TasksResponsible}} : </p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="userList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '40px', 'padding': '0.75rem 1.125em', 'border-radius': '0.375rem'}" [(ngModel)]="projectData.ResponsibleId" filter="true" showClear="true">
        <ng-template let-user pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{user.label}}</div>
            </div>
        </ng-template>
      </p-dropdown>
    </div>
</nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body style="overflow: visible;">
    <div class="col-md-12">
        <p>{{sysLanguages.AddInvoiceProducts}}:</p>
        <p-dropdown [options]="productList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" (onChange)="getProductDetail($event.value)" filter="true" showClear="true">
            <ng-template let-product pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{product.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
        <br>
        <br>
        <thead style="color:white;background:#415164;line-height: 3;">
                <tr>
                        <th width="250px;" align="left">{{sysLanguages.AddInvoiceTableProduct}}</th>
                        <th width="250px;" align="left">{{sysLanguages.AddInvoiceTableDesc}}</th>
                        <th width="250px;" align="right">{{sysLanguages.AddInvoiceTablePiece}}</th>
                        <th width="250px;" align="right">{{sysLanguages.AddInvoiceTablePrice}}</th>
                        <th width="250px;" align="right">{{sysLanguages.AddInvoiceDiscount}}</th>
                        <th width="250px;" align="right">{{sysLanguages.AddInvoiceTableTax}}</th>
                        <th width="250px;" align="right">{{sysLanguages.AddInvoiceTableQuantity}}</th>
                        <th width="250px;" align="right">{{ sysLanguages.PcOperations }}</th>
                </tr>
            </thead>
        <tbody class="line">
          <ng-container *ngFor="let data of lineData; let i = index">
            <tr *ngIf="!_boardId && convertedProforomData == null" id="lineData_{{i}}">
                <td>
                    <textarea class="form-control a1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.AddTaskDescText }}"  id="a1" value="{{ data.ProductName }}"></textarea>
                </td>
                <td>
                        <textarea class="form-control b1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.ProductLongDesc }}" value="{{ data.LineDesc }}" id="b1"></textarea>
                </td>
                <td>
                        <input type="number" class="form-control c1" id="c1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductCount }}"/>
                </td>
                <td>
                    <input type="number" class="form-control d1" id="d1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductPrice }}"/>
                </td>
                <td>
                    <input type="number" class="form-control dis1" id="dis1" style="display:inline-block;margin-top: 15px;width:12rem;" />
                </td>
                <td>
                    <p-multiSelect [options]="taxList" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'min-width': '70%', 'width': 'max-content', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem', 'margin-top': '15px'}" defaultLabel=" " [(ngModel)]="tax"></p-multiSelect>
                </td>
                <td>
                    <p id="f1" class="f1" lang="{{ data.LineAmount }}" style="float: left;margin-top: 26px;margin-left:5px;">{{ data.LineAmount }}</p>
                </td>
                <td>
                    <button class="btn" *ngIf="i == 0" (click)="createLine()" style="margin-top: 15px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" >✓</button>
                </td>
            </tr>

            <tr *ngIf="_boardId" id="lineData_{{i}}">
                <td *ngIf="i == 0">
                    <textarea class="form-control a1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.AddTaskDescText }}"  id="a1" value="{{ data.ProductName }}"></textarea>
                </td>
                <td *ngIf="i != 0">
                    <p id="a1" *ngIf="data.ProductId != 0" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductName }} </p>
                    <p id="a1" *ngIf="data.ProductId == 0" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.LineName }} </p>
                </td>
                <td *ngIf="i == 0">
                        <textarea class="form-control b1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.ProductLongDesc }}" value="{{ data.LineDesc }}" id="b1"></textarea>
                </td>
                <td *ngIf="i != 0">
                    <ng-container *ngFor="let _data of data.LineDesc; let j = index">
                        <p id="b1" *ngIf="j == 0" style="margin-top: 23px; margin-left: 10px;" > {{ _data.desc }} </p>
                        <p id="b1" *ngIf="j != 0" style="margin-top: 0px; margin-left: 10px;" > {{ _data.desc }} </p>
                    </ng-container> 
                </td>
                <td *ngIf="i == 0">
                        <input type="number" class="form-control c1" id="c1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductCount }}"/>
                </td>
                <td *ngIf="i != 0">
                    <p id="c1" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductCount }} </p>
                </td>
                <td *ngIf="i == 0">
                    <input type="number" class="form-control d1" id="d1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductPrice }}"/>
                </td>
                <td *ngIf="i != 0">
                    <p id="d1" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductPrice }} </p>
                </td>
                <td *ngIf="i == 0">
                    <input type="number" class="form-control dis1" id="dis1" style="display:inline-block;margin-top: 15px;width:12rem;" /> 
                </td>
                <td *ngIf="i != 0">
                    <p id="dis1" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.LineDiscount }} </p> 
                </td>
                <td *ngIf="i == 0">
                    <p-multiSelect [options]="taxList" defaultLabel=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'min-width': '70%', 'width': 'max-content', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem', 'margin-top': '15px'}" [(ngModel)]="tax"></p-multiSelect>
                </td>
                <td *ngIf="i != 0">
                    <p id="updatedefaultTax" style="float: left;margin-top: 26px;margin-left:5px;">{{ data.updatedefaultTax }}</p>
                </td>
                <td>
                    <p id="f1" class="f1" style="float: left;margin-top: 26px;margin-left:5px;">{{ data.LineAmount }}</p>
                </td>
                <td>
                    <button class="btn" *ngIf="i == 0" (click)="createLine()" style="margin-top: 15px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" >✓</button>
                    <button class="btn" id="deleteLineBtn_{{i}}" *ngIf="i != 0" (click)="deleteeditLine($event)" style="margin-top: 15px;background-color: red;" >x</button>
                </td>
            </tr>

            <tr *ngIf="convertedProforomData != null" id="lineData_{{i}}">
                <td *ngIf="i == 0">
                    <textarea class="form-control a1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.AddTaskDescText }}"  id="a1" value="{{ data.ProductName }}"></textarea>
                </td>
                <td *ngIf="i != 0">
                    <p id="a1" *ngIf="data.ProductId != 0" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductName }} </p>
                    <p id="a1" *ngIf="data.ProductId == 0" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.LineName }} </p>
                </td>
                <td *ngIf="i == 0">
                        <textarea class="form-control b1" rows="1" style="margin-top: 15px;width:80%;" placeholder="{{ sysLanguages.ProductLongDesc }}" value="{{ data.LineDesc }}" id="b1"></textarea>
                </td>
                <td *ngIf="i != 0">
                    <ng-container *ngFor="let _data of data.LineDesc; let j = index">
                        <p id="b1" *ngIf="j == 0" style="margin-top: 23px; margin-left: 10px;" > {{ _data.desc }} </p>
                        <p id="b1" *ngIf="j != 0" style="margin-top: 0px; margin-left: 10px;" > {{ _data.desc }} </p>
                    </ng-container> 
                </td>
                <td *ngIf="i == 0">
                        <input type="number" class="form-control c1" id="c1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductCount }}"/>
                </td>
                <td *ngIf="i != 0">
                    <p id="c1" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductCount }} </p>
                </td>
                <td *ngIf="i == 0">
                    <input type="number" class="form-control d1" id="d1" style="display:inline-block;margin-top: 15px;width:12rem;" value="{{ data.ProductPrice }}"/>
                </td>
                <td *ngIf="i != 0">
                    <p id="d1" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.ProductPrice }} </p>
                </td>
                <td *ngIf="i == 0">
                    <input type="number" class="form-control dis1" id="dis1" style="display:inline-block;margin-top: 15px;width:12rem;" /> 
                </td>
                <td *ngIf="i != 0">
                    <p id="dis1" style="float: left;margin-top: 26px;margin-left:5px;" > {{ data.LineDiscount }} </p> 
                </td>
                <td *ngIf="i == 0">
                    <p-multiSelect [options]="taxList" defaultLabel=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'min-width': '70%', 'width': 'max-content', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem', 'margin-top': '15px'}" [(ngModel)]="tax"></p-multiSelect>
                </td>
                <td *ngIf="i != 0">
                    <p id="updatedefaultTax" style="float: left;margin-top: 26px;margin-left:5px;">{{ data.updatedefaultTax }}</p>
                </td>
                <td>
                    <p id="f1" class="f1" style="float: left;margin-top: 26px;margin-left:5px;">{{ data.LineAmount }}</p>
                </td>
                <td>
                    <button class="btn" *ngIf="i == 0" (click)="createLine()" style="margin-top: 15px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" >✓</button>
                    <button class="btn" id="deleteLineBtn_{{i}}" *ngIf="i != 0" (click)="deleteeditLine($event)" style="margin-top: 15px;background-color: red;" >x</button>
                </td>
            </tr>
            </ng-container> 
        </tbody>
        <div class="col-md-8 col-md-offset-4" style="float:right;margin-top:3%;">
                <table class="table text-right">
                    <tbody>
                        <tr hidden id="subtotal">
                            <td><span style="font-weight: 500;">{{sysLanguages.AddInvoiceTableSubtotal}} :</span>
                            </td>
                            <td id="subtotal1">0.00 TL
                                <input style="border:1px solid #aaa" type="hidden">
                            </td>
                        </tr>
                        <tr hidden id="discount_area">
                            <td>
                                <div class="row">
                                    <div class="col-md-7">
                                        <span style="font-weight: 500;">
                                        {{sysLanguages.AddInvoiceDiscount}}                         </span>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group" id="discount-total">
                                           <!-- <input (blur)="total()" id="discount" type="number" value="0" class="form-control pull-left input-discount-percent hide" min="0" max="100" name="discount_percent" aria-invalid="false"> -->
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td id="discountText" class="discount-total">-0.00 TL</td>
                        </tr>
                        <tr hidden >
                            <td>
                                <div class="row">
                                    <div class="col-md-7">
                                        <span style="font-weight: 500;">{{sysLanguages.AddInvoiceEditPrice}} (+-)</span>
                                    </div>
                                    <div class="col-md-5">
                                       <!-- <input (blur)="total()" id="price" type="number" data-toggle="tooltip"  value="0" class="form-control pull-left" name="adjustment"  aria-invalid="false"> -->
                                    </div>
                                </div>
                            </td>
                            <td id="priceText" class="adjustment">0.00 TL</td>
                        </tr>
                        <tr>
                          <td><span style="font-weight: 500;">{{ sysLanguages.PcTotalTax }} :</span></td>
                          <td style="width: 19%;"><span id="topTax" style="float: right;margin-right:18%;">{{ topTax.toLocaleString() }} {{currency}}</span></td>
                          <td><span style="font-weight: 500;">{{ sysLanguages.PcTotalLineDiscounts }}:</span></td>
                          <td style="width: 19%;"><span style="float: right;margin-right:18%;">{{ _totalDiscount.toLocaleString() }} {{currency}}</span></td>
                        </tr>
                        <tr>
                          <td><span style="font-weight: 500;">{{sysLanguages.AddInvoiceTotal}} :</span>
                          </td>
                          <td style="width: 19%;"><span id="total" style="float: right;margin-right:18%;">0.00 {{currency}}</span></td>
                          <td style="width: 1%;" > {{sysLanguages.AddInvoiceDiscount}}</td>
                          <td style="width: 20%;"> <input style="width: 60%; height: 30px; margin-top:-8px;" type="number" (blur)="totalDiscount()" class="form-control dis1" id="totaldiscount" value="{{projectData.TotalDiscount}}" /> <p *ngIf="_boardId" class="ion-ios-trash" (click)="cleanDiscount()" style="font-size: 25px;margin-top:-32px;" ></p> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <div class="col-md-12">
      <button *ngIf = "loading == false" class="btnClass" (click)="saveBoard()" >{{sysLanguages.LeadSaveButtonText}}</button>
      <button *ngIf = "loading == true" class="btnClass" > <div class="loader"></div> </button>
    </div>
  </nb-card-body>
</nb-card>