<nb-card class="navProjects">
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
  </nb-card-body>
</nb-card>

<!--<div id="outerFilter" *ngIf="isFilterAreaOpen == true">
  <p-dropdown [options]="statusListForFilters" placeholder=" " (ngModelChange)="filterStatus($event)" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '25%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '15px', 'display': 'inline-block'}" [(ngModel)]="selectedStatusForFilter" filter="true">
    <ng-template let-stat pTemplate="item">
        <div class="ui-helper-clearfix" style="background-color: #ffffff">
            <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
        </div>
    </ng-template>
  </p-dropdown>
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
  <p-dropdown [options]="teamListForFilters" placeholder=" " (ngModelChange)="filterTeam($event)" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '25%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '15px', 'display': 'inline-block'}" [(ngModel)]="selectedTeamForFilter" filter="true">
    <ng-template let-team pTemplate="item">
        <div class="ui-helper-clearfix" style="background-color: #ffffff">
            <div style="font-size:14px;margin-top:4px;">{{team.label}}</div>
        </div>
    </ng-template>
  </p-dropdown>
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
  <p-dropdown [options]="userListForFilters" placeholder=" " (ngModelChange)="filterUser($event)" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '25%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '15px', 'display': 'inline-block'}" [(ngModel)]="selectedUserForFilter" filter="true">
    <ng-template let-user pTemplate="item">
        <div class="ui-helper-clearfix" style="background-color: #ffffff">
            <div style="font-size:14px;margin-top:4px;">{{user.label}}</div>
        </div>
    </ng-template>
  </p-dropdown>
<br/>
<br/>
</div>-->

<nb-card>
  <nb-card-header>
      <!--<div class="operationArea">
          <p [nbContextMenu]="operations" nbContextMenuTag="operation-menu">...</p>
          </div>-->
          <div *ngIf = "showList == false" class="form-group" style="width:15%;display: inline-block;float:left;"  >
              <p-dropdown [options]="statusListForFilters" placeholder="" (ngModelChange)="filterStatus($event)" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '15px', 'display': 'inline-block'}" [(ngModel)]="selectedStatusForFilter" filter="true" showClear="true">
                <ng-template let-stat pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                    </div>
                </ng-template>
              </p-dropdown>
          </div>
          <div *ngIf = "showList == false" class="form-group" style="width:15%;display: inline-block;float:left;margin-left: 5%;"  >
              <p-dropdown [options]="teamListForFilters" placeholder="" (ngModelChange)="filterTeam($event)" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '15px', 'display': 'inline-block'}" [(ngModel)]="selectedTeamForFilter" filter="true" showClear="true">
                <ng-template let-team pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{team.label}}</div>
                    </div>
                </ng-template>
              </p-dropdown>
          </div>
          <div *ngIf = "showList == false" class="form-group" style="width:15%;display: inline-block;float:left;margin-left: 5%;"  >
              <p-dropdown [options]="userListForFilters" placeholder="" (ngModelChange)="filterUser($event)" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '15px', 'display': 'inline-block'}" [(ngModel)]="selectedUserForFilter" filter="true" showClear="true">
                <ng-template let-user pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{user.label}}</div>
                    </div>
                </ng-template>
              </p-dropdown>
          </div>
          <div *ngIf = "showList == false" class="form-group" style="width:15%;display: inline-block;float:right;margin-left: 5%;">
              <button id="1" class="btn" (click)="goToList()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);height: 35px;margin-top:15px;float:right;">{{sysLanguages.TpContextMenuSwitchText}}</button>
          </div>
          <div *ngIf = "showList == true" class="form-group" style="width:15%;display: inline-block;float:right;margin-left: 5%;">
              <button id="1" class="btn" (click)="goToKanban()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);height: 35px;margin-top:15px;float:right;">{{sysLanguages.TasksBackToKanbanButtonText}}</button>
          </div>
  </nb-card-header>
  <nb-card-body *ngIf = "showList == false">
      <div class="column">
          <div class="divColumn" id="colname-{{ stat.value }}" tabIndex="{{ stat.value }}" *ngFor="let stat of StatusList">
            <div class="oneColumn" id="column-{{ stat.value }}" tabIndex="{{ stat.value }}">
                <div class="columnMenu"> 
                  <p class="columnDesc"> <strong>{{ stat.label }}</strong></p>    
                </div>
                <br/>
                <br/>
                <button nbButton (click)="addTask()" class="addTaskBtn" id="addtaskbtnn" status="info">+</button>
                <br/>
                <br/>
                <div class="columnCards" (drop)="dropTask($event)" (dragover)="allowDrop($event)" id="col_{{ stat.value }}">
                  <ng-container *ngFor="let task of TaskList">
                      <ng-container *ngIf="stat.value == task.StatusId">
                        <nb-card class="cardTaskDesc" [style.background-image]="task.ColorCode" draggable="true" (dragstart)="dragTask($event)" id="task_{{task.TaskId}}" [style.opacity]="task.TaskComplete"  >
                            <nb-card-body id="task_desc_{{task.TaskId}}" (mouseenter)="mouseenter(task.TaskId)" (mouseleave)="mouseleave(task.TaskId)" >
                              <a  title="{{sysLanguages.TpMarkCompleteText}}" id="markComplete_{{task.TaskId}}" style="display:none;float:right;color:black;cursor:pointer;" (click)="markComplete(task.TaskId)">✔</a>
                              {{ task.Title }}
                              <br/>
                              {{task.TeamName}}
                              <br/>
                              <br/>
                              <div class="assignedTaskCard"><p title="{{task.Fullname}}" style="text-align: center;line-height: 25px;">{{ task.Fullname.substring(0, 2) }}</p></div>
                              <p class="endDatetaskCard">{{ task.EndDate }}</p>
                              <br/>
                              <br/>
                              <!--<p (click)="getTaskIdForColor($event,task.TaskId)" [nbContextMenu]="colors" nbContextMenuTag="color-menu" style="display:inline-block;height: 0px;font-size: 20px;" > ...</p>-->
                              <select class="selectColor" (ngModelChange)="changeTaskColor($event, task.TaskId)" [(ngModel)]="selectedColor">
                                <option class="selectColorOption" value="red">{{sysLanguages.Red}}</option>
                                <option class="selectColorOption" value="yellow">{{sysLanguages.Yellow}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                                <option class="selectColorOption" value="green">{{sysLanguages.Green}}</option>
                                <option class="selectColorOption" value="purple">{{sysLanguages.Purple}}</option>
                                <option class="selectColorOption" value="blue">{{sysLanguages.Blue}}</option>
                                <option class="selectColorOption" value="white">{{sysLanguages.White}}</option>
                              </select>
                              <a (click)="editTask(task.TaskId)" class="cardDetailButton"> {{sysLanguages.TpTaskDetailButtonText}} </a>
                              <br/>
                            </nb-card-body>
                        </nb-card>
                    </ng-container> 
                  </ng-container>
              </div>
            </div>
          </div>
          
          <!-- taskın rengini değiştirmek için taskın id değerini tutmak için yardımcı oluyor bize -->
          <input type="hidden" id="taskIdForColor" value="">    
          
          </div>
  </nb-card-body>
  <nb-card-body *ngIf = "showList == true">
      <ng2-smart-table [settings]="settings" [source]="allTaskList" ></ng2-smart-table>
  </nb-card-body>

</nb-card>
<!---
<ng-template #dialogAddTask let-data let-ref="dialogRef">
    <nb-card style="width:60rem;margin:auto;overflow-y: scroll;height: 50rem;">
        <nb-card-header style="height:50px;background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">{{title}}
            <button nbButton  size="small" (click)="openDialogComment(dialogAddnewComment)" style="float: right; display:none;margin-top:-5px; " id="commentButton" >{{sysLanguages.AddTaskAllComments}}</button>
            <button nbButton  size="small" (click)="deleteTask(ref)" style="margin-right:5px;float: right; display:none;margin-top:-5px;" id="deleteButton" >{{sysLanguages.DeleteText}}</button>
        </nb-card-header>
        <nb-card-body style="overflow:visible;">
          <div class="form-group" style="width:100%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.AddTaskTitleText}} <strong style="color: red">*</strong> :</p>
              <input type="text" placeholder="{{sysLanguages.AddTaskTitleText}}" class="form-control" id="taskTitle" value="{{TaskArray.Title}}">
          </div>
          <div class="form-group" style="width:48%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogStatusText}} <strong style="color: red">*</strong> :</p>
              <p-dropdown [options]="StatusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedStatus" filter="true" showClear="true">
                <ng-template let-stat pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown> 
          </div>
          <div class="form-group" style="width:48%;float:right;">
            <p style="margin-top: 5px;">{{sysLanguages.TaskType}} <strong style="color: red">*</strong> :</p>
            <p-dropdown [options]="taskTypeList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedType" filter="true" showClear="true">
              <ng-template let-stat pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                  </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="form-group" style="width:48%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogAssignToText}} <strong style="color: red">*</strong> :</p>
            <p-multiSelect [options]="UserList" defaultLabel="" [(ngModel)]="assigneeUsers" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}"></p-multiSelect>
          </div>
          <div class="form-group" style="width:48%;float:right;">
            <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogTeamText}} <strong style="color: red">*</strong> :</p>
              <p-dropdown [options]="TeamList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedTeam" filter="true" showClear="true">
                <ng-template let-team pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{team.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown> 
          </div>
          <div class="form-group" style="width:30%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.TasksTableStartDateText}} <strong style="color: red">*</strong> :</p>
            <input [nbDatepicker]="datepicker1" value="{{TaskArray.BeginDate}}" placeholder="{{sysLanguages.AddTaskBeginDateText}}" class="form-control" id="BeginDate">
            <nb-datepicker #datepicker1></nb-datepicker>
          </div>
          <div class="form-group" style="width:30%;float:left;margin-left:5%;">
              <p style="margin-top: 5px;">{{sysLanguages.TasksTableEndDateText}} <strong style="color: red">*</strong> :</p>
              <input [nbDatepicker]="datepicker2" value="{{TaskArray.EndDate}}" placeholder="{{sysLanguages.AddTaskEndDateText}}" class="form-control" id="EndDate">
              <nb-datepicker #datepicker2></nb-datepicker>
          </div>
          <div class="form-group" title="{{sysLanguages.TaskTimeText}}" style="width:30%;float:right;">
            <p style="margin-top: 5px;">{{sysLanguages.TimeText}}:</p>
            <input  type="time" style="height: 40px;" class="form-control" id="time" value="{{TaskArray.TaskTime}}" min="00:00" max="24:00" >
          </div>
          <div class="form-group" style="width:100%;float:right;">
              <p style="margin-top: 5px;">{{sysLanguages.AddTaskDescText}}:</p>
                <textarea rows="1" style="height:90px;" placeholder="{{sysLanguages.AddTaskDescText}}" class="form-control" id="taskDesc" value="{{TaskArray.TaskDesc}}"></textarea>
            </div>
      </nb-card-body>
        <nb-card-footer style="height:60px;">
            <div class="form-group" style="float:right;">
                <button *ngIf = "loading == false" nbButton (click)="save(ref)" size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" >{{sysLanguages.AddTaskSaveButtonText}}</button>
                <button *ngIf = "loading == true" nbButton size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" > <div class="loader"></div> </button>
          </div>  
        </nb-card-footer>
      </nb-card>
</ng-template> 

<ng-template #dialogAddnewComment let-data let-ref="dialogRef">
    <nb-card style="margin: auto;overflow-y: scroll;height: 40rem;" >
        <nb-card-header style="background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">{{sysLanguages.AddTaskAddCommentButtonText}}</nb-card-header>
        <nb-card-body>
            <textarea rows="3" cols="90" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" class="form-control" id="comment" ></textarea>
            <br/>
            <input type="text" placeholder="Link" class="form-control" id="FileUri">
            <br/>
            <hr />
            <br/>
            <div class="commentCard" *ngFor = "let com of CommentList" >
                <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
                <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
                <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
                <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}"> {{com.FileUri}} </a>
                <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
            </div>
        </nb-card-body>
        <nb-card-footer>
          <button *ngIf = "loading == false" nbButton (click)="saveComment()" size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
          <button *ngIf = "loading == true" nbButton  size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" > <div class="loader"></div> </button>
        </nb-card-footer>
      </nb-card>
  </ng-template>

  
  <ng-template #dialogAddSubTask let-data let-ref="dialogRef">
      <nb-card style="margin: auto; height:25rem;">
          <nb-card-header style="background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">{{sysLanguages.SubTaskText}}</nb-card-header>
            <nb-card-body style="width: 100%;" >
              {{sysLanguages.AddTaskHeaderText}}
             <br/>
              <input placeholder="{{sysLanguages.SubTaskText}}" style="border-top:none;border-left:none;border-right:none;width: 650px;" type="text" id="subs" class="form-control" (keyup.enter)="addSubTask()" />
              <br/>
              <p *ngIf = "subTaskEmpty == true" ><strong>{{sysLanguages.NoSubTasks}}</strong> </p>
                  <nb-list >
                      <nb-list-item *ngFor="let sub of SubTaskList" style="height: 43px;" >
                          <div class="checkbox" style="height: 10px;">
                              <input (click)="completeSubTask(sub.TaskId)" type="checkbox"  id="{{ sub.TaskId }}" value="{{sub.TaskId }}" style="float:left; cursor: pointer;width: 30px;height: 19px;"/>
                              <input type="text" style="margin-left:2%;display: inline-block;width: 70%;height: 25px;margin-top: -4px;border: 1px solid #dadfe6;"  class="form-control" id="subTaskk_{{sub.TaskId}}" value="{{sub.Title}}" (blur)="editSubTask(sub.TaskId)">
                              <p style="margin-left:2%;display: inline-block;">{{ sub.TaskDesc }}  </p> 
                              <p [nbPopover]="templateRef" nbPopoverPlacement="bottom" style="float: right;font-size: 14px;cursor: pointer;"  class="subAssigneeCard" (click)="selectSubAssignee(sub.TaskId)" ><strong style="font-size: 12px;margin-left:4px;">{{sub.Fullname.substring(0, 2)}}</strong></p>
                              <strong style="float: right;display: inline-block;margin-right: 10px;">{{sub.CreatedDate}}</strong>  
                          </div>
                      </nb-list-item>
                    </nb-list>
            </nb-card-body>
        </nb-card>
    </ng-template>

    <ng-template #templateRef style="width: 160px;">
        {{sysLanguages.TpAddTaskDialogAssignToText}}
        <p-dropdown [options]="UserList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '1px solid #dadfe6', 'color': '#2a2a2a', 'width': '40%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '5px'}"  (onChange)="subAssignTo($event)" filter="true" showClear="true">
            <ng-template let-user pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{user.label}}</div>
                </div>
            </ng-template>
          </p-dropdown>
    </ng-template> -->