#outerFilter
{
  display: inline-block;
  width:70%;
}

.navProjects
{
  width: 100%;
  height : 6rem;
}

.operationArea
{
  float: right;
  font-size: 55px;
  line-height: 15px;
  margin-top:-20px;
}

.innerFilter
{
  display: inline-block;
  text-transform: capitalize;
  margin-right: 0.75rem;
  margin-bottom: 1rem;
  width: 15rem;
  height: 3rem;
  //background-color: transparent;
  color: black;
  //background-image: linear-gradient(to right, rgb(76, 196, 255), rgb(76, 166, 255));
  //border-color: turquoise;
  border-radius: 5%;
}

.innerOption
{
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 5px 5px;
  font-size: 16px;
}

.addTaskBtn
{
  padding-top: 0px;
  padding-bottom: 30px;
  width: 20rem;
  height: 1rem;
  font-size: 25px;
}

.addColumnBtn
{
  width: 17rem;
  height: 1rem;
  font-size: 25px;
  padding-top: 0px;
  padding-bottom: 30px;
}

.columnDesc
{
  width:16rem;
  display: inline-block;
  font-size: 15px;
  text-align: center;
}

.cardTaskDesc
{
  width: 18.4rem;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  margin-left:4%;
}

.assignedTaskCard
{
  display: inline-block;
  float: left;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

.endDatetaskCard
{
  display: inline-block;
  float: right;
}

.cardDetailButton
{
  float: right;
  color: black;
  cursor: pointer;
}

.column
{
  white-space: nowrap; 
  overflow-y: scroll;
}

.columnMenu
{
  font-size: 15px;
  display: inline-block;
}

.columnCards
{
  height: 600px; 
  overflow: auto;
}

.copyColumnCards
{
  height: 600px; 
  overflow: auto;
}

.divColumn
{
  display: inline-block;
  padding-right: 30px;
}

.oneColumn
{
  background:#ebeff5;
  display: inline-block;
}

.select
  {
    display: inline-block;
    text-transform: capitalize;
    margin-right: 0.75rem;
    margin-left: 2.5px;
    margin-bottom: 1rem;
    width: 25rem;
    height: 3rem;
    color: black;
    background-color: white;
    border: 2px solid #dadfe6;
    border-radius: 5%;
  }

.selectOption
{
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    font-size: 16px;
}

.addNcDialog
{
  width: 40rem;
}

.addNcDialogButton
{
  float: right;
  width: 10rem;
  margin-right: 15px;
  text-transform: none;
}

.selectColor
{
  padding: 2px 2px 2px 2px;
  border: none; 
  border-radius: 66%;
  width: 18px;
  height: 18px;
  margin-left: 3px;
  background-color: lightgray;
}

.selectColorOption
{
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    font-size: 16px;
    background-color: white;
}

.subAssigneeCard
{
  height: 21px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

.cardDetailSubButton
{
  float: right;
  color: black;
  cursor: pointer;
  margin-right: 5px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left : 5px;
}

.commentCard
{
  width: 49rem;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  border : 1px solid #dadfe6;
  border-radius: 15px;
  margin-top:10px;
}


