
<nb-card>
    <nb-card-header>
            <button class="btn" (click)="openDialog1(dialogAddEditUser)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{sysLanguages.UserAddNewText}}</button>
    </nb-card-header>
    <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="userList" (delete)="onDeleteConfirm($event)" (edit)="openDialog(dialogAddEditUser,$event)" (userRowSelect)="onCustomAction($event)" (create)="openDialog1(dialogAddEditUser)" ></ng2-smart-table>
    </nb-card-body>
</nb-card>

<ng-template #dialogAddEditUser let-data let-ref="dialogRef">
    <nb-card style="margin:auto;width:35rem;">
        <nb-card-header style="height:40px;background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">
            <p>{{title }}</p>
        </nb-card-header>
        <nb-card-body>
                <label class="form-group">{{ sysLanguages.UserEditUsernameText }}</label>
                <div class="form-group">
                    <input class="form-control" type="text" id="username" value="{{userArray[0].Username}}">
                </div>
                <label class="form-group">{{ sysLanguages.UserEditFullnameText }}</label>
                <div class="form-group">
                    <input class="form-control" type="text" id="fullname" value="{{userArray[0].Fullname}}">
                </div>
                <div class="form-group" *ngIf="title == 'Düzenle' || title=='Edit'" style="margin:auto;">
                        <label class="form-group">{{ sysLanguages.UserEditOldPasswordText }}</label>
                        <div class="form-group">
                            <input class="form-control" type="password" id="oldpassword">
                        </div>
                </div>
                <label class="form-group0">{{ sysLanguages.UserEditNewPasswordText }}</label>
                <div class="form-group">
                    <input class="form-control" type="password" id="password">
                </div>
                <label class="form-group">{{ sysLanguages.UserEditControllPasswordText }}</label>
                <div class="form-group">
                    <input class="form-control" type="password" id="password2">
                </div>
                <label class="form-group">Email</label>
                <div class="form-group">
                    <input class="form-control" type="text" id="email" value="{{userArray[0].Email}}">
                </div>
        </nb-card-body>
        <nb-card-footer>
                <div class="form-group" style="float:right;margin:auto;">
                    <button nbButton (click)="save(ref)" size="small">{{ sysLanguages.UserEditSaveButtonText }}</button>
                </div>
          </nb-card-footer>
    </nb-card>
</ng-template>