<nb-card style="width: 100%">
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
    <button class="btn" (click)="openEditUrl()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; float: right; margin-top: -45px;">{{sysLanguages.LeadEditText}}</button>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
      <button class="btn" (click)="addProposal()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;">{{sysLanguages.PcAddProposal}}</button>
  </nb-card-header>
  <nb-card-body>
     <ng2-smart-table [settings]="settings" [source]="proposalList" (userRowSelect)="openProposal($event)" (edit)="openProposal($event)" ></ng2-smart-table>
  </nb-card-body>
</nb-card>