.operationArea
{
    float: right;
    font-size: 55px;
    line-height: 15px;
}

.innerFilter
{
  text-transform: capitalize;
  margin-right: 0.75rem;
  margin-bottom: 1rem;
  width: 90%;
  height: 3rem;
  background-color: transparent;
  color: black;
  border-radius: 5%;
  border: 2px solid #dadfe6;
}

.innerOption
{
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 5px 5px;
  font-size: 16px;
}

.iconAddTag
{
    vertical-align: middle;
    margin-left: 5px;
    font-size: 40px;
}

.dialogBoardTag
{
    height: 40px;
    width: 36rem;
}

.dialogAddBoardElements
{
    text-indent: 10px;
    width: 40rem;
}

.dialogAddBoardHeader
{
    display: inline-block; 
    line-height: 30px;
    margin-left: 18px;
}

.select
{
    display: inline-block;
    text-transform: capitalize;
    margin-right: 0.75rem;
    margin-bottom: 1rem;
    width: 100%;;
    height: 3rem;
    color: black;
    background-color: white;
    border: 2px solid #dadfe6;
    border-radius: 5%;
    text-indent: 28px;
}

.selectOption
{
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    font-size: 16px;
}

.addDialogButtons
{
    float: right;
    width: 10rem;
    margin-right: 15px;
    text-transform: none;
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;
}

.filterDiv
{
    display: inline-block;
    vertical-align: top;
    float: right;
}

.projectAreaClass
{
  border-right: 1px solid rgb(192, 191, 191);
  text-align: center;
  width: 14%;
  cursor: pointer;
}

.projectAreaClassEnd
{  
   text-align: center;
   width: 14%;
   cursor: pointer;
}

.filterStatus
{
    width: 170px;
    cursor:pointer;
    background-color:  #f9f9f9;
    margin-bottom: 0px;
}
.filterStatusSelected
{
    width: 170px;
    cursor:pointer;
    background-color: #03a9f4;
    color : white;
    margin-bottom: 0px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:60px;
    margin-left:-70px;
}
  
.dropdown-content p {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content p:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}

.dropdown-content-project {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:60px;
    margin-left:10px;
}

.dropdown-content-project p {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content-project p:hover {
    background-color: #ddd;
}

.show-project {
    display: block;
}