<nb-card>
  <nb-card-body style="overflow: visible;">
      <div class="row" style="margin-left:20px;" >
          <div class="projectAreaClass" (click)="filterProject('All')">
              <h3 class="bold no-mtop">{{this.allProjectsCount}}</h3>
              <p  style="color:#03A9F4" class="font-medium no-mbot">
                {{sysLanguages.BpAll}}    </p>
            </div>
          <div class="projectAreaClass" (click)="filterProject('0')">
            <h3 class="bold no-mtop">{{this.notStartCount}}</h3>
            <p  style="color:#03A9F4" class="font-medium no-mbot">
                {{sysLanguages.DashBoardProjectChartNotStart}}    </p>
          </div>
          <div class="projectAreaClass" (click)="filterProject('1')">
            <h3 class="bold no-mtop">{{this.continuesCount}}</h3>
            <p  style="color:#a13b3b;" class="font-medium no-mbot">
                {{sysLanguages.DashBoardProjectChartContinues}}     </p>
          </div>
          <div class="projectAreaClass" (click)="filterProject('2')">
            <h3  class="bold no-mtop">{{this.stayCount}}</h3>
            <p  style="color:blue;" class="font-medium no-mbot">
                {{sysLanguages.DashBoardProjectChartStay}}    </p>
          </div>
          <div class="projectAreaClass" (click)="filterProject('3')">
            <h3  class="bold no-mtop">{{this.canceledCount}}</h3>
            <p  style="color:#1ebe8e" class="font-medium no-mbot">
                {{sysLanguages.DashBoardProjectChartCanceled}}      </p>
          </div>
          <div class="projectAreaClass" (click)="filterProject('4')">
            <h3 class="bold no-mtop">{{this.completedCount}}</h3>
            <p  style="color:orangered" class="font-medium no-mbot">
                {{sysLanguages.DashBoardProjectChartCompleted}}      </p>
          </div>
          <div class="projectAreaClassEnd">
              <button *ngIf = "filterSelectCount == 0" (click)="openFilterArea()" title="Filtre" class="btn" style="background-color: #f1f5f7; color:#415164; font-size: 10px;cursor:pointer;float:left;margin-left:12%;"> <i class="ion-ios-flag"></i>  </button>
              <button *ngIf = "filterSelectCount != 0" (click)="openFilterArea()" title="Filtre" class="btn" style="background-color: #415164; color:#f1f5f7; font-size: 10px;cursor:pointer;float:left;margin-left:12%;"> <i class="ion-ios-flag"></i>  </button>
              <div class="dropdown-content" id="myDropdown">
                <p *ngIf = "selectedfilter0 == 0" id="status0" class="filterStatus" (click)="filterStatus(0)">{{sysLanguages.DashBoardProjectChartNotStart}}</p>
                <p *ngIf = "selectedfilter0 == 1" id="status0" class="filterStatusSelected" (click)="filterStatus(0)">{{sysLanguages.DashBoardProjectChartNotStart}}</p>
                <p *ngIf = "selectedfilter1 == 0" id="status1" class="filterStatus" (click)="filterStatus(1)" >{{sysLanguages.DashBoardProjectChartContinues}}</p>
                <p *ngIf = "selectedfilter1 == 1" id="status1" class="filterStatusSelected" (click)="filterStatus(1)" >{{sysLanguages.DashBoardProjectChartContinues}}</p>
                <p *ngIf = "selectedfilter2 == 0" id="status2" class="filterStatus" (click)="filterStatus(2)">{{sysLanguages.DashBoardProjectChartStay}}</p>
                <p *ngIf = "selectedfilter2 == 1" id="status2" class="filterStatusSelected" (click)="filterStatus(2)">{{sysLanguages.DashBoardProjectChartStay}}</p>
                <p *ngIf = "selectedfilter3 == 0" id="status3" class="filterStatus" (click)="filterStatus(3)" >{{sysLanguages.DashBoardProjectChartCanceled}}</p>
                <p *ngIf = "selectedfilter3 == 1" id="status3" class="filterStatusSelected" (click)="filterStatus(3)" >{{sysLanguages.DashBoardProjectChartCanceled}}</p>
                <p *ngIf = "selectedfilter4 == 0" id="status4" class="filterStatus" (click)="filterStatus(4)" >{{sysLanguages.DashBoardProjectChartCompleted}}</p>
                <p *ngIf = "selectedfilter4 == 1" id="status4" class="filterStatusSelected" (click)="filterStatus(4)" >{{sysLanguages.DashBoardProjectChartCompleted}}</p>
              </div>
              <button (click)="openFilterProjectArea()" title="Proje-Abonelik" class="btn" style="background-color: #f1f5f7; color:#415164; font-size: 10px;cursor:pointer;float:right;margin-right:12%;"> <i class="ion-ios-color-filter-outline"></i>  </button>
              <div class="dropdown-content-project" id="myDropdownProject">
                  <p  class="filterStatus" (click)="filterBoard(1)">Proje</p>
                  <p  class="filterStatus" (click)="filterBoard(2)" >Abonelik</p>
                  <p  class="filterStatus" (click)="filterBoard(0)">{{sysLanguages.BpAll}}</p>
               </div>
               <p style="margin-top: 31px;"  class="font-medium no-mbot"> Filtrele  </p>
          </div>
      </div>
  </nb-card-body>
</nb-card>



<nb-card>
  <nb-card-header>
    <button class="btn" (click)="openUrl('pages/project/add-edit-project', 0)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;display:inline-block;vertical-align: top;float:left;">{{ sysLanguages.BoardContextMenuAddProjectText }}</button>
    <div style="float: left;margin-top: -11px;margin-left:5px;display:none;">
      <button (click)="openExportArea()" title="Dışa Aktar" class="btn" style="background-color: #f1f5f7; color:#415164; font-size: 10px;cursor:pointer;margin-top:12px;"> Dışa Aktar </button>
      <div class="dropdown-content" id="myExportDropdown">
        <p  class="filterStatus" (click)="exportExcel()">Excel</p>
        <p  class="filterStatus" (click)="exportPdf()">Pdf</p>
      </div>
    </div>
    <div class="filterDiv">
      <p-dropdown title="{{sysLanguages.ProductGroup}}" [options]="productgroupList" placeholder="" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'height': '35px', 'padding': '0.2rem 1rem', 'border-radius': '0.375rem', 'display': 'inline-block', 'width': '60px' }" (ngModelChange)="filterProductGroup($event)" [(ngModel)]="selectedGroup" filter="true">
        <ng-template let-grp pTemplate="item">
          <div class="ui-helper-clearfix" style="background-color: #ffffff">
            <div style="font-size:14px;margin-top:4px;">{{grp.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <p-dropdown title="{{sysLanguages.AddTaskUsersText}}" [options]="userList" placeholder="" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'height': '35px', 'padding': '0.2rem 1rem', 'border-radius': '0.375rem', 'display': 'inline-block', 'width': '60px', 'margin-left': '15px' }" (ngModelChange)="filterUser($event)" [(ngModel)]="selectedUser" filter="true">
        <ng-template let-user pTemplate="item">
          <div class="ui-helper-clearfix" style="background-color: #ffffff">
            <div style="font-size:14px;margin-top:4px;">{{user.label}}</div>
          </div>
        </ng-template>
      </p-dropdown> 
    </div> 
  </nb-card-header>
  <nb-card-body *ngIf = "filter == false">
     <ng2-smart-table [settings]="settings" [source]="boardList" (userRowSelect)="onCustomAction($event)" (edit)="onCustomAction($event)" (delete)="deleteBoard($event)"></ng2-smart-table> 
  </nb-card-body>
  <nb-card-body *ngIf = "filter == true">
    <ng2-smart-table [settings]="settings" [source]="filteredBoardList" (userRowSelect)="onCustomAction($event)" (edit)="onCustomAction($event)" (delete)="deleteBoard($event)"></ng2-smart-table> 
 </nb-card-body>
</nb-card>

