<nb-card>
  <nb-card-header>
      <button class="btn" (click)="openUrl('/pages/products/add-edit-sub-product', 0)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{sysLanguages.NewProduct}}</button>
      <button class="btn" (click)="openDialogSaveGroup(dialogAddnewGroup)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{sysLanguages.GroupText}}</button>
      <!--<button class="btn" (click)="openUrl('/pages/products/add-edit-sub-product')" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-right:8px;float:right;">{{sysLanguages.ProductConfig}}</button>-->
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="productList" (delete)="onDeleteConfirm($event)" (userRowSelect)="openUrl('/pages/products/add-edit-sub-product', $event)" (edit)="openUrl('/pages/products/add-edit-sub-product', $event)" ></ng2-smart-table>
  </nb-card-body>
</nb-card>

<!--<ng-template #dialogAddnewProduct let-data let-ref="dialogRef">
    <nb-card style="margin:auto;width:50rem;height: 100%;" >
        <nb-card-header style="height:40px;background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;" >
            <p style="margin-left:5%;">{{title}}</p>
        </nb-card-header>
        <nb-card-body style="overflow: visible">
                <div class="form-group" style="width:90%;display: inline-block;float:left;margin-left: 5%;">
                      {{sysLanguages.ProductName}} <strong style="color: red">*</strong> <input type="text" class="form-control" placeholder="{{sysLanguages.ProductName}}"  value="{{productData[0].ProductName}}" id="name">
                </div>
                <div class="form-group" style="width:90%;display:inline-block;float:left;margin-left:5%;">
                    {{sysLanguages.ProductLongDesc}}  <textarea rows="3" cols="20" placeholder="{{this.sysLanguages.ProductLongDesc}}" value="{{productData[0].ProductDesc}}" class="form-control" id="ProductDesc"></textarea>
                </div>
                <div class="form-group" style="width:90%;display:inline-block;float:left;margin-left:5%;">
                    {{sysLanguages.AddInvoiceTablePrice}}  <strong style="color: red">*</strong> <input type="text" class="form-control" placeholder="{{sysLanguages.AddInvoiceTablePrice}}"  value="{{productData[0].Price}}" id="price">
                </div>
                <div class="form-group" style="width:40%;display:inline-block;float:left;margin-left:5%;" >
                    {{sysLanguages.AddInvoiceTableTax}} 1
                <p-dropdown [options]="taxList" placeholder="Vergi Yok" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="productData[0].Tax1" filter="true" showClear="true">
                    <ng-template let-tax pTemplate="item">
                        <div class="ui-helper-clearfix" style="background-color: #ffffff">
                            <div style="font-size:14px;margin-top:4px;">{{tax.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div>
                <div class="form-group" style="width:40%;display:inline-block;float:left;margin-left:10%;" >
                    {{sysLanguages.AddInvoiceTableTax}} 2
                    <p-dropdown [options]="taxList" placeholder="Vergi Yok" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="productData[0].Tax2"  filter="true" showClear="true">
                        <ng-template let-tax pTemplate="item">
                            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                                <div style="font-size:14px;margin-top:4px;">{{tax.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                 </div>
                 <div class="form-group" style="width:90%;display: inline-block;float:left;margin-left: 5%;">
                        {{sysLanguages.Unit}}  <input type="text" class="form-control"   value="{{productData[0].Unit}}" id="unit">
                </div>
                <div class="form-group" style="width:90%;display:inline-block;float:left;margin-left:5%;" >
                        {{sysLanguages.ProductGroup}}
                    <p-dropdown [options]="groupList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="productData[0].ProductGroup"  filter="true" showClear="true">
                        <ng-template let-group pTemplate="item">
                            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                                <div style="font-size:14px;margin-top:4px;">{{group.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                 </div>
        </nb-card-body>        
        <nb-card-footer style="height:50px;">
            <div class="form-group" style="float:right;margin-right: 5%;margin-top:-10px;">
                <button nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" size="tiny" (click)="save(ref)" >{{sysLanguages.LeadSaveButtonText}}</button>
            </div>
        </nb-card-footer>
      </nb-card>
</ng-template>-->


<ng-template #dialogAddnewGroup let-data let-ref="dialogRef">
    <nb-card style="margin:auto;width:50rem;height: 100%;" >
        <nb-card-header style="height:40px;background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;" >
                {{sysLanguages.GroupText}}
        </nb-card-header>
        <nb-card-body>
                <ng2-smart-table [settings]="settingsGroupTable" [source]="GroupList" (deleteConfirm)="onDeleteConfirmGroup($event)" (editConfirm)="onSaveConfirmGroup($event)" (createConfirm)="onCreateConfirm($event)" ></ng2-smart-table>
        </nb-card-body>
      </nb-card>
</ng-template>