<nb-card style="width: 100%">
    <nb-card-body>
      <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
      <button class="btn" (click)="openEditUrl()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; float: right; margin-top: -45px;">{{sysLanguages.EditInvoice}}</button>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <textarea rows="3" cols="90" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" class="form-control" id="comment" ></textarea>
        <br/>
        <input type="text" placeholder="Link" class="form-control" id="FileUri">
        <br/>
        <button *ngIf="loading == true" nbButton size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" > <div class="loader"></div> </button>
        <button nbButton *ngIf="loading == false" (click)="saveComment()" size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
    </nb-card-body>
    <nb-card-body>
      <hr />
      <br/>
      <div class="commentCard" *ngFor = "let com of CommentList | paginate: { itemsPerPage: 4, currentPage: p} " >
          <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
          <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
          <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
          <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}"> {{com.FileUri}} </a>
          <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
      </div>
      <br/>
      <pagination-controls autoHide="true" responsive="true" previousLabel="{{sysLanguages.PreviousText}}" nextLabel="{{sysLanguages.NextLabelText}}" maxSize="8" (pageChange)="p = $event"></pagination-controls>
  </nb-card-body>
</nb-card>