<nb-card *ngIf="ListToKanban == false">
  <nb-card-body>
      <div class="row" style="margin-left:20px;" >
          <div class="InvoiceAreaClass" (click)="filterInvoice('All')">
              <h3 class="bold no-mtop">{{this.allInvoiceCount}}</h3>
              <p  style="color:#03A9F4" class="font-medium no-mbot">
                {{sysLanguages.BpAll}}    </p>
            </div>
          <div class="InvoiceAreaClass" (click)="filterInvoice('0')">
              <h3 class="bold no-mtop">{{this.canceledCount}}</h3>
              <p  style="color:orangered" class="font-medium no-mbot">
                  {{sysLanguages.InvoiceStatusCanceled}}    </p>
            </div>
          <div class="InvoiceAreaClass" (click)="filterInvoice('1')">
            <h3 class="bold no-mtop">{{this.paidCount}}</h3>
            <p  style="color:greenyellow" class="font-medium no-mbot">
                {{sysLanguages.InvoiceStatusPaid}}    </p>
          </div>
          <div class="InvoiceAreaClass" (click)="filterInvoice('3')">
              <h3  class="bold no-mtop">{{this.partlyPaidCount}}</h3>
              <p  style="color:#a13b3b;" class="font-medium no-mbot">
                  {{sysLanguages.InvoiceStatusPartlyPaid}}    </p>
            </div>
          <div class="InvoiceAreaClass" (click)="filterInvoice('2')">
            <h3 class="bold no-mtop">{{this.notPaidCount}}</h3>
            <p  style="color:red;" class="font-medium no-mbot">
                {{sysLanguages.InvoiceStatusNotPaid}}     </p>
          </div>
          <div class="InvoiceAreaClass" (click)="filterInvoice('4')">
            <h3  class="bold no-mtop">{{this.expiredCount}}</h3>
            <p  style="color:turquoise" class="font-medium no-mbot">
                {{sysLanguages.InvoiceStatusExpired}}    </p>
          </div>
          <div class="InvoiceAreaClass" (click)="filterInvoice('5')">
              <h3  class="bold no-mtop">{{this.draftCount}}</h3>
              <p  style="color:turquoise" class="font-medium no-mbot">
                  {{sysLanguages.InvoiceStatusDraft}}    </p>
            </div>
      </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
      <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size:10px;" (click)="addInvoice()" >{{sysLanguages.NewInvioceButtonText}}</button>
      <button class="btn"  (click)="openKanban()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{this.openKanbanText}}</button>
  </nb-card-header>
  <nb-card-body *ngIf="ListToKanban == false && filter == false">
      <ng2-smart-table [settings]="settings" [source]="InvoiceList" (userRowSelect)="onCustomAction($event)" (edit)="editInvoice($event)"  ></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf="ListToKanban == false && filter == true">
      <ng2-smart-table [settings]="settings" [source]="filteredInvoiceList" (userRowSelect)="onCustomAction($event)" (edit)="editInvoice($event)" ></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf="ListToKanban == true ">
      <div class="column">
          <div class="divColumn"  id="colname-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}" *ngFor="let stat of Statuss">
            <div class="oneColumn"   id="column-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}">
                <div class="columnMenu">
                  <p class="columnDesc"> <strong>{{ stat.StatusDesc }}</strong></p>
                  <!--<input readonly type="text" class="columnDesc" nbInput value="{{ stat.StatusDesc }}"> -->  
                </div>
                <br/>
                <br/>
                <button nbButton (click)="addInvoice()" class="addInvoiceBtn" status="info">+</button>
                <br/>
                <br/>
                <div class="columnCards" (drop)="dropInvoice($event)" (dragover)="allowDrop($event)" id="col_{{ stat.StatusId }}">
                  <ng-container *ngFor="let invoice of InvoiceKanban">
                      <ng-container *ngIf="stat.StatusId == invoice.StatusId">
                        <nb-card  class="cardInvoiceDesc" draggable="true" (dragstart)="dragInvoice($event)"  [style.background-image]="gray"  id="invoice_{{invoice.InvoiceId}}">
                            <nb-card-body  id="invoice_{{invoice.InvoiceId}}"> 
                              {{ invoice.InvoiceNumber }}
                              <br/>
                              <br/>
                              <div class="assignedInvoiceCard"><p style="text-align: center;line-height: 25px;" title="{{invoice.Company}}">{{ invoice.Company.substring(0, 2) }}</p></div>
                              <p class="endDateInvoiceCard">{{ invoice.Amount }}</p>
                              <br/>
                              <br/>
                              <a class="cardDetailButton"> Note : {{invoice.AdminNote}}.. </a>
                            </nb-card-body>
                        </nb-card>
                    </ng-container> 
                  </ng-container>
              </div>
            </div>
          </div>          
          </div>
  </nb-card-body>
</nb-card>