<nb-card>
    <nb-card-body>
        <div class="row" style="margin-left:20px;" >
            <div class="CostAreaClass" (click)="filterCost('All')">
                <h3 class="bold no-mtop">{{this.allCostCount}}</h3>
                <p  style="color:#03A9F4" class="font-medium no-mbot">
                  {{sysLanguages.BpAll}}    </p>
              </div>
            <div class="CostAreaClass" (click)="filterCost('1')">
                <h3 class="bold no-mtop">{{this.payableCost}}</h3>
                <p  style="color:red" class="font-medium no-mbot">
                    {{sysLanguages.PayableCost}}    </p>
              </div>
            <div class="CostAreaClass" (click)="filterCost('2')">
              <h3 class="bold no-mtop">{{this.paidCost}}</h3>
              <p  style="color:greenyellow" class="font-medium no-mbot">
                  {{sysLanguages.PaidCost}}    </p>
            </div>
            <div class="CostAreaClass" (click)="filterCost('3')">
                <h3 class="bold no-mtop">{{this.paidByEmployeeCost}}</h3>
                <p  style="color:orangered" class="font-medium no-mbot">
                    {{sysLanguages.PaidByEmployee}}    </p>
              </div>
        </div>
    </nb-card-body>
  </nb-card>

<nb-card>
  <nb-card-header>
      <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size:10px;" (click)="addCost()" >{{sysLanguages.NewCostText}}</button>
  </nb-card-header>
  <nb-card-body *ngIf="filter == false" >
      <ng2-smart-table [settings]="settings" [source]="CostList" (userRowSelect)="editCost($event)" (edit)="editCost($event)"  ></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf="filter == true" >
      <ng2-smart-table [settings]="settings" [source]="filteredCostList" (userRowSelect)="editCost($event)" (edit)="editCost($event)"  ></ng2-smart-table>
  </nb-card-body>
</nb-card>