.proformAreaClass
  {
    border-right: 1px solid rgb(192, 191, 191);
    text-align: center;
    width: 13%;
    cursor: pointer;
  }

  .proformAreaClassEnd
  {
    //border-right: 1px solid rgb(192, 191, 191);
    text-align: center;
    width: 13%;
    cursor: pointer;
  }

  .addProformBtn
  {
    margin-top:-7%;
    padding-top: 0px;
    padding-bottom: 30px;
    width: 18rem;
    height: 1rem;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
  }
  .columnDesc
  {
    width:17rem;
    display: inline-block;
    font-size: 15px;
  }

  .cardProformDesc
  {
    width: 17rem;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    margin-left:3%;
  }

  .assignedProformCard
  {
    display: inline-block;
    float: left;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    color: white;
    background-color: gray;
  }

  .endDateProformCard
  {
    display: inline-block;
    float: right;
  }

  .cardDetailButton
  {
    float: right;
    color: black;
  }

  .column
  {
    white-space: nowrap; 
    overflow-y: scroll;
  }

  .columnMenu
  {
    font-size: 15px;
    display: inline-block;
    width: 18rem;
    text-align: center;
  }

  .columnCards
  {
    height: 600px; 
    overflow: auto;
  }

  .divColumn
  {
    display: inline-block;
    padding-right: 30px;
  }

  .oneColumn
  {
    background:#ebeff5;
    display: inline-block;
  }