<nb-card *ngIf="ListToKanban == false">
  <nb-card-body>
      <div class="row" style="margin-left:20px;" >
          <div class="proformAreaClass" (click)="filterProform(0)">
              <h3 class="bold no-mtop">{{allProformCount}}</h3>
              <p  style="color:#03A9F4" class="font-medium no-mbot">
                {{sysLanguages.BpAll}}    </p>
            </div>
          <div class="proformAreaClass" (click)="filterProform(1)">
              <h3 class="bold no-mtop">{{draftCount}}</h3>
              <p  style="color:orangered" class="font-medium no-mbot">
                  {{sysLanguages.PcProformDraftStatus}}    </p>
            </div>
          <div class="proformAreaClass" (click)="filterProform(2)">
            <h3 class="bold no-mtop">{{sendCount}}</h3>
            <p  style="color:greenyellow" class="font-medium no-mbot">
                {{sysLanguages.PcProformSentStatus}}    </p>
          </div>
          <div class="proformAreaClass" (click)="filterProform(3)">
            <h3 class="bold no-mtop">{{expiredCount}}</h3>
            <p  style="color:#a13b3b;" class="font-medium no-mbot">
                {{sysLanguages.PcProformExpiredStatus}}     </p>
          </div>
          <div class="proformAreaClass" (click)="filterProform(4)">
            <h3  class="bold no-mtop">{{deniedCount}}</h3>
            <p  style="color:red;" class="font-medium no-mbot">
                {{sysLanguages.PcProformRefuseStatus}}    </p>
          </div>
          <div class="proformAreaClass" (click)="filterProform(5)">
            <h3  class="bold no-mtop">{{checkedCount}}</h3>
            <p  style="color:turquoise" class="font-medium no-mbot">
                {{sysLanguages.PcProformAcceptedStatus}}    </p>
          </div>
          <div class="proformAreaClassEnd" (click)="filterProform(6)">
            <h3  class="bold no-mtop">{{convertedCount}}</h3>
            <p  style="color:06331d" class="font-medium no-mbot">
                {{sysLanguages.PcConvertedStatus}}    </p>
          </div>
      </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
      <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size:10px;" (click)="openUrl('pages/proforms/add-edit-proform', 0)" >{{sysLanguages.AddNewProformBtn}}</button>
      <button class="btn"  (click)="openKanban()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{this.openKanbanText}}</button>
      <div *ngIf="ListToKanban == false" style="float: right;">
          <input style="margin-right: 10px;" nbInput placeholder="{{sysLanguages.FilterDateRange}}" [nbDatepicker]="formpicker" id="filterDate">
          <nb-rangepicker #formpicker></nb-rangepicker>
          <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size:9px;" *ngIf="ListToKanban == false" (click)="FilterDate()" >{{sysLanguages.FilterText}}</button>
      </div>
  </nb-card-header>
  <nb-card-body  *ngIf="ListToKanban == false && filter == false">
      <ng2-smart-table  [settings]="settings" [source]="proformList" (edit)="openUrl('pages/proforms/proform-overview', $event.data.ProformId)" (userRowSelect)="openUrl('pages/proforms/proform-overview', $event.data.ProformId)" ></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf="ListToKanban == false &&  filter == true">
      <ng2-smart-table   [settings]="settings" [source]="filteredProformList" (edit)="openUrl('pages/proforms/proform-overview', $event.data.ProformId)" (userRowSelect)="openUrl('pages/proforms/proform-overview', $event.data.ProformId)" ></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf="ListToKanban == true">
      <div class="column">
          <div class="divColumn"  id="colname-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}" *ngFor="let stat of Statuss">
            <div class="oneColumn"   id="column-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}">
                <div class="columnMenu">
                  <p class="columnDesc"> <strong>{{ stat.StatusDesc }}</strong></p>
                  <!--<input readonly type="text" class="columnDesc" nbInput value="{{ stat.StatusDesc }}"> -->  
                </div>
                <br/>
                <br/>
                <button nbButton (click)="openUrl('pages/proforms/add-edit-proform', 0)" class="addProformBtn" status="info">+</button>
                <br/>
                <br/>
                <div class="columnCards" (drop)="dropProform($event)" (dragover)="allowDrop($event)" id="col_{{ stat.StatusId }}">
                  <ng-container *ngFor="let proform of ProformKanban">
                      <ng-container *ngIf="stat.StatusId == proform.StatusId">
                        <nb-card  class="cardProformDesc" draggable="true" (dragstart)="dragProform($event)"  [style.background-image]="gray"  id="proform_{{proform.ProformId}}">
                            <nb-card-body  id="proform_{{proform.ProformId}}"> 
                              {{ proform.ProformNumber }}
                              <br/>
                              <br/>
                              <div class="assignedProformCard"><p style="text-align: center;line-height: 25px;" title="{{proform.BoardName}}">{{ proform.BoardName.substring(0, 2) }}</p></div>
                              <p class="endDateProformCard">{{ proform.Company }}</p>
                              <br/>
                              <br/>
                              <a class="cardDetailButton"> Note : {{proform.AdminNote}}.. </a>
                            </nb-card-body>
                        </nb-card>
                    </ng-container> 
                  </ng-container>
              </div>
            </div>
          </div>          
          </div>
  </nb-card-body>
</nb-card>
