<nb-card>
  <nb-card-header>
    <p style="width:20%;float:left;margin-left: 1%;">{{title}}</p>
    <p-dropdown [options]="statusList"  placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '15%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '10%','float': 'right'}" [(ngModel)]="supportArray[0].SupportStatusId" filter="true" showClear="true">
            <ng-template let-status pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                    <div style="font-size:14px;">{{status.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
  </nb-card-header>
  <nb-card-body style="overflow: visible;" >
      <div class="col-md-6" style="float: left;">
          <p>{{sysLanguages.PcSubject}} <strong style="color: red">*</strong> </p>
          <input  type="text" nbInput class="form-control" style="margin-top: 15px; height: 35px;" value="{{supportArray[0].Subject}}" id="Subject"  />
          &nbsp;
          <p>{{sysLanguages.LeadTableCompanyText}} <strong style="color: red">*</strong> </p>
          <p-dropdown [virtualScroll]="true" itemSize="30" [options]="customerList"  placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" (onChange)="onChangeCustomer($event)" [(ngModel)]="supportArray[0].CustomerId" filter="true" showClear="true">
                <ng-template let-customer pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                        <div style="font-size:14px;">{{customer.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            &nbsp;
          <p>{{sysLanguages.PcContact}} <strong style="color: red">*</strong> </p>
          <!--<p-dropdown [options]="contactList"  placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" (onChange)="onChangeContact($event)" [(ngModel)]="supportArray[0].ContactId" filter="true" showClear="true">
                <ng-template let-contact pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                        <div style="font-size:14px;">{{contact.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>-->
            <p-multiSelect [options]="customerContact" defaultLabel=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.75rem 1.125em', 'border-radius': '0.375rem'}" [(ngModel)]="selectedCustomerContacts" filter="true" showClear="true"></p-multiSelect>  
            &nbsp;
           <p>{{sysLanguages.PcRelation}} </p>
           <p-dropdown [options]="relationList"  placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="supportArray[0].RelationId"  filter="true" showClear="true">
                <ng-template let-rel pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                        <div style="font-size:14px;">{{rel.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            &nbsp;
      </div>
      <div class="col-md-6" style="float: right;">
          <div class="form-group" style="margin:auto;width:100%;float:right;">
              <div class="form-group" style="display: inline-block; width:100%;">
                  {{sysLanguages.Tags}}
                  <tag-input [(ngModel)]="items" [secondaryPlaceholder]="'Tag'"  [modelAsStrings]="true"> </tag-input>
              </div>
          </div>  
          <div class="form-group" style="margin:auto;width:100%;float:right;margin-top: 7px;">
            <p>{{sysLanguages.TpAddTaskDialogAssignToText}} <strong style="color: red">*</strong> </p>
              <div class="form-group" style="display: inline-block; width:100%;">
                  <p-dropdown [options]="userList"  placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="supportArray[0].ResponsibleId" filter="true" showClear="true">
                      <ng-template let-source pTemplate="item">
                          <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                              <div style="font-size:14px;">{{source.label}}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
              </div>
          </div>
          <div class="form-group" style="margin:auto;width:100%;float:right;margin-top: 4px;">
              <div class="form-group" style="display: inline-block; width:40%;">
                  <p >{{sysLanguages.Priority}} <strong style="color: red">*</strong> </p>
                  <p-dropdown [options]="priorityList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="supportArray[0].PriorityId" filter="true" showClear="true">
                      <ng-template let-priority pTemplate="item">
                          <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                              <div style="font-size:14px;">{{priority.label}}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
              </div>
              <div class="form-group" style="display:inline-block;width: 40%;margin-left:20%;">
                <p >{{sysLanguages.GroupText}} <strong style="color: red">*</strong> </p>
                <p-dropdown [options]="groupList"  placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}"  [(ngModel)]="supportArray[0].GroupId" filter="true" showClear="true">
                      <ng-template let-group pTemplate="item">
                          <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                              <div style="font-size:14px;">{{group.label}}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
              </div>
          </div>
          <p *ngIf="addOption == true && supportArray[0].RelationId == 1" style="margin-top: -11px;">{{sysLanguages.ProjectText}} </p>
          <p-dropdown *ngIf="addOption == true && supportArray[0].RelationId == 1" [options]="copyboardList"  placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="supportArray[0].ProjectId"  filter="true" showClear="true">
                <ng-template let-project pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                        <div style="font-size:14px;">{{project.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <p *ngIf="addOption == false && supportArray[0].RelationId == 1" style="margin-top: -11px;">{{sysLanguages.ProjectText}}  </p>
          <p-dropdown *ngIf="addOption == false && supportArray[0].RelationId == 1" [options]="boardList"  placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '35px', 'padding': '0.30rem 0.80rem', 'border-radius': '0.375rem', 'min-width': '55%'}" [(ngModel)]="supportArray[0].ProjectId"  filter="true" showClear="true">
                <ng-template let-project pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff;">
                        <div style="font-size:14px;">{{project.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
      </div>
  </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>
      {{sysLanguages.SupportDesc}}
    </nb-card-header>
    <nb-card-body>
        <tinymce *ngIf="config" [(ngModel)]="html" [config]="config" ></tinymce>
    </nb-card-body>
    <nb-card-footer>
        <button *ngIf="addOption == true && loading == false" class="btn" (click)="save()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px; float:right;">{{sysLanguages.CreateSupport}}</button>
        <button *ngIf="addOption == true && loading == true" class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px; float:right;"> <div class="loader"></div> </button>
        <button *ngIf="addOption == false && loading == false" class="btn" (click)="save()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px; float:right;">{{sysLanguages.TasksUpdate}}</button>
        <button *ngIf="addOption == false && loading == true" class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px; float:right;"> <div class="loader"></div> </button>
        <button *ngIf="addOption == true && loading == false" class="btn" (click)="addProposalandSaveSupport()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:30px; float:right;">{{sysLanguages.CreateSupportSendProposal}}</button>
        <button *ngIf="addOption == true && loading == true" class="btn"  style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:30px; float:right;"> <div class="loader"></div> </button>
    </nb-card-footer>
  </nb-card>