<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <a href="http://profaj.org/pages/dashboard"> <img src="http://profaj.biz/uploads/company/logo.png" class="logo" alt="Profaj Internet Hizmetleri"> </a>
    <p-dropdown [options]="customerList" placeholder="Customers" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}"  filter="true">
      <ng-template let-cust pTemplate="item">
          <div class="ui-helper-clearfix" style="background-color: #ffffff">
              <div style="font-size:14px;margin-top:4px;">{{cust.label}}</div>
          </div>
      </ng-template>
  </p-dropdown>
  </div>
  <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>

<div class="header-container">
  <!--<ngx-layout-direction-switcher></ngx-layout-direction-switcher>-->
  <p style=" font-size: 20px; margin-top: 15px;cursor: pointer; margin-right: 15px; " class="ion-android-calendar" (click)="openCalendar()" title="{{sysLanguages.HcCalendar}}" ></p>
  <p style=" font-size: 20px; margin-top: 15px;cursor: pointer;  " class="ion-ios-checkmark-outline" (click)="openTask()" title="{{sysLanguages.TasksMyTasks}}" ></p>
  <!--<span class="indicator">{{taskCount}}</span> -->
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user  [nbContextMenu]="userMenu" nbContextMenuTag="logout-menu" [name]="Username" [picture]="" ></nb-user>
    </nb-action>
   <!-- <nb-action class="control-item" icon="ion-android-globe" nbContextMenuTag="language-menu" [nbContextMenu]="languageMenu" >
    </nb-action>-->
    <!--<nb-action class="control-item" disabled icon="nb-notifications"></nb-action>
    <nb-action class="control-item" icon="nb-email"></nb-action>
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>-->
  </nb-actions>
</div>
