
<img src="http://profaj.biz/uploads/company/logo.png" class="center"  alt="Profaj Internet Hizmetleri">
<nb-card class="style" >
  <nb-card-header style="text-align:center;">{{ sysLanguages.LgHeaderText }}</nb-card-header>
  <nb-card-body>
      <div class="form-group row" >
        <label class="col-sm-3 form-control-label">{{ sysLanguages.LginputUserNameText }}</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" placeholder="{{ sysLanguages.LginputUserNameText }}" id="Username" value="{{this.usernameck}}">
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-3 form-control-label">{{ sysLanguages.LginputPasswordText }}</label>
        <div class="col-sm-9">
          <input class="form-control" type="password" placeholder="{{ sysLanguages.LginputPasswordText }}" id="EncryptedKey" (keyup.enter)="getUserData()" >
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-3  col-sm-9">
          <button  (click)="getUserData()" class="btn" value="Login" style="background-image: linear-gradient(to right, #6421ae, #6f22a5, #77249d, #7d2895, #812c8e);" >{{ sysLanguages.LgbuttonSign }}</button>
        </div>
      </div>
  </nb-card-body>
</nb-card>