.center {
    display: block;
    margin-left: 46%;
    margin-right: auto;
    margin-top: 12%;
    width:13%;
  }
  .style{
    width:23%;
    margin-left:41%;
    margin-top:2%;
    
  }

  @media only screen and (max-width:420px)
  {
    .style
    {
      width: 80%;
      margin-left: 10%;
      margin-top: 4%;
    }
    .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 12%;
      width:35%;
    }
  }
