<nb-card style="width: 100%">
    <nb-card-body>
      <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
      <button class="btn" (click)="openEditUrl()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; float: right; margin-top: -45px;">{{sysLanguages.EditSupport}}</button>
    </nb-card-body>
  </nb-card>
  
  
  <nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-md-6 border-right project-overview-left">
                <div class="row">
                    <div class="col-md-12">
                        <p class="project-info bold font-size-14">
                            <strong class="header">{{sysLanguages.SupportOverviewHeader}}</strong> </p>
                    </div>
                    <div class="col-md-12">
                        <table class="table no-margin project-overview-table">
                            <tbody>
                                <tr >
                                    <td class="bold">{{sysLanguages.PcSubject}} :</td>
                                    <td> {{SupportArray[0].Subject}}
                                    </td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.CustomerText}} :</td>
                                    <td>{{ SupportArray[0].CustomerName }}</td>
                                </tr>
                                <tr>
                                    <td class="bold">{{sysLanguages.BoardTableNameText}} :</td>
                                    <td>{{SupportArray[0].BoardName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bold"> {{sysLanguages.BoardTableTagText}} :</td>
                                    <td>{{ SupportArray[0].Tags }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
              <div class="col-md-6 project-overview-right">
                  <div class="row">
                      <div class="col-md-12">
                          <p class="project-info bold font-size-14">
                             <strong class="header">{{sysLanguages.GeneralInformation}}</strong>  </p>
                      </div>
                      <div class="col-md-12">
                          <table class="table no-margin project-overview-table">
                              <tbody>
                                  <tr >
                                      <td class="bold">{{sysLanguages.LogTableCreatedDate}} :</td>
                                      <td> {{ SupportArray[0].CreatedDate }}
                                      </td>
                                  </tr>
                                  <tr >
                                      <td class="bold">{{sysLanguages.TpAddTaskDialogAssignToText}} :</td>
                                      <td>{{ SupportArray[0].Fullname }}</td>
                                  </tr>
                                  <tr >
                                      <td class="bold">{{sysLanguages.Priority}} :</td>
                                      <td>{{ SupportArray[0].PriorityStatusDesc }}</td>
                                  </tr>
                                  <tr>
                                      <td class="bold">{{sysLanguages.BoCardStatusText}} :</td>
                                      <td>{{ SupportArray[0].SupportStatusDesc }}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
            </div>
    </nb-card-body>
  </nb-card>