.header
{
    color: blue;
}

.bold
{
    font-weight: 500;

}

.btnClass
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    float: right; 
    margin-top: -45px;
    width: 11%;
    display: inline-block;
    vertical-align: top;
    vertical-align: top;
    border: 2px solid #3ab1f0;
    border-radius: 5%;
    color: white;
    height: 3rem;
    margin-right:60px;
}

.convertbtnClass
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    float: right; 
    margin-top: -45px;
    margin-right: 12%;
    width: 11%;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #3ab1f0;
    border-radius: 5%;
    color: white;
    height: 3rem;
}

.select
{
    margin-right: 12%;
    margin-top: -45px;
    display: inline-block;
    width: 11%;
    height: 3rem;
    color: white;
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    border: 2px solid #3ab1f0;
    border-radius: 5%;
    vertical-align: top;
    float: right; 
}

.selectOption
{
    color: black;
    background-color: white;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    font-size: 12px;
}

.dropbtn 
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); 
    color: white;
    border: 2px solid #3ab1f0;
    border-radius: 5%;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
}
  
.dropdown 
{
    vertical-align: top;
    position: relative;
    float: right; 
    margin-top: -40px;
    display: inline-block;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -112px;
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content 
{
    display: block;
}

.commentCard
{
    width: 100%;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    border : 1px solid #dadfe6;
    border-radius: 15px;
    margin-top:15px;
}

:host /deep/ .ngx-pagination
{
    margin-left:39%;
}

:host /deep/ .ngx-pagination a:hover, .ngx-pagination button 
{
    color:blue;
}

:host /deep/ .ngx-pagination a, .ngx-pagination button 
{
    color:blue;
}

.loader 
{
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left : 5px;
}
