<nb-card style="width: 100%">
  <nb-card-body style="overflow: visible;">
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
     <!-- <button class="convertbtnClass" (click)="convertToInvoice()" *ngIf="proformArray.StatusId != 6">{{ sysLanguages.PcConvertToInvoice }}</button> 
      <button class="select" *ngIf="proformArray.StatusId == 6">{{ sysLanguages.PcConvertedStatus }}</button>-->
      <button class="btnClass" (click)="openUrl('/pages/proforms/add-edit-proform')">{{ sysLanguages.ProformEdit }}</button>
      <div class="dropdown" >
        <button class="dropbtn ion-ios-flag" style="margin-top: -5px;" ></button>
        <div class="dropdown-content">
        <a *ngIf="proformArray.StatusId != 6" style="cursor: pointer;" (click)="convertToInvoice()">{{ sysLanguages.PcConvertToInvoice }}</a>
        <a *ngIf="proformArray.StatusId == 6" style="cursor: pointer;background-color:green;color:white;" >{{ sysLanguages.PcConvertedToInvoice }}</a>
        <a style="cursor: pointer;" (click) = "convertToProSub('project')" > {{sysLanguages.PcConvertToProject}} </a>
        <a style="cursor: pointer;" (click) = "convertToProSub('subs')" > {{sysLanguages.PcConvertToSubs}} </a>
        </div>
      </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
      <div class="row">
          <div class="col-md-6 border-right project-overview-left">
              <div class="row">
                  <div class="col-md-12">
                      <p class="project-info bold font-size-14">
                          <strong class="header">{{sysLanguages.ProformInformation}}</strong> </p>
                  </div>
                  <div class="col-md-12">
                      <table class="table no-margin project-overview-table">
                          <tbody>
                              <tr>
                                  <td class="bold">{{sysLanguages.ProformNumberText}} :</td>
                                  <td> {{proformArray.ProformNumber}}
                                  </td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadTableCompanyText}} :</td>
                                  <td>{{ proformArray.Customer }}</td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.AddInvoiceAdminNote}} :</td>
                                  <td>{{ proformArray.AdminNote }}
                                  </td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.AddInvoiceCustomerNote}} :</td>
                                  <td>{{ proformArray.CustomerNote }}</td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.AddInvoiceConditions}} :</td>
                                  <td>{{ proformArray.Conditions }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-md-6 project-overview-right">
              <div class="row">
                  <div class="col-md-12">
                      <p class="project-info bold font-size-14">
                          <strong class="header">{{sysLanguages.GeneralInformation}}</strong> </p>
                          <div class="dropdown">
                            <button class="dropbtn ion-android-document"></button>
                            <div class="dropdown-content">
                            <a style="cursor: pointer;" (click)="openUrl('/proform')">{{ sysLanguages.PcShowProform }}</a>
                            <a style="cursor: pointer;" (click)="openUrl('/proform/pdf')">{{ sysLanguages.PcDownload }}</a>
                            </div>
                          </div> 
                  </div>
                  <div class="col-md-12">
                      <table class="table no-margin project-overview-table">
                          <tbody>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadTableStatusDescText}} :</td>
                                  <td> {{ proformArray.Status }}
                                  </td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadTableUserNameText}} :</td>
                                  <td>{{ proformArray.User }}</td>
                              </tr>
                              <tr *ngIf="proformArray.Project != 'No Board'">
                                  <td class="bold">{{sysLanguages.PcProject}} :</td>
                                  <td>{{ proformArray.Project }}</td>
                              </tr>
                              <tr>
                                  <td class="bold"> {{sysLanguages.LogTableCreatedDate}} :</td>
                                  <td>{{ proformArray.CreatedDate }}
                                  </td>
                              </tr>
                              <tr>
                                <td class="bold"> {{sysLanguages.ProfcExpiredDate}} :</td>
                                <td>{{ proformArray.ExpiredDate }}
                                </td>
                            </tr>
                              <tr>
                                  <td class="bold"> {{sysLanguages.AddInvoiceTablePrice}} :</td>
                                  <td>{{ proformArray.Amount }}
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="productList" ></ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <textarea rows="3" cols="90" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" class="form-control" id="comment" ></textarea>
        <br/>
        <input type="text" placeholder="Link" class="form-control" id="FileUri">
        <br/>
        <button *ngIf="loading == true" nbButton size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" > <div class="loader"></div> </button>
        <button nbButton *ngIf="loading == false" (click)="saveComment()" size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
    </nb-card-body>
    <nb-card-body>
      <hr />
      <br/>
      <div class="commentCard" *ngFor = "let com of CommentList | paginate: { itemsPerPage: 4, currentPage: p} " >
          <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
          <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
          <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
          <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}"> {{com.FileUri}} </a>
          <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
      </div>
      <br/>
      <pagination-controls autoHide="true" responsive="true" previousLabel="{{sysLanguages.PreviousText}}" nextLabel="{{sysLanguages.NextLabelText}}" maxSize="8" (pageChange)="p = $event"></pagination-controls>
  </nb-card-body>
</nb-card>