<h3>{{ sysLanguages.AddAccessRightToGroupText }}</h3>
<hr />
<div class="col-md-12 col-lg-6 col-xxxl-6" style="margin-left:-13px;display:inline-block;width:60%;">
    <nb-card class="list-card">
      <nb-card-header>{{ sysLanguages.AddAccessRightToGroupListHeader }}</nb-card-header>
        <nb-card-body>
            <nb-list>
            <nb-list-item *ngFor="let right of rightList">
                <div class="checkbox">
                    <input type="checkbox" class="checkboxRight" id="{{ right.AccessRightId }}" value="{{ right.AccessRightId }}" style="margin-left:0px; margin-top:10px;"/>
                        <p style="margin-left:25px; margin-top:-20px;">{{ right.RightDesc }}</p>
                </div>
            </nb-list-item>
            </nb-list>
        </nb-card-body>
       <button type="button"  class="btn btn-primary btn-lg" style="float:right;" (click)="addRightToGroup()">→</button> 
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6" style="margin-left:-13px;display:inline-block;width:60%;">
        <nb-card class="list-card">
          <nb-card-header>{{ sysLanguages.AddAccessRightToGroupListIncludedText }}</nb-card-header>
            <nb-card-body>
                <nb-list>
                <nb-list-item *ngFor="let gright of grouprightList">
                    <div class="checkbox">
                            <input type="checkbox" class="checkboxGroupRight" id="_{{ gright.AccessRightId }}" value="{{ gright.AccessRightId }}" style="margin-left:0px;"/>
                            <p style="margin-left:25px; margin-top:-20px;">{{ gright.GroupDesc }} - {{ gright.RightDesc }}</p>
                    </div>
                </nb-list-item>
                </nb-list>
            </nb-card-body>
            <button type="button" class="btn btn-secondary btn-lg" style="float:right;" (click)="deleteRightGroup()">←</button>
        </nb-card>
    </div>