<br />

<h1>{{ sysLanguages.UserAddUserGroupHeader }}</h1>

<p *ngIf="!GroupList"><em>{{ sysLanguages.UserLoadingText }}</em></p>

<br />
<div class="col-md-12 col-lg-6 col-xxxl-6" style="margin-left:-13px;display:inline-block;width:60%;">
    <nb-card class="list-card">
      <nb-card-header>{{ sysLanguages.UserAddUserGroupListHeader }}</nb-card-header>
        <nb-card-body>
            <nb-list>
            <nb-list-item *ngFor="let group of GroupList">
                <div class="checkbox">
                    <input type="checkbox" class="checkboxGroup" id="{{group.GroupId}}" value="{{group.GroupId}}" style="margin-left:0px; margin-top:10px;"/>
                        <p style="margin-left:25px; margin-top:-20px;">{{group.GroupDesc}}</p>
                </div>
            </nb-list-item>
            </nb-list>
        </nb-card-body>
       <button type="button"  class="btn btn-primary btn-lg" style="float:right;" (click)="addUsersGroup()">→</button> 
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6" style="margin-left:-13px;display:inline-block;width:60%;">
        <nb-card class="list-card">
          <nb-card-header>{{ sysLanguages.UserAddUserGroupIncludedText }}</nb-card-header>
            <nb-card-body>
                <nb-list>
                <nb-list-item *ngFor="let grp of usergroupdetail">
                    <div class="checkbox">
                        <input type="checkbox" class="checkboxUser" id="_{{grp.GroupId}}" value="{{grp.GroupId}}" style="margin-left:0px;"/>
                        <p style="margin-left:25px; margin-top:-20px;">{{grp.Fullname}} , {{grp.GroupDesc}} , {{grp.GrantDate | date:'dd.MM.yyyy'}}</p>
                    </div>
                </nb-list-item>
                </nb-list>
            </nb-card-body>
            <button type="button" class="btn btn-secondary btn-lg" style="float:right;" (click)="deleteUserGroup()">←</button>
        </nb-card>
      </div>
