.navProjects
{
  width: 100%;
}

:host /deep/ .ng2-smart-filter select {
  height: calc(2rem + 3px) !important;
  padding: 0 10px !important;
}

.subAssigneeCard
{
  height: 21px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left : 5px;
}

.commentCard
{
  width: 100%;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  border : 1px solid #dadfe6;
  border-radius: 15px;
  margin-top:15px;
}

:host /deep/ .ngx-pagination
{
  margin-left:39%;
}

:host /deep/ .ngx-pagination a:hover, .ngx-pagination button {
  color:blue;
}
:host /deep/ .ngx-pagination a, .ngx-pagination button {
  color:blue;
}