<nb-card class="navProjects">
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
    <button class="btn" (click)="openEditUrl()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; float: right; margin-top: -45px;">{{sysLanguages.BoardContextMenuEditProjectText}}</button>
  </nb-card-body>
</nb-card>

<nb-card class="navProjects">
    <nb-card-header>
            {{ overviewData.projectName }}
    </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-6 border-right project-overview-left">
          <div class="row">
              <div class="col-md-12">
                  <p class="project-info bold font-size-14">
                      {{sysLanguages.BoCardHeaderText}} </p>
              </div>
              <div class="col-md-12">
                  <table class="table no-margin project-overview-table">
                      <tbody>
                          <tr class="project-overview-customer">
                              <td class="bold">{{sysLanguages.BoCardCustomerText}} :</td>
                              <td> <p style="color:cornflowerblue; cursor: pointer;" (click)="openCustomerData(overviewData.CustomerId)">{{ overviewData.CustomerName }}</p>
                              </td>
                          </tr>
                          <!--<tr class="project-overview-billing">
                              <td class="bold">{{sysLanguages.BoCardInvoiceText}}</td>
                              <td>Sabit Ücret
                                  </td>
                          </tr>-->
                          <tr>
                              <td class="bold">{{sysLanguages.BoCardPriceText}} :</td>
                              <td>{{ overviewData.Amount }}</td>
                          </tr>
                          <tr> </tr>
                          <tr class="project-overview-status">
                              <td class="bold">{{sysLanguages.BoCardStatusText}} :</td>
                              <td>{{ overviewData.statusDesc }}</td>
                          </tr>
                          <tr class="project-overview-date-created">
                              <td class="bold">{{sysLanguages.BoCardBeginDateText}} :</td>
                              <td>{{ overviewData.startDate.split(' ')[0] }}</td>
                          </tr>
                          <tr class="project-overview-start-date">
                              <td class="bold">{{sysLanguages.BoCardEndDateText}} :</td>
                              <td>{{ overviewData.endDate.split(' ')[0] }}</td>
                          </tr>
                          <tr>
                              <td class="bold">{{sysLanguages.BoCardDepartmentText}} :</td>
                              <td>{{this.team}}
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
        <div class="col-md-6 project-overview-right">
            <div class="row">
               <div class="col-md-6 project-progress-bars">
                  <div class="row">
                    <div class="project-overview-open-tasks">
                     <div class="col-md-12">
                        <p class="text-uppercase bold text-dark font-medium">
                            {{sysLanguages.BoCardOpenTaskText}}  {{notCompletedTask}} / {{allTask}} {{sysLanguages.BpAll}}            </p>
                     </div>
                     <div class="col-md-3 text-right">
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                     </div>
                     <div class="col-md-12 mtop5">
                        <div class="progress no-margin progress-bar-mini">
                            <nb-progress-bar [value]="taskCountValue" status="success" style="width: 250px;">{{sysLanguages.BoCardCompletedText}}..</nb-progress-bar>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 project-progress-bars" id="days" style="display:none;">
                  <div class="row">
                    <div class="project-overview-open-tasks">
                     <div class="col-md-12">
                        <p class="text-uppercase bold text-dark font-medium">
                                {{sysLanguages.BoCardDayText}}    {{this.remainingDays}} / {{this.allDays}}             </p>
                     </div>
                     <div class="col-md-3 text-right">
                        <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                     </div>
                     <div class="col-md-12 mtop5">
                        <div class="progress no-margin progress-bar-mini">
                            <nb-progress-bar [value]="remainingDaysValue" status="success" style="width: 250px;">{{sysLanguages.BoCardCompletedText}}..</nb-progress-bar>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <hr class="hr-panel-heading">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-3" style="float:left;">
                        <p class="text-uppercase text-muted">{{sysLanguages.BoCardTotalExpensesText}}</p>
                        <p class="bold font-medium"> {{totalExpenses}} </p>
                    </div>
                    <div class="col-md-3" style="float:left" >
                        <p class="text-uppercase text-info">{{sysLanguages.BoCardBilliableExpensesText}}</p>
                        <p class="bold font-medium"> {{billiableExpenses}} </p>
                    </div>
                    <div class="col-md-3" style="float:left">
                        <p class="text-uppercase text-success">{{sysLanguages.BoCardBilledExpensesText}}</p>
                        <p class="bold font-medium"> {{billedExpenses}} </p>
                    </div>
                    <div class="col-md-3" style="float:left">
                        <p class="text-uppercase text-danger">{{sysLanguages.BoCardNonInvoicedText}}</p>
                        <p class="bold font-medium"> {{nonInvoicedExpenses}} </p>
                    </div>
                </div>
            </div>
            <hr class="hr-panel-heading">
            <div class="row">
            </div>
               
          </div>
      </div>
        
  </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>
        {{sysLanguages.ProductText}}
    </nb-card-header>
    <nb-card-body>
            <ng2-smart-table [settings]="settingsProduct" [source]="productList" ></ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card *ngIf = "subsArea == true && proformArea == true" >
    <nb-card-header>
        {{sysLanguages.ProformText}}
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settingsProform" [source]="ProformList" (userRowSelect)="editProform($event)" (edit) = editProform($event) ></ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>
        {{sysLanguages.TasksHeader}}
    </nb-card-header>
    <nb-card-header>
            <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" (click)="addTask()">{{sysLanguages.AddTaskHeaderText}}</button>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="TaskList" (userRowSelect)="editTask($event.data.TaskId)" ></ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <textarea rows="3" cols="90" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" class="form-control" id="comment" ></textarea>
        <br/>
        <input type="text" placeholder="Link" class="form-control" id="FileUri">
        <br/>
        <button *ngIf="loading == true" nbButton size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" > <div class="loader"></div> </button>
        <button nbButton *ngIf="loading == false" (click)="saveComment()" size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
    </nb-card-body>
    <nb-card-body>
      <hr />
      <br/>
      <div class="commentCard" *ngFor = "let com of CommentList | paginate: { itemsPerPage: 4, currentPage: p} " >
          <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
          <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
          <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
          <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}"> {{com.FileUri}} </a>
          <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
      </div>
      <br/>
      <pagination-controls autoHide="true" responsive="true" previousLabel="{{sysLanguages.PreviousText}}" nextLabel="{{sysLanguages.NextLabelText}}" maxSize="8" (pageChange)="p = $event"></pagination-controls>
  </nb-card-body>
</nb-card>

<!--
<ng-template #dialogAddTask let-data let-ref="dialogRef">
    <nb-card style="width:60rem;margin:auto;overflow-y: scroll;height: 50rem;">
        <nb-card-header style="background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;height: 4rem;">
            <button *ngIf="isDialogSaveOrDetail == 'detail'"  nbButton (click)="addSubTaskDialog(dialogAddSubTask)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; float:right;margin-top:-8px;" >{{sysLanguages.SubTaskText}}</button>
        </nb-card-header>
        <nb-card-body style="overflow:visible;">
            <div class="form-group" style="width:100%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.AddTaskTitleText}} <strong style="color: red">*</strong>  :</p>
                <input type="text" placeholder="{{sysLanguages.AddTaskTitleText}}" class="form-control" id="taskTitle" value="{{taskData.Title}}">
            </div>
            <div class="form-group" style="width:48%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogStatusText}}:</p>
                <p-dropdown [options]="StatusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedStatus" filter="true" showClear="true">
                <ng-template let-stat pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown> 
            </div>
            <div class="form-group" style="width:48%;float:right;">
            <p style="margin-top: 5px;">{{sysLanguages.TaskType}} <strong style="color: red">*</strong>  :</p>
            <p-dropdown [options]="taskTypeList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedType" filter="true" showClear="true">
                <ng-template let-stat pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:48%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogAssignToText}} <strong style="color: red">*</strong>  :</p>
            <p-multiSelect [options]="allUsers" defaultLabel="" [(ngModel)]="assigneeUsers" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}"></p-multiSelect>
            </div>
            <div class="form-group" style="width:48%;float:right;">
            <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogTeamText}} <strong style="color: red">*</strong> :</p>
                <p-dropdown [options]="TeamList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedTeam" filter="true" showClear="true">
                <ng-template let-team pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{team.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown> 
            </div>
            <div class="form-group" style="width:30%;float:left;">
                <p style="margin-top: 5px;">{{sysLanguages.TasksTableStartDateText}} <strong style="color: red">*</strong>  :</p>
                <input [nbDatepicker]="datepicker1" value="{{taskData.BeginDate}}" placeholder="{{sysLanguages.AddTaskBeginDateText}}" class="form-control" id="BeginDate">
                <nb-datepicker #datepicker1></nb-datepicker>
            </div>
            <div class="form-group" style="width:30%;float:left;margin-left:5%;">
                <p style="margin-top: 5px;">{{sysLanguages.TasksTableEndDateText}} <strong style="color: red">*</strong>  :</p>
                <input [nbDatepicker]="datepicker2" value="{{taskData.EndDate}}" placeholder="{{sysLanguages.AddTaskEndDateText}}" class="form-control" id="EndDate">
                <nb-datepicker #datepicker2></nb-datepicker>
            </div>
            <div class="form-group" title="{{sysLanguages.TaskTimeText}}" style="width:30%;float:right;">
                <p style="margin-top: 5px;">{{sysLanguages.TimeText}}:</p>
                <input  type="time" style="height: 40px;" class="form-control" id="time" value="{{taskData.TaskTime}}" min="00:00" max="24:00" >
              </div>
            <div class="form-group" style="width:100%;float:right;">
                <p style="margin-top: 5px;">{{sysLanguages.AddTaskDescText}}:</p>
                <textarea rows="1" style="height:90px;" placeholder="{{sysLanguages.AddTaskDescText}}" class="form-control" id="taskDesc" value="{{taskData.TaskDesc}}"></textarea>
            </div>
            <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 0">
            <p style="margin-top: 5px;">{{sysLanguages.LeadText}}:</p>
            <p-dropdown [options]="leadList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedLead" filter="true" showClear="true" >
                <ng-template let-lead pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{lead.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 1">
            <p style="margin-top: 5px;">{{sysLanguages.CustomerText}}:</p>
            <p-dropdown [options]="customerList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedCustomer" filter="true" showClear="true" >
                <ng-template let-customer pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{customer.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 2">
            <p style="margin-top: 5px;">{{sysLanguages.InvoiceText}}:</p>
                <p-dropdown [options]="invoiceList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedInvoice" filter="true" showClear="true" >
                <ng-template let-invoice pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{invoice.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 3">
                <p style="margin-top: 5px;">{{sysLanguages.ProjectText}}:</p>
                <p-dropdown [options]="projectList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedProject" filter="true" showClear="true" >
                <ng-template let-project pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{project.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 4">
                <p style="margin-top: 5px;">{{sysLanguages.Subscriptions}}:</p>
                <p-dropdown [options]="subscriptionList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedSubscription" filter="true" showClear="true" >
                <ng-template let-sub pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{sub.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="form-group" style="width:48%;float:left;">
                <p style="margin-top: 5px;">{{sysLanguages.PcRelation}}:</p>
                <p-dropdown [options]="relationList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedRelation" filter="true" showClear="true" >
                <ng-template let-rel pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{rel.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div> 
        </nb-card-body>
        <nb-card-footer style="height:60px;">
            <div class="form-group" style="float:right;" *ngIf="isDialogSaveOrDetail == 'save'">
                <button *ngIf = "loading == false" nbButton (click)="addTask(ref)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
                <button *ngIf = "loading == true" nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 5px;" > <div class="loader"></div> </button>
            </div>
            <div class="form-group" style="float:right;" *ngIf="isDialogSaveOrDetail == 'detail'">
            <button *ngIf = "loading == false" nbButton (click)="editTask(ref)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" >{{sysLanguages.TasksUpdate}}</button>
            <button *ngIf = "loading == true" nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 5px;" > <div class="loader"></div> </button>
        </div>
        </nb-card-footer>
    </nb-card>
</ng-template>
      
      
<ng-template #dialogAddSubTask let-data let-ref="dialogRef">
<nb-card style="margin: auto; height:25rem;">
    <nb-card-header style="background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">{{sysLanguages.SubTaskText}}</nb-card-header>
        <nb-card-body style="width: 100%;" >
        {{sysLanguages.AddTaskHeaderText}}
        <br/>
        <input placeholder="{{sysLanguages.SubTaskText}}" style="border-top:none;border-left:none;border-right:none;width: 650px;" type="text" id="subs" class="form-control" (keyup.enter)="addSubTask()" />
        <br/>
        <p *ngIf = "subTaskEmpty == 'true'" ><strong>{{sysLanguages.NoSubTasks}}</strong> </p>
            <nb-list >
                <nb-list-item *ngFor="let sub of SubTaskList" style="height: 43px;" >
                    <div class="checkbox" style="height: 10px;">
                        <input (click)="completeSubTask(sub.TaskId)" type="checkbox"  id="{{ sub.TaskId }}" value="{{sub.TaskId }}" style="float:left; cursor: pointer;width: 30px;height: 19px;"/>
                        <input type="text" style="margin-left:2%;display: inline-block;width: 70%;height: 25px;margin-top: -4px;border: 1px solid #dadfe6;"  class="form-control" id="subTaskk_{{sub.TaskId}}" value="{{sub.Title}}" (blur)="editSubTask(sub.TaskId)">
                        <p [nbPopover]="templateRef" nbPopoverPlacement="bottom" style="float: right;font-size: 14px;cursor: pointer;"  class="subAssigneeCard" (click)="selectSubAssignee(sub.TaskId)" ><strong style="font-size: 12px;margin-left:4px;">{{sub.Fullname.substring(0, 2)}}</strong></p>
                        <strong style="float: right;display: inline-block;margin-right: 10px;">{{sub.CreatedDate}}</strong>  
                    </div>
                </nb-list-item>
                </nb-list>
        </nb-card-body>
    </nb-card>
</ng-template>

<ng-template #templateRef style="width: 160px;">
    {{sysLanguages.TpAddTaskDialogAssignToText}}
    <p-dropdown [options]="allUsers" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '1px solid #dadfe6', 'color': '#2a2a2a', 'width': '40%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '5px'}"  (onChange)="subAssignTo($event)" filter="true" showClear="true">
        <ng-template let-user pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{user.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
</ng-template> -->