<nb-card class="draggableCardClass" id="dragCard">
  <nb-card-body>
    <div #external>
      <p style="margin-left: 5%;">
        <strong>{{ sysLanguages.AcDraggableEvents }}</strong>
      </p>
      <div class='fc-event' *ngFor = "let item of unplannedTasks"> <p>{{item.title}}</p></div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card class="calendarCardClass">
  <!--<nb-card-header>
    <button class="btnClass" (click)="openDialog(dialogAddActivity, 'save', 0)">{{ sysLanguages.AcAddActivity }}</button>
  </nb-card-header>-->
  <nb-card-body>
    <full-calendar [header]="calendarHeaders" [plugins]="calendarPlugins" (eventClick)="openDialog(dialogEditOrComplete, 'EditOrComplete', $event,'noMatter')" deepChangeDetection="true" [events]="calendarEvents" (eventDrop)="eventDrag($event)" [editable]="true" (drop)="firstDrop($event)" eventTextColor = "white" eventBorderColor = "black" selectable = "true" (select)="openDialog(dialogAddActivity, 'save', 0,$event)"  ></full-calendar>
  </nb-card-body>
</nb-card>

<ng-template #dialogAddActivity let-data let-ref="dialogRef">
  <nb-card class="addActivityDialog">
    <nb-card-header class="addActivityDialogHeader">{{ sysLanguages.AcActivity }}</nb-card-header>
    <nb-card-body style="overflow: visible;">
      <div class="addActivityDialogBody">
        <p class="dialogFormGroupText">{{ sysLanguages.AcActivityName }}  <strong style="color: red">*</strong>  :</p>
        <input type="text" id="_taskTitle" class="form-control dialogFormGroup" />
        <p class="dialogFormGroupText">{{ sysLanguages.AcActivityDesc }}:</p>
        <input type="text" id="_taskDesc"  class="form-control dialogFormGroup" />
        <p class="dialogFormGroupText">{{ sysLanguages.AcActivityScheduledStartDate }} :</p>
        <input [nbDatepicker]="datepicker1" value="{{selectedTask.scheduledStartDate}}"  class="form-control dialogFormGroup"  id="BeginDate">
        <nb-datepicker #datepicker1 ></nb-datepicker>
        <p class="dialogFormGroupText">{{ sysLanguages.AcActivityDeadline }}:</p>
        <input [nbDatepicker]="datepicker2" value="{{selectedTask.scheduledEndDate}}" class="form-control dialogFormGroup"  id="EndDate">
        <nb-datepicker #datepicker2 ></nb-datepicker> 
        <p class="dialogFormGroupText">{{sysLanguages.TaskType}} <strong style="color: red">*</strong> :</p>
        <p-dropdown [options]="taskTypeList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '32rem', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedTask.selectedTaskType" filter="true" showClear="true"> 
          <ng-template let-type pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{type.label}}</div>
              </div>
          </ng-template>
        </p-dropdown>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button *ngIf = "loading == false" nbButton size="small" class="addActivityDialogBtn" (click)="saveActivity(ref)" >{{ sysLanguages.AcSave }}</button>
      <button *ngIf = "loading == true" nbButton size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);color: white;float: right; width: 15%;" > <div class="loader"></div> </button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogEditOrComplete let-data let-ref="dialogRef">
  <nb-card class="addActivityDialog">
    <nb-card-header class="addActivityDialogHeader">{{ sysLanguages.AcEditOrCompleteText }}</nb-card-header>
    <nb-card-body>
      <p class="dialogFormGroupText">{{ sysLanguages.AcActivityScheduledStartDate }}:</p>
      <input [nbDatepicker]="datepicker4" class="form-control dialogFormGroup" value="{{ selectedStartDate }}" id="_taskScheduledStartDate">
      <nb-datepicker #datepicker4 ></nb-datepicker>
      <p class="dialogFormGroupText">{{ sysLanguages.AcActivityScheduledEndDate }}:</p>
      <input [nbDatepicker]="datepicker5" class="form-control dialogFormGroup" value="{{ selectedEndDate }}" id="_taskScheduledEndDate">
      <nb-datepicker #datepicker5 ></nb-datepicker>
      <br/>
      <br/>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton size="small" class="completeTaskDialogBtn" (click)="calendarEventClick(ref)">{{ sysLanguages.AcCompleteText }}</button>
      <button nbButton size="small" class="editTaskDialogBtn" (click)="editTaskScheduledDates(ref)">{{ sysLanguages.TasksUpdate }}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>