.activityAreaClass
{
    border-right: 1px solid rgb(192, 191, 191);
    text-align: center;
    width: 22%;
    cursor: pointer;
}

.btnClass
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    float: left;
    font-size: 10px; 
    margin-left: 8px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border: 2px solid transparent;
    -webkit-transition: none;
    transition: none;
    cursor: default;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.375rem;
}

.addActivityDialog
{
    width: 35rem;
}

.addActivityDialogHeader
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    color: white;
}

.dialogFormGroup
{
    width: 32rem;
}

.dialogFormGroupText
{
    margin-top: 15px;
}

.completeTaskDialogBtn
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    color: white;
    float: left;
    width: 25%;
}

.editTaskDialogBtn
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    color: white;
    float: right;
    width: 25%;
}

.addActivityDialogBody
{
    overflow: auto;
    height: 35rem;
}

.draggableCardClass
{
    width: 18%;
    float: left;
    height: 60rem;
}

.calendarCardClass
{
    width: 80%;
    margin-left: 20%;
    height: 60rem;
}

::ng-deep.fc-event
{
    color: white;
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
}

.addActivityDialogBtn
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    color: white;
    float: right;
    width: 25%;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}