<nb-card style="width: 100%">
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
    <button class="btn" (click)="openUrl('/pages/invoices/add-edit-invoices')" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; float: right; margin-top: -45px;">{{sysLanguages.EditInvoice}}</button>
  </nb-card-body>
</nb-card>


<nb-card>
  <nb-card-body>
      <div class="row">
          <div class="col-md-6 border-right project-overview-left">
              <div class="row">
                  <div class="col-md-12">
                      <p class="project-info bold font-size-14">
                          <strong class="header">{{sysLanguages.InvoiceOverview}}</strong> </p>
                  </div>
                  <div class="col-md-12">
                      <table class="table no-margin project-overview-table">
                          <tbody>
                              <tr >
                                  <td class="bold">{{sysLanguages.AddInvoiceText}} :</td>
                                  <td> {{invoiceArray[0].InvoiceNumber}}
                                  </td>
                              </tr>
                              <tr >
                                  <td class="bold">{{sysLanguages.CustomerText}} :</td>
                                  <td>{{ invoiceArray[0].CustomerName }}</td>
                              </tr>
                              <tr >
                                  <td class="bold">{{sysLanguages.BoardTableNameText}} :</td>
                                  <td>{{ invoiceArray[0].BoardName }}</td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.AddInvoiceCustomerNote}} :</td>
                                  <td>{{invoiceArray[0].CustomerNote}}
                                  </td>
                              </tr>
                              <tr >
                                  <td class="bold">{{sysLanguages.AddInvoiceAdminNote}} :</td>
                                  <td>{{ invoiceArray[0].AdminNote }}</td>
                              </tr>
                              <tr >
                                  <td class="bold">{{sysLanguages.AddInvoiceConditions}} :</td>
                                  <td>{{ invoiceArray[0].Conditions }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
            <div class="col-md-6 project-overview-right">
                <div class="row">
                    <div class="col-md-12">
                        <p class="project-info bold font-size-14">
                           <strong class="header">{{sysLanguages.GeneralInformation}}</strong>  </p>
                           <div class="dropdown">
                            <button class="dropbtn ion-android-document"></button>
                            <div class="dropdown-content">
                            <a style="cursor: pointer;" (click)="openUrl('/invoice')">{{ sysLanguages.IcShowInvoice }}</a>
                            <a style="cursor: pointer;" (click)="openUrl('/invoice/pdf')">{{ sysLanguages.PcDownload }}</a>
                            </div>
                          </div> 
                    </div>
                    <div class="col-md-12">
                        <table class="table no-margin project-overview-table">
                            <tbody>
                                <tr >
                                    <td class="bold">{{sysLanguages.AddInvoiceSalesman}} :</td>
                                    <td> {{ invoiceArray[0].Fullname }}</td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.LeadTableStatusDescText}} :</td>
                                    <td>{{ invoiceArray[0].StatusDesc }}</td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.LogTableCreatedDate}} - {{sysLanguages.AddTaskEndDateText}} </td>
                                    <td>{{ invoiceArray[0].CreatedDate }} - {{ invoiceArray[0].LastPaymentDate }} </td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.AddInvoiceTablePrice}} :</td>
                                    <td> {{ invoiceArray[0].Amount }}</td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.AddInvoicePaymentType}} :</td>
                                    <td> {{ invoiceArray[0].MethodDesc }}</td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.AddInvoiceCurrencyType}} :</td>
                                    <td> {{ invoiceArray[0].CurrencyDesc }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
          </div>
  </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="productList" ></ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <textarea rows="3" cols="90" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" class="form-control" id="comment" ></textarea>
        <br/>
        <input type="text" placeholder="Link" class="form-control" id="FileUri">
        <br/>
        <button *ngIf="loading == true" nbButton size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" > <div class="loader"></div> </button>
        <button nbButton *ngIf="loading == false" (click)="saveComment()" size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
    </nb-card-body>
    <nb-card-body>
      <hr />
      <br/>
      <div class="commentCard" *ngFor = "let com of CommentList | paginate: { itemsPerPage: 4, currentPage: p} " >
          <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
          <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
          <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
          <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}"> {{com.FileUri}} </a>
          <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
      </div>
      <br/>
      <pagination-controls autoHide="true" responsive="true" previousLabel="{{sysLanguages.PreviousText}}" nextLabel="{{sysLanguages.NextLabelText}}" maxSize="8" (pageChange)="p = $event"></pagination-controls>
  </nb-card-body>
</nb-card>