.commentCard
{
  width: 100%;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  border : 1px solid #dadfe6;
  border-radius: 15px;
  margin-top:15px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left : 5px;
}

.subAssigneeCard
{
  height: 21px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

form
{
    width: 100%;
    height: 215px;
    border: 4px dashed black;
    cursor: pointer;
}

form p
{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 210px;
    color: black;
    font-family: Arial;
    font-size : 16px;
}

form input
{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 94%;
    height: 200px;
    outline: none;
    opacity: 0;
}
