<nb-card style="width:72%;float:left">
  <nb-card-body style="overflow:visible;width:100%;">
    <div class="form-group" style="width:100%;float:left;">
      <p style="margin-top: 5px;">{{sysLanguages.AddTaskTitleText}} <strong style="color: red">*</strong>  :</p>
        <input type="text" placeholder="{{sysLanguages.AddTaskTitleText}}" class="form-control" id="taskTitle" value="{{taskData.Title}}">
    </div>
    <div class="form-group" style="width:48%;float:left;">
      <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogStatusText}}:</p>
        <p-dropdown [options]="StatusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedStatus" filter="true" showClear="true">
          <ng-template let-stat pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
              </div>
          </ng-template>
      </p-dropdown> 
    </div>
    <div class="form-group" style="width:48%;float:right;">
      <p style="margin-top: 5px;">{{sysLanguages.TaskType}} <strong style="color: red">*</strong>  :</p>
      <p-dropdown [options]="taskTypeList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedType" filter="true" showClear="true">
        <ng-template let-stat pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
            </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="form-group" style="width:48%;float:left;">
      <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogAssignToText}} <strong style="color: red">*</strong>  :</p>
      <p-multiSelect (onChange)="userChange($event)" [options]="allUsers" defaultLabel="" [(ngModel)]="assigneeUsers" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}"></p-multiSelect>
    </div>
    <div class="form-group" style="width:48%;float:right;">
      <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogTeamText}} <strong style="color: red">*</strong> :</p>
        <p-dropdown [options]="TeamList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedTeam" filter="true" showClear="true">
          <ng-template let-team pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{team.label}}</div>
              </div>
          </ng-template>
      </p-dropdown> 
    </div>
      <div class="form-group" style="width:30%;float:left;">
          <p style="margin-top: 5px;">{{sysLanguages.TasksTableStartDateText}} <strong style="color: red">*</strong>  :</p>
            <input [nbDatepicker]="datepicker1" value="{{taskData.BeginDate}}" placeholder="{{sysLanguages.AddTaskBeginDateText}}" class="form-control" id="BeginDate">
            <nb-datepicker #datepicker1></nb-datepicker>
          </div>
        <div class="form-group" style="width:30%;float:left;margin-left:4.5%;">
            <p style="margin-top: 5px;">{{sysLanguages.TasksTableEndDateText}} <strong style="color: red">*</strong>  :</p>
              <input [nbDatepicker]="datepicker2" value="{{taskData.EndDate}}" placeholder="{{sysLanguages.AddTaskEndDateText}}" class="form-control" id="EndDate">
              <nb-datepicker #datepicker2></nb-datepicker>
          </div>
        <div class="form-group" title="{{sysLanguages.TaskTimeText}}" style="width:30%;float:left;margin-left:4.5%;">
          <p style="margin-top: 5px;">{{sysLanguages.TimeText}}:</p>
          <input  type="time" style="height: 40px;" class="form-control" id="time" value="{{taskData.TaskTime}}" min="00:00" max="24:00" >
        </div>
    <div class="form-group" style="width:100%;float:right;">
        <p style="margin-top: 5px;">{{sysLanguages.AddTaskDescText}}:</p>
          <textarea rows="1" style="height:90px;" placeholder="{{sysLanguages.AddTaskDescText}}" class="form-control" id="taskDesc" value="{{taskData.TaskDesc}}"></textarea>
      </div>
    <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 0">
      <p style="margin-top: 5px;">{{sysLanguages.LeadText}}:</p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="leadList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedLead" filter="true" showClear="true" >
        <ng-template let-lead pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{lead.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    </div>
    <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 1">
      <p style="margin-top: 5px;">{{sysLanguages.CustomerText}}:</p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="customerList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedCustomer" filter="true" showClear="true" >
        <ng-template let-customer pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{customer.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    </div>
    <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 2">
      <p style="margin-top: 5px;">{{sysLanguages.InvoiceText}}:</p>
        <p-dropdown [virtualScroll]="true" itemSize="30" [options]="invoiceList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedInvoice" filter="true" showClear="true" >
          <ng-template let-invoice pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{invoice.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
    </div>
      <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 3">
        <p style="margin-top: 5px;">{{sysLanguages.ProjectText}}:</p>
        <p-dropdown [virtualScroll]="true" itemSize="30" [options]="projectList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedProject" filter="true" showClear="true" >
          <ng-template let-project pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{project.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
    </div>
    <div class="form-group" style="width:48%;float:left;">
        <p style="margin-top: 5px;">{{sysLanguages.PcRelation}}:</p>
        <p-dropdown [options]="relationList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedRelation" filter="true" showClear="true" >
          <ng-template let-rel pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{rel.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
      </div>
  </nb-card-body>
    <nb-card-footer style="height:60px;">
        <strong *ngIf = "isDialogSaveOrDetail == 'detail'"> {{taskData.Creator}} {{sysLanguages.CreatedByText}}  </strong>
        <div class="form-group" style="float:right;" *ngIf="isDialogSaveOrDetail == 'save'">
            <button *ngIf = "loading == false" nbButton (click)="addTask()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
            <button *ngIf = "loading == true" nbButton  style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 5px;" > <div class="loader"></div> </button>
      </div>
      <div class="form-group" style="float:right;" *ngIf="isDialogSaveOrDetail == 'detail'">
        <button *ngIf = "loading == false" nbButton (click)="editTask()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" >{{sysLanguages.TasksUpdate}}</button>
        <button *ngIf = "loading == true" nbButton  style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 5px;" > <div class="loader"></div> </button>
      </div>
    </nb-card-footer>
</nb-card>

<!--
<nb-card *ngIf = "isDialogSaveOrDetail == 'detail'" style="width:72%;float:left">
  <nb-card-body style="overflow:visible;width:100%;">
    <div class="form-group" style="width:100%;float:left;">
      <p style="margin-top: 5px;">{{sysLanguages.AddTaskTitleText}} <strong style="color: red">*</strong>  :</p>
        <input type="text" placeholder="{{sysLanguages.AddTaskTitleText}}" class="form-control" id="taskTitle" value="{{taskData.Title}}">
    </div>
    <div class="form-group" style="width:48%;float:left;">
      <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogStatusText}}:</p>
        <p-dropdown [options]="StatusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedStatus" filter="true" showClear="true">
          <ng-template let-statu pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{statu.label}}</div>
              </div>
          </ng-template>
      </p-dropdown> 
    </div>
    <div class="form-group" style="width:48%;float:right;">
      <p style="margin-top: 5px;">{{sysLanguages.TaskType}} <strong style="color: red">*</strong>  :</p>
      <p-dropdown [options]="taskTypeList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedType" filter="true" showClear="true">
        <ng-template let-stat pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
            </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="form-group" style="width:48%;float:left;">
      <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogAssignToText}} <strong style="color: red">*</strong>  :</p>
      <p-multiSelect [options]="allUsers" defaultLabel="" [(ngModel)]="assigneeUsers" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}"></p-multiSelect>
    </div>
    <div class="form-group" style="width:48%;float:right;">
      <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogTeamText}} <strong style="color: red">*</strong> :</p>
        <p-dropdown [options]="TeamList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedTeam" filter="true" showClear="true">
          <ng-template let-team pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{team.label}}</div>
              </div>
          </ng-template>
      </p-dropdown> 
    </div>
      <div class="form-group" style="width:30%;float:left;">
          <p style="margin-top: 5px;">{{sysLanguages.TasksTableStartDateText}} <strong style="color: red">*</strong>  :</p>
            <input [nbDatepicker]="datepicker1" value="{{taskData.BeginDate}}" placeholder="{{sysLanguages.AddTaskBeginDateText}}" class="form-control" id="BeginDate">
            <nb-datepicker #datepicker1></nb-datepicker>
          </div>
        <div class="form-group" style="width:30%;float:left;margin-left:4.5%;">
            <p style="margin-top: 5px;">{{sysLanguages.TasksTableEndDateText}} <strong style="color: red">*</strong>  :</p>
              <input [nbDatepicker]="datepicker2" value="{{taskData.EndDate}}" placeholder="{{sysLanguages.AddTaskEndDateText}}" class="form-control" id="EndDate">
              <nb-datepicker #datepicker2></nb-datepicker>
          </div>
        <div class="form-group" title="{{sysLanguages.TaskTimeText}}" style="width:30%;float:left;margin-left:4.5%;">
          <p style="margin-top: 5px;">{{sysLanguages.TimeText}}:</p>
          <input  type="time" style="height: 40px;" class="form-control" id="time" value="{{taskData.TaskTime}}" min="00:00" max="24:00" >
        </div>
    <div class="form-group" style="width:100%;float:right;">
        <p style="margin-top: 5px;">{{sysLanguages.AddTaskDescText}}:</p>
          <textarea rows="1" style="height:90px;" placeholder="{{sysLanguages.AddTaskDescText}}" class="form-control" id="taskDesc" value="{{taskData.TaskDesc}}"></textarea>
      </div>
    <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 0">
      <p style="margin-top: 5px;">{{sysLanguages.LeadText}}:</p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="leadList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedLead" filter="true" showClear="true" >
        <ng-template let-lead pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{lead.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    </div>
    <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 1">
      <p style="margin-top: 5px;">{{sysLanguages.CustomerText}}:</p>
      <p-dropdown [virtualScroll]="true" itemSize="30" [options]="customerList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedCustomer" filter="true" showClear="true" >
        <ng-template let-customer pTemplate="item">
            <div class="ui-helper-clearfix" style="background-color: #ffffff">
                <div style="font-size:14px;margin-top:4px;">{{customer.label}}</div>
            </div>
        </ng-template>
    </p-dropdown>
    </div>
    <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 2">
      <p style="margin-top: 5px;">{{sysLanguages.InvoiceText}}:</p>
        <p-dropdown [virtualScroll]="true" itemSize="30" [options]="invoiceList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedInvoice" filter="true" showClear="true" >
          <ng-template let-invoice pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{invoice.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
    </div>
      <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 3">
        <p style="margin-top: 5px;">{{sysLanguages.ProjectText}}:</p>
        <p-dropdown [virtualScroll]="true" itemSize="30" [options]="projectList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedProject" filter="true" showClear="true" >
          <ng-template let-project pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{project.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
    </div>
    <div class="form-group" style="width:48%;float:left;">
        <p style="margin-top: 5px;">{{sysLanguages.PcRelation}}:</p>
        <p-dropdown [options]="relationList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedRelation" filter="true" showClear="true" >
          <ng-template let-rel pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{rel.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
      </div>
  </nb-card-body>
    <nb-card-footer style="height:60px;">
        <strong *ngIf = "isDialogSaveOrDetail == 'detail'"> {{taskData.Creator}} {{sysLanguages.CreatedByText}}  </strong>
        <div class="form-group" style="float:right;" *ngIf="isDialogSaveOrDetail == 'save'">
            <button *ngIf = "loading == false" nbButton (click)="addTask()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
            <button *ngIf = "loading == true" nbButton  style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 5px;" > <div class="loader"></div> </button>
      </div>
      <div class="form-group" style="float:right;" *ngIf="isDialogSaveOrDetail == 'detail'">
        <button *ngIf = "loading == false" nbButton (click)="editTask()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" >{{sysLanguages.TasksUpdate}}</button>
        <button *ngIf = "loading == true" nbButton  style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 5px;" > <div class="loader"></div> </button>
      </div>
    </nb-card-footer>
</nb-card>
-->

<nb-card style="float: right;width: 26%; height: 54rem;">
  <nb-card-header>
    {{sysLanguages.AddTaskAllComments}}
  </nb-card-header>
  <nb-card-body *ngIf = "isDialogSaveOrDetail == 'save' " >
      <div style="height: 100px;text-align: center;margin-top: 210px;"> <strong style="font-size : 16px;"> {{sysLanguages.FirstAddTaskText}} </strong>  </div>
  </nb-card-body>
  <nb-card-body style="overflow-y: scroll;" *ngIf = "isDialogSaveOrDetail == 'detail' " >
    <div class="commentCard" *ngFor = "let com of CommentList" >
        <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
        <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
        <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
        <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}" target="_blank"> {{com.FileUri}} </a>
        <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
    </div>
  </nb-card-body>
  <nb-card-footer style="height:17%;" >
    <input class="form-control" type="text" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" style="width: 80%;float: left;" id="comment" >
    <input type="text" placeholder="Link" class="form-control" id="FileUri" style="width: 80%;float: left;margin-top: 5px;">
    <button *ngIf = "loading == false && isDialogSaveOrDetail == 'save' " class="form-control ion-android-send" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); float: right;width:17%;height: 3.3rem;margin-top: -1pc;" disabled title="{{sysLanguages.FirstAddTaskText}}" ></button>
    <button *ngIf = "loading == false && isDialogSaveOrDetail == 'detail' " class="form-control ion-android-send" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); float: right;width:17%;height: 3.3rem;margin-top: -1pc;" (click)="saveComment()" ></button>
    <button *ngIf = "loading == true" class="form-control" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); float: right;width:17%;height: 3.3rem;margin-top: -1pc;" > <div class="loader"></div> </button>
  </nb-card-footer>
</nb-card>

<nb-card style="width:72%;float:left" >
    <nb-card-header >{{sysLanguages.SubTaskText}}</nb-card-header>
    <nb-card-body *ngIf = "isDialogSaveOrDetail == 'save' " >
      <div style="height: 100px;text-align: center;margin-top: 70px;"> <strong style="font-size: 16px;"> {{sysLanguages.FirstAddTaskText}} </strong>  </div>
    </nb-card-body>
      <nb-card-body style="width: 100%;"  *ngIf = "isDialogSaveOrDetail == 'detail' " >
        {{sysLanguages.AddTaskHeaderText}}
       <br/>
        <input placeholder="{{sysLanguages.SubTaskText}}" style="border-top:none;border-left:none;border-right:none;width: 100%;" type="text" id="subs" class="form-control" (keyup.enter)="addSubTask()" />
        <br/>
        <nb-list style="height:9rem; overflow-y: scroll;" >
            <nb-list-item *ngFor="let sub of SubTaskList" style="height: 43px;" >
                <div class="checkbox" style="height: 10px;">
                    <input (click)="completeSubTask(sub.TaskId)" type="checkbox"  id="{{ sub.TaskId }}" value="{{sub.TaskId }}" style="float:left; cursor: pointer;width: 30px;height: 19px;"/>
                    <input type="text" style="margin-left:2%;display: inline-block;width: 70%;height: 25px;margin-top: -4px;border: 1px solid #dadfe6;"  class="form-control" id="subTaskk_{{sub.TaskId}}" value="{{sub.Title}}" (blur)="editSubTask(sub.TaskId)">
                    <p [nbPopover]="templateRef" nbPopoverPlacement="bottom" style="float: right;font-size: 14px;cursor: pointer;"  class="subAssigneeCard" (click)="selectSubAssignee(sub.TaskId)" title="{{sub.Fullname}}" ><strong style="font-size: 12px;margin-left:4px;">{{sub.Fullname.substring(0, 2)}}</strong></p>
                    <strong style="float: right;display: inline-block;margin-right: 10px;">{{sub.CreatedDate}}</strong>  
                </div>
            </nb-list-item>
          </nb-list>
      </nb-card-body>
</nb-card>


<nb-card style="width: 26%;float:right;" >
  <nb-card-body>
    <form action="" method="POST">
        <input #file type="file" id="file" >
        <p *ngIf = "isDialogSaveOrDetail == 'save' " > {{sysLanguages.FirstAddTaskText}} </p>
        <p *ngIf = "isDialogSaveOrDetail == 'detail' " >{{ sysLanguages.CustomerFileDragText }}</p>
    </form>
  </nb-card-body>
</nb-card>


<ng-template #templateRef style="width: 160px;">
      {{sysLanguages.TpAddTaskDialogAssignToText}}
      <p-dropdown [options]="allUsers" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '1px solid #dadfe6', 'color': '#2a2a2a', 'width': '40%', 'height': '35px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem', 'margin-top': '5px'}"  (onChange)="subAssignTo($event)" filter="true" showClear="true">
          <ng-template let-user pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{user.label}}</div>
              </div>
          </ng-template>
        </p-dropdown>
</ng-template>