<nb-card>
  <nb-card-header >
      <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size: 10px;float:left;"  (click)="openUrl('pages/customer/add-edit-customer', 0)">{{sysLanguages.CustomerAddDialogHeader}}</button>
      <button class="btn" style="margin-left:5px;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size:10px;float:left;margin-left:5px;"  (click)="openUrl('/pages/customer/contact', 0)">{{sysLanguages.ContactProjectOverviewContactsText}}</button>
      <div style="float: left;margin-top: -11px;margin-left:5px;display:none;">
          <button (click)="openExportArea()" title="Dışa Aktar" class="btn" style="background-color: #f1f5f7; color:#415164; font-size: 10px;cursor:pointer;margin-top:12px;margin-left:5px;"> Dışa Aktar </button>
          <div class="dropdown-content" id="myExportDropdown">
            <p  class="filterStatus" (click)="exportExcel()">Excel</p>
            <p  class="filterStatus" (click)="exportPdf()">Pdf</p>
          </div>
      </div>
      <p style="margin-top:4%;"> <input  type="checkbox" name="Customers" id="chckbox" [(ngModel)]="isChecked" (change)="activeCustomer(isChecked?'true':'false')" > {{sysLanguages.OnlyActiveCustomerCheckBox}}</p>
  </nb-card-header>
  <nb-card-body *ngIf="filter =='false'" >
    <ng2-smart-table [settings]="settings" class="customerTable" [source]="customerList" (delete)="deleteCustomer($event)" (edit)="openUrl('pages/customer/customer-overview', $event.data.CustomerId)" (userRowSelect)="openUrl('pages/customer/customer-overview', $event.data.CustomerId)" ></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf="filter =='true'" >
    <ng2-smart-table [settings]="settings" class="customerTable" [source]="_filteredCustomerList" (delete)="deleteCustomer($event)" (edit)="openUrl('pages/customer/customer-overview', $event.data.CustomerId)" (userRowSelect)="openUrl('pages/customer/customer-overview', $event.data.CustomerId)" ></ng2-smart-table>
</nb-card-body>
</nb-card>


  