.select
{
    display: inline-block;
    text-transform: capitalize;
    margin-right: 0.75rem;
    margin-bottom: 1rem;
    width: 100%;;
    height: 3rem;
    color: black;
    background-color: white;
    border: 2px solid #dadfe6;
    border-radius: 5%;
}

.selectOption
{
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    font-size: 16px;
}

.dialogAddCustomerCard
{
    width:60rem;
}

.addCustomerDialogColPart
{
    display: inline-block;
    margin-left: 25px;
}

.addCustomerDialogFormGroups
{
    width:25rem;
}

.addCustomerDialogButtons
{
    float: right;
    width: 10rem;
    margin-right: 35px;
    text-transform: none;
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
}

.filterStatus
{
    width: 170px;
    cursor:pointer;
    background-color:  #f9f9f9;
    margin-bottom: 0px;
}
.filterStatusSelected
{
    width: 170px;
    cursor:pointer;
    background-color: #03a9f4;
    color : white;
    margin-bottom: 0px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:5px;
    margin-left:5px;
}
  
.dropdown-content p {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content p:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}