<nb-card style="width: 100%">
  <nb-card-body>
    <nb-route-tabset [tabs]="tabs" ></nb-route-tabset>
    <button class="btn" (click)="openEditUrl()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; float: right; margin-top: -45px;">{{sysLanguages.LeadEditText}}</button>
  </nb-card-body>
</nb-card>


<nb-card>
  <nb-card-body>
      <div class="row">
          <div class="col-md-6 border-right project-overview-left">
              <div class="row">
                  <div class="col-md-12">
                      <p class="project-info bold font-size-14">
                          <strong class="header">{{sysLanguages.LeadInformation}}</strong> <strong *ngIf="callAgainCount != 0" > ( {{callAgainCount}} {{sysLanguages.LeadCallAgainCountText}} )</strong>  </p>
                  </div>
                  <div class="col-md-12">
                      <table class="table no-margin project-overview-table">
                          <tbody>
                              <tr >
                                  <td class="bold">{{sysLanguages.LeadTableNameText}} :</td>
                                  <td> {{leadArray[0].Name}}
                                  </td>
                              </tr>
                              <tr >
                                  <td class="bold">Email :</td>
                                  <td>{{ leadArray[0].Email }}</td>
                              </tr>
                              <tr >
                                  <td class="bold">{{sysLanguages.LeadTablePhoneText}} :</td>
                                  <td>{{ leadArray[0].Phone }}</td>
                              </tr>
                              <tr >
                                  <td class="bold">{{sysLanguages.LeadTableCompanyText}} :</td>
                                  <td>{{ leadArray[0].Company }}</td>
                              </tr>
                              <tr>
                                  <td class="bold">{{sysLanguages.LeadAddressText}} :</td>
                                  <td>{{leadArray[0].Address}}
                                  </td>
                              </tr>
                              <tr >
                                  <td class="bold">{{sysLanguages.LeadCityText}} :</td>
                                  <td>{{ leadArray[0].City }}</td>
                              </tr>
                              <tr >
                                  <td class="bold">{{sysLanguages.LeadTownText}} :</td>
                                  <td>{{ leadArray[0].Town }}</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
            <div class="col-md-6 project-overview-right">
                <div class="row">
                    <div class="col-md-12">
                        <p class="project-info bold font-size-14">
                           <strong class="header">{{sysLanguages.GeneralInformation}}</strong>  </p>
                    </div>
                    <div class="col-md-12">
                        <table class="table no-margin project-overview-table">
                            <tbody>
                                <tr >
                                    <td class="bold">{{sysLanguages.LeadTableStatusDescText}} :</td>
                                    <td> {{ leadArray[0].StatusDesc }}
                                    </td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.LeadTableSourceDescText}} :</td>
                                    <td>{{ leadArray[0].SourceDesc }}</td>
                                </tr>
                                <tr>
                                    <td class="bold">{{sysLanguages.LeadTableUserNameText}} :</td>
                                    <td>{{ leadArray[0].Fullname }}</td>
                                </tr>
                                <tr >
                                    <td class="bold">{{sysLanguages.Tags}} :</td>
                                    <td>{{ leadArray[0].Tags }}</td>
                                </tr>
                                <tr>
                                    <td class="bold"> {{sysLanguages.LogTableCreatedDate}} :</td>
                                    <td>{{ leadArray[0].CreatedDate }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bold"> {{sysLanguages.LeadTableLeadDescText}} :</td>
                                    <td>{{ leadArray[0].LeadDesc }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bold"> {{sysLanguages.LeadCalledStatus}} :</td>
                                    <td>
                                        <nb-progress-bar [value]="leadArray[0].PossibilityDesc " status="info" style="width: 250px;">% {{ leadArray[0].PossibilityDesc }}</nb-progress-bar>
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
          </div>
  </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="productList" ></ng2-smart-table>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header style="height: 5rem;" >
        <button nbButton (click)="addTask()" style="height : 33px;float: left; display:block; background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);margin-left:2.4%;"  >{{sysLanguages.DasBoardAddDuty}}</button>
    </nb-card-header>
    <nb-card-body>
        <div style="display: inline-block;width:45%;">
            <nb-card style="width: 100%; margin-left: 5%;">
                <nb-card-header style="height: 4rem;background-color: #ff6f00">
                    <p style="color: white;"> {{sysLanguages.DasBoardToDoList}} </p>
                </nb-card-header>
                <nb-card-body>
                    <nb-list *ngIf="notcompletedTaskCount == 0" >
                        <nb-list-item  style="height: 40px;">
                            <div class="checkbox">
                                    <p style="margin-left: 10px;opacity: 0.5;">Yapılacaklar Listesi Boş. Çalışmıyorsun galiba =)</p>
                            </div>
                        </nb-list-item>
                        </nb-list>
                        <nb-list *ngIf="notcompletedTaskCount != 0" style="height: 250px;">
                        <nb-list-item  style="height: 6rem;" *ngFor="let task of notcompletedtaskList">
                            <div class="checkbox">
                                <input (click)="completeTask( task.TaskId )" type="checkbox"  id="{{ task.TaskId }}" value="{{task.TaskId }}" style="float:right; margin-top:5px;cursor: pointer;width: 30px;height: 20px;"/>
                                <p *ngIf = "task.TaskDesc == 'Tekrar Ara' " style = "font-size: 30px;cursor: pointer;float: right; margin-right: 10px; margin-top:-1px; " class="ion-ios-refresh-empty" (click) = "createNewCallTask(task.TaskId)"  > </p>
                                <strong style="margin-right: 10px; float: right; margin-top : 7px;">{{ task.Fullname }}</strong>
                                <p style="margin-left: 10px;">{{ task.Title }}</p>
                                <p style="margin-left: 10px;">{{ task.CreatedDate }}</p>
                            </div>
                        </nb-list-item>
                        </nb-list>
                </nb-card-body>
            </nb-card>
          </div>
          <div style="display: inline-block;width:45%;">
            <nb-card style="width: 100%; margin-left: 10%;">
                <nb-card-header style="height: 4rem;background-color: #03a9f4">
                    <p style="color: white;" >{{sysLanguages.DashBoardFinishedWork}}</p> 
                </nb-card-header>
                <nb-card-body>
                    <nb-list *ngIf="completedTaskCount == 0" >
                        <nb-list-item  style="height: 40px;">
                            <div class="checkbox">
                                    <p style="margin-left: 10px;opacity: 0.5;">Çalış ki buralar dolsun :)</p>
                            </div>
                        </nb-list-item>
                        </nb-list>
                        <nb-list *ngIf="completedTaskCount != 0" style="height: 250px;">
                        <nb-list-item  style="height: 6rem;" *ngFor="let task of completedTaskList">
                            <div class="checkbox">
                                   <!-- <p class="ion-ios-trash" (click)="deleteActivity( task.TaskId )"  id="{{ task.TaskId }}"  style="float:right;cursor: pointer;font-size: 25px;"></p> -->
                                <strong style="float:right;">{{sysLanguages.LeadCompleted}}:</strong>
                                <del style="margin-left: 10px;">{{ task.Title }}</del>
                                <p style="margin-left: 10px;width: 50%;">{{ task.CreatedDate }}</p>
                                <p style="float:right;margin-top:-20px;">{{ task.Fullname }}</p>
                            </div>
                        </nb-list-item>
                        </nb-list>
                </nb-card-body>
            </nb-card>
          </div>
    </nb-card-body>
</nb-card>
  
<nb-card>
    <nb-card-body>
        <textarea rows="3" cols="90" placeholder="{{sysLanguages.AddTaskAddCommentButtonText}}" class="form-control" id="comment" ></textarea>
        <br/>
        <input type="text" placeholder="Link" class="form-control" id="FileUri">
        <br/>
        <button *ngIf="loading == true" nbButton size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" > <div class="loader"></div> </button>
        <button nbButton *ngIf="loading == false" (click)="saveComment()" size="small" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);float:right;" >{{sysLanguages.AddTaskSaveButtonText}}</button>
    </nb-card-body>
    <nb-card-body>
      <hr />
      <br/>
      <div class="commentCard" *ngFor = "let com of CommentList | paginate: { itemsPerPage: 4, currentPage: p} " >
          <u style="margin-left: 10px;" > {{com.CreatedDate}} </u>
          <p class="ion-close" style="color:red;float:right;margin-right:10px;cursor:pointer;" (click)="deleteComment(com.CommentId)" ></p>
          <p style="margin-top: 5px;margin-left:10px;"> {{com.CommentText}} </p>
          <a style="float:left;margin-left:10px;color:cornflowerblue" href="{{com.FileUri}}"> {{com.FileUri}} </a>
          <strong style="float:right;margin-right:10px;"> {{com.Fullname}} </strong>
      </div>
      <br/>
      <pagination-controls autoHide="true" responsive="true" previousLabel="{{sysLanguages.PreviousText}}" nextLabel="{{sysLanguages.NextLabelText}}" maxSize="8" (pageChange)="p = $event"></pagination-controls>
  </nb-card-body>
</nb-card>