<nb-card *ngIf="ListToKanban == false" >
  <nb-card-body>
      <div class="row" style="margin-left:20px;" >
          <div class="leadAreaClass" (click)="filterLead(0)">
              <h3 class="bold no-mtop">{{this.allLeadCount}}</h3>
              <p  style="color:#03A9F4" class="font-medium no-mbot">
                {{sysLanguages.BpAll}}    </p>
            </div>
          <div class="leadAreaClass" (click)="filterLead(1)">
            <h3 class="bold no-mtop">{{this.possibilityCount}}</h3>
            <p  style="color:#03A9F4" class="font-medium no-mbot">
                {{sysLanguages.DashboardLeadChartPossibility}}    </p>
          </div>
          <div class="leadAreaClass" (click)="filterLead(2)">
            <h3 class="bold no-mtop">{{this.statusCandidate}}</h3>
            <p  style="color:#a13b3b;" class="font-medium no-mbot">
                {{sysLanguages.DashboardLeadChartCandidate}}     </p>
          </div>
          <div class="leadAreaClass" (click)="filterLead(3)">
            <h3  class="bold no-mtop">{{this.statusStay}}</h3>
            <p  style="color:blue;" class="font-medium no-mbot">
                {{sysLanguages.DashboardLeadChartStatusStay}}    </p>
          </div>
          <div class="leadAreaClass" (click)="filterLead(4)">
            <h3  class="bold no-mtop">{{this.statusHot}}</h3>
            <p  style="color:#1ebe8e" class="font-medium no-mbot">
                {{sysLanguages.DashBoardLeadChartHotStatus}}      </p>
          </div>
          <div class="leadAreaClass" (click)="filterLead(5)">
            <h3 class="bold no-mtop">{{this.bargainCount}}</h3>
            <p  style="color:orangered" class="font-medium no-mbot">
                {{sysLanguages.DashboardLeadChartBargain}}      </p>
          </div>
          <div  class="leadAreaClass" (click)="filterLead(6)">
              <h3  class="bold no-mtop">{{this.statusCustomer}}</h3>
              <p  style="color:#84c529" class="font-medium no-mbot">
                  {{sysLanguages.DashBoardLeadChartCustomerStatus}}      </p>
            </div>
            <div  class="leadAreaClass" (click)="filterLead(7)">
                <h3  class="bold no-mtop">{{this.statusLost}}</h3>
                <p  style="color:#84c529" class="font-medium no-mbot">
                    {{sysLanguages.DashBoardLeadChartLost}}      </p>
              </div>
      </div>
  </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="{{ sysLanguages.LeadText }}">
            <nb-card>
                <nb-card-header style="height: 7rem;">
                  <button class="btn" (click)="addLead()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{sysLanguages.AddLeadButtonText}}</button>
                  <button class="btn"  (click)="openKanban()" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; margin-left:8px;">{{this.openKanbanText}}</button>
                  <p *ngIf="ListToKanban == false" style="margin-top:1%;margin-left:10px;width: 100%"> <input  type="checkbox" name="LostLead" id="LostChckbx" [(ngModel)]="isCheckedLost" (change)="LostLead(isCheckedLost?'1':'0')" > {{sysLanguages.ShowLostLead}} </p>
                  <input (blur)=filterDate() placeholder="{{sysLanguages.FilterDateRange}}" style="height: 35px;width: 160px;margin-top:-85px;float: right;" nbInput  [nbDatepicker]="formpicker" id="filterDatePublic" >
                  <nb-rangepicker #formpicker></nb-rangepicker>
                  <button *ngIf = "AdminUser == '3' || AdminUser == '4' || AdminUser == '1' " (click)="openExportArea(dialogExport)" title="Dışa Aktar" class="btn" style="background-color: #f1f5f7; color:#415164; font-size: 10px;cursor:pointer;float:right;margin-top:-45px;"> Filtrele ve Dışa Aktar </button>
                </nb-card-header>
                <nb-card-body *ngIf="ListToKanban == false && filter == false">
                    <ng2-smart-table [settings]="settings" [source]="LeadList" (userRowSelect)="editLead($event)"  (edit)="editLead($event)" ></ng2-smart-table>
                </nb-card-body>
                <nb-card-body *ngIf="ListToKanban == false && filter == true">
                    <ng2-smart-table [settings]="settings" [source]="filteredLeadList" (userRowSelect)="editLead($event)"  (edit)="editLead($event)" ></ng2-smart-table>
                </nb-card-body>
                <nb-card-body *ngIf="ListToKanban == true">
                    <div class="column">
                        <div class="divColumn"  id="colname-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}" *ngFor="let stat of Statuss">
                          <div class="oneColumn"   id="column-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}">
                              <div class="columnMenu">
                                <p class="columnDesc"> <strong>{{ stat.StatusDesc }}</strong></p>
                              </div>
                              <br/>
                              <br/>
                              <button nbButton (click)="addLead()" class="addLeadBtn" status="info">+</button>
                              <br/>
                              <br/>
                              <div class="columnCards" (drop)="dropLead($event)" (dragover)="allowDrop($event)" id="col_{{ stat.StatusId }}">
                                <ng-container *ngFor="let lead of LeadKanban">
                                    <ng-container *ngIf="stat.StatusId == lead.StatusId">
                                      <nb-card  class="cardLeadDesc" draggable="true" (dragstart)="dragLead($event)" [style.background-image]="gray"  id="lead_{{lead.LeadId}}">
                                          <nb-card-body (click)="GoLeadDetail(lead.LeadId)" id="lead_desc_{{lead.LeadID}}"> 
                                            {{ lead.LeadDesc }}
                                            <br/>
                                            <br/>
                                            <div class="assignedLeadCard"><p style="text-align: center;line-height: 25px;">{{ lead.assignedName }}</p></div>
                                            <p class="endDateleadCard">{{ lead.Company }}</p>
                                            <br/>
                                            <br/>
                                            <a class="cardDetailButton"> {{ sysLanguages.LeadSourceText }} : {{lead.SourceDesc}} </a>
                                          </nb-card-body>
                                      </nb-card>
                                  </ng-container> 
                                </ng-container>
                            </div>
                          </div>
                        </div>          
                        </div>
                </nb-card-body>
              </nb-card>
        </nb-tab>
        <nb-tab tabTitle="{{ sysLanguages.LeadCallList }}" badgeText="{{CallAgainTaskCount}}" badgeStatus="danger" >
          <nb-card *ngIf="CallAgainTaskCount != 0">
            <nb-card-body>
              <nb-list>
                <nb-list-item *ngFor="let task of TaskList" style="height: 6rem; ">
                  <strong style="color: red">{{ task.Title }}</strong>  <br>
                  <strong style="color: black;cursor: pointer;" (click) = "goToCustomerOverview(task.CustomerId)">{{ sysLanguages.LeadTableCompanyText }} : {{task.CustomerName}} </strong> <br>
                  <strong style="color: black">{{ sysLanguages.PcProposalDate }} : {{task.BeginDate.split(" ")[0]}} - {{task.EndDate.split(" ")[0]}} </strong>   
                  <p  style = "font-size: 25px;cursor: pointer;float: right;margin-top:-10px; "class="ion-ios-checkmark-outline" (click) = deleteLeadTask(task.TaskId) > </p>
                  <p  style = "font-size: 30px;cursor: pointer;float: right; margin-right: 15px; margin-top:-10px; " class="ion-ios-refresh-empty" (click) = "createNewCallTask(task.TaskId)"  > </p>
                </nb-list-item>
              </nb-list>
            </nb-card-body>
          </nb-card>

          <p class="noTaskClass" *ngIf="CallAgainTaskCount == 0">{{ sysLanguages.LeadNoTaskFound }}</p>

        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>


  <ng-template #dialogExport let-data let-ref="dialogRef">
    <nb-card style="width:40rem;" >
      <nb-card-header>
        {{sysLanguages.ReportWarningText}}
      </nb-card-header>
      <nb-card-body style="overflow:visible;">
        <div class="form-group" style="width:48%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.TasksResponsible}} :</p>
            <p-dropdown [options]="allUsers" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" (onChange)="filterUserForExport($event.value)" [(ngModel)]="selectedUser" filter="true" showClear="true">
              <ng-template let-user pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{user.label}}</div>
                  </div>
              </ng-template>
            </p-dropdown>
        </div>
        <div class="form-group" style="width:48%;float:left;margin-left:15px;" >
          <p style="margin-top: 5px;">{{sysLanguages.FilterDateRange}} :</p>
          <input style="height: 40px;width: 100%;" nbInput  [nbDatepicker]="formpicker" id="filterDate" >
          <nb-rangepicker #formpicker></nb-rangepicker>
        </div>
        <br>
        <br>
        <strong style="opacity: 0.8;float:left;" >{{sysLanguages.ReportAllText}}</strong> 
      </nb-card-body>
      <nb-card-footer>
          <button (click)="exportExcel(ref)" class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;cursor:pointer;float:right;margin-left:10px;"> Excel </button>
          <button (click)="exportPdf(ref)" class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;cursor:pointer;float:right;"> Pdf </button>
      </nb-card-footer>
    </nb-card>
  </ng-template>


