 :host /deep/ .ng2-smart-filter select {
  height: calc(2rem + 3px) !important;
  padding: 0 10px !important;
  }

  .leadAreaClass
  {
    border-right: 1px solid rgb(192, 191, 191);
    text-align: center;
    width: 11.5%;
    cursor: pointer;
  }

  .addLeadBtn
  {
    margin-top:-7%;
    padding-top: 0px;
    padding-bottom: 30px;
    width: 18rem;
    height: 1rem;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
  }
  .columnDesc
  {
    width:17rem;
    display: inline-block;
    font-size: 15px;
  }

  .cardLeadDesc
  {
    width: 17rem;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    margin-left:3%;
  }

  .assignedLeadCard
  {
    display: inline-block;
    float: left;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    color: white;
    background-color: gray;
  }

  .endDateleadCard
  {
    display: inline-block;
    float: right;
  }

  .cardDetailButton
  {
    float: right;
    color: black;
  }

  .column
  {
    white-space: nowrap; 
    overflow-y: scroll;
  }

  .columnMenu
  {
    font-size: 15px;
    display: inline-block;
    width: 18rem;
    text-align: center;
  }

  .columnCards
  {
    height: 600px; 
    overflow: auto;
  }

  .divColumn
  {
    display: inline-block;
    padding-right: 30px;
  }

  .oneColumn
  {
    background:#ebeff5;
    display: inline-block;
  }

  .xx
  {
    margin: auto;
    width: 70rem;
    height: 100%;
  }

  .noTaskClass
  {
    text-align: center;
    line-height: 10rem;
    font-size: 15px;
    font-weight: 650;
  }

  @media only screen and (max-width:1025px)
  {
    .xx
    {
      height: 90%;
      width: 80%;
    }
  }

:host /deep/ .open 
{
  color:red;
  width:100%;
  text-align: left;
  height: calc(0rem + 0px) !important;
  padding: 0 10px !important;
  font-size: 12px;
}

:host /deep/ .close 
{
    color:green;
    width:100%;
    text-align: left;
    height: calc(0rem + 0px) !important;
    padding: 0 10px !important;
    font-size: 12px;
}