<nb-card style="width:100%; display:inline-block;height: 40rem;">
    <nb-card-header>
            <p style="margin-left:10px;" class="pull-left padding-5">{{ sysLanguages.DashBoardMyDuty }} </p>
            <button nbButton hero status="primary" size="xsmall" (click)="addTask()" style="float: right; display:block; background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); margin-top: -35px; margin-right:5px; " id="commentButton" >{{sysLanguages.DasBoardAddDuty}}</button>
            <button *ngIf = "teamTask == false" nbButton hero status="primary" size="xsmall" (click)="myTaskandTeamTask()" style="float: right; display:block; background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); margin-top: -35px; margin-right:75px; "  >{{sysLanguages.TeamTasksText}}</button>
            <button *ngIf = "teamTask == true" nbButton hero status="primary" size="xsmall" (click)="myTaskandTeamTask()" style="float: right; display:block; background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); margin-top: -35px; margin-right:75px; "  >{{sysLanguages.TasksMyTasks}}</button>    
    </nb-card-header>
  <nb-card-body *ngIf = "teamTask == false" >
    <nb-card style="width: 49%;float:left;margin-top:18px;">
        <nb-card-header style="height: 4rem;background-color: #ff6f00;position: relative;">
            <nb-badge style="font-size: 20px;" text="{{_notCompletedTaskListCount}}" status="control" position="top right"></nb-badge>
            <p style="color: white;" > {{sysLanguages.DasBoardToDoList}} </p>
        </nb-card-header>
        <nb-card-body >
            <nb-list *ngIf="notCompletedTaskListCount == 0" >
                <nb-list-item  style="height: 40px;">
                    <div class="checkbox">
                        <p style="margin-left: 10px;opacity: 0.5;">Yapılacaklar Listesi Boş. Çalışmıyorsun galiba =)</p>
                    </div>
                </nb-list-item>
            </nb-list>
            <nb-list *ngIf="notCompletedTaskListCount != 0" style="height: 300px;" id="notCompletedTaskList" (scroll)="lazyLoadingforNotCompleted($event)">
            <nb-list-item  style="height: 6rem;" *ngFor="let task of notcompletedTaskList" >
                <div class="checkbox">
                    <input (click)="completeTask( task.TaskId )" type="checkbox"  id="{{ task.TaskId }}" value="{{task.TaskId }}" style="float:right; margin-top:12px;cursor: pointer;width: 30px;height: 20px;"/>
                    <p (click)="editTask(task.TaskId)" style="margin-left: 10px;cursor: pointer;">{{ task.Title }}</p>
                    <p (click)="editTask(task.TaskId)"  style="margin-left: 10px;cursor: pointer;">{{sysLanguages.AddTaskBeginDateText}} : <strong> {{ task.CreatedDate }} </strong> </p>
                </div>
            </nb-list-item>
            </nb-list>
        </nb-card-body>
    </nb-card>
    <nb-card style="width: 49%;float:right;" >
        <nb-card-header style="height: 4rem;background-color: #03a9f4;position: relative;">
            <nb-badge style="font-size: 20px;" text="{{_completedTaskCount}}" status="control" position="top right"></nb-badge>
            <p style="color: white;"  >{{sysLanguages.DashBoardFinishedWork}} </p> 
        </nb-card-header>
        <nb-card-body>
            <nb-list *ngIf="completedTaskCount == 0" >
                <nb-list-item  style="height: 40px;">
                    <div class="checkbox">
                        <p style="margin-left: 10px;opacity: 0.5;">Çalış ki buralar dolsun :)</p>
                    </div>
                </nb-list-item>
            </nb-list>
            <nb-list *ngIf="completedTaskCount != 0" style="height: 300px;" id="completedTaskList" (scroll)="lazyLoadingforCompleted($event)">
            <nb-list-item  style="height: 6rem;" *ngFor="let task of completedTaskList">
                <div class="checkbox">
                    <del style="margin-left: 10px;">{{ task.Title }}</del>
                    <p style="margin-left: 10px;margin-top:13px;"> {{sysLanguages.AddTaskEndDateText}} : <strong> {{ task.EndDate }} </strong></p>
                </div>
            </nb-list-item>
            </nb-list>
        </nb-card-body>
    </nb-card>
  </nb-card-body>
  <nb-card-body *ngIf = "teamTask == true" >
        <p class="checkboxText"> <input  type="checkbox" [(ngModel)]="isShowingNotDefaultTeamTask" > {{ sysLanguages.ProfileShowAssignedInTeam }} </p>
        <br/>
        <nb-card>
            <nb-card-body *ngIf="isShowingNotDefaultTeamTask == false">
                <ng2-smart-table [settings]="settingsTeamTask" [source]="teamsTaskDefaultList" (userRowSelect)="editTask($event.data.TaskId)" ></ng2-smart-table>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-body *ngIf="isShowingNotDefaultTeamTask == true">
                <ng2-smart-table [settings]="settingsTeamTaskNotDefault" [source]="teamsTaskNotDefaultList" ></ng2-smart-table>
            </nb-card-body>
        </nb-card>
  </nb-card-body>
</nb-card>

<nb-card style="width:48%; float: right; display:inline-block;">
  <nb-card-body>
      <h5 align="center">{{sysLanguages.DashBoardProjectChart}}</h5>
      <div echarts [options]="options2" class="echart"></div>
  </nb-card-body>
</nb-card>

<nb-card style="width:50%;float:left;">
  <nb-card-body>
      <h5 align="center">{{sysLanguages.DashBoardLeadStatus}}</h5>
      <div echarts [options]="options1" class="echart" (click)="filterLead($event)" ></div>
  </nb-card-body>
</nb-card>

<nb-card style="width:100%;">
    <nb-card-body>
        <h5 align="center">{{sysLanguages.DashBoardWeeklyPaymentRecords}}</h5>
        <chart type="bar" [data]="data" [options]="options"></chart>
    </nb-card-body>
</nb-card>