.addActivityDialog
{
    width: 35rem;
}

.addActivityDialogHeader
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    color: white;
}

.dialogFormGroup
{
    width: 32rem;
}

.dialogFormGroupText
{
    margin-top: 15px;
}

.addActivityDialogBtn
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    color: white;
    float: right;
}

.addActivityDialogBody
{
    overflow: auto;
    height: 35rem;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left : 5px;
}

.subAssigneeCard
{
  height: 21px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

.commentCard
{
  width: 49rem;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  border : 1px solid #dadfe6;
  border-radius: 15px;
  margin-top:10px;
}

.indicator
{
    line-height: 11px;
    padding: 2px 5px;
    padding-bottom: 3px;
    color: #fff;
    background-color: orangered;
    position: relative;
    //@at-rootleft: 566px;
    font-size: 8px;
    top: -9px;
    font-family: Verdana,serif;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
}

.checkboxText
{
    margin-left : 20px;
    margin-bottom : -10px;
}