<nb-layout>
    <nb-layout-column>
      <div>
        <img src="http://profaj.biz/uploads/company/logo.png" class="logo" alt="Profaj Internet Hizmetleri">
        <br/>
        <br/>
        <div class="leftTopData">
          <p class="proposalNumber"> #PRO-00000{{ proformId }}</p>
          <p class="proposalSubject">{{ proformData.CustomerName }}</p>
        </div>
        <div class="rightBtn">
          <button nbButton outline status="info" class="convertpdfButton" style="margin-left: 8px;" (click)="goToPdfPage()">{{ sysLanguages.PcConvertPdf }}</button>
          <button nbButton outline status="danger" class="operationBtns" *ngIf="isTimeExpired == false && proformData.Status != sysLanguages.PcAcceptedStatus" style="margin-left: 8px;" (click)="refuseProform()">{{ sysLanguages.PcRefuseProposal }}</button>
          <button nbButton outline status="success" class="operationBtns" *ngIf="isTimeExpired == false && proformData.Status != sysLanguages.PcAcceptedStatus" (click)="acceptProform()">{{ sysLanguages.PcAcceptProposal }}</button>
          <button class="expiredBtn" *ngIf="isTimeExpired == true" style="margin-left: 5px;" disabled>{{ sysLanguages.PcExpiredDate }}</button>
        </div>
        <br/>
        <br/>
        <nb-card class="proposalCard">
          <nb-card-body style="overflow: visible;">
            <div class="col-md-12">
                <thead style="color:white;background:#415164;line-height: 3;">
                  <tr>
                      <th width="600px;" align="left">{{sysLanguages.AddInvoiceTableProduct}}</th>
                      <th width="100px;" align="right">{{sysLanguages.AddInvoiceTablePiece}}</th>
                      <th width="100px;" align="right">{{sysLanguages.AddInvoiceTablePrice}}</th>
                      <th width="150px;" align="right">{{sysLanguages.AddInvoiceDiscount}}</th>
                      <th width="150px;" align="right">{{sysLanguages.AddInvoiceTableTax}}</th>
                      <th width="300px;" align="right">{{sysLanguages.AddInvoiceTableQuantity}}</th>
                  </tr>
                </thead>
                <tbody class="line">
                  <ng-container *ngFor="let data of lineData">
                    <tr id="lineData_{{i}}">
                        <td>
                            <p *ngIf="data.ProductId != 0" id="a1" style="float: left;margin-top: 26px;margin-left:5px;" ><b> {{ data.ProductName }} </b></p>   
                            <p *ngIf="data.ProductId == 0" id="a1" style="float: left;margin-top: 26px;margin-left:5px;" ><b> {{ data.LineName }} </b></p>              
                            <br/>
                            <br/>
                            <ng-container *ngFor="let _data of data.LineDesc; let i = index">
                              <p id="b1" *ngIf="i == 0" style="margin-top: 23px; margin-left: 10px;" > {{ _data.desc }} </p>
                              <p id="b1" *ngIf="i != 0" style="margin-top: 0px; margin-left: 10px;" > {{ _data.desc }} </p>
                            </ng-container>  
                        </td>
                        <td>
                            <p id="c1" style="float: left;margin-left:5px;" > {{ data.ProductCount }} </p>
                        </td>
                        <td>
                            <p id="d1" style="float: left;margin-left:5px;" > {{ data.ProductPrice }} </p>
                        </td>
                        <td>
                          <p id="dis1" style="float: left;margin-left:5px;" > {{ data.LineDiscount }} </p>
                        </td>
                        <td> 
                            <p id="updatedefaultTax" style="float: left;margin-left:5px;">{{ data.updatedefaultTax }}</p>
                        </td>
                        <td>
                            <p id="f1" class="f1" style="float: left;margin-left:5px;">{{ data.LineAmount }}</p>
                        </td>
                    </tr>
                    </ng-container> 
                </tbody> 
                <div class="col-md-8 col-md-offset-4" style="float:right;margin-top:3%;">
                        <table class="table text-right">
                            <tbody>
                              <tr>
                                 <!-- <td><span style="font-weight:500; margin-left:63%;">{{sysLanguages.AddInvoiceTotal}} :</span>
                                  </td>
                                  <td><span id="total" style="float:left;">{{ proformData.Amount }}</span></td>-->
                                  <td><span id="total" style="float:left;margin-left:63%;">{{sysLanguages.AddInvoiceTotal}}:  {{ proformData.Amount }} ({{proformData.Discount}} {{currency}} {{sysLanguages.AddInvoiceDiscount}} ) </span></td>
                              </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
          </nb-card-body>
        </nb-card>
        <div class="summaryDiv">
          <hr/>
          <p class="proposalSubject">Profaj</p>
          <p class="profajSummaryData">Çınarlı Mah. Şehit Polis Fethi Sekin Cad.No: 3/1602 Sunucu </p>
          <p class="profajSummaryData">Plaza Konak / İzmir</p>
          <p class="profajSummaryData">İzmir</p>
          <p class="profajSummaryData">Türkiye 35100</p>
          <p class="profajSummaryData">Vergi Numarası: 7330405975</p>
          <hr/>
          <div class="leftSubSummaryPanel">
            <p class="proposalSubject">{{ sysLanguages.PcProformInfo }}</p>
            <p class="profajSummaryData">{{ proformData.CustomerName }}</p>
            <p class="profajSummaryData"> {{sysLanguages.CustomerTableColumnContactPerson}} : {{proformData.ContactName}}</p>
          </div>
          <div class="rightSubSummaryPanel">
            <p class="proposalSubject">{{sysLanguages.AddInvoiceTotal}}: {{ proformData.Amount }}</p>
          </div>
          <br/>
          <br/>
          <p class="summaryBottomLabel">{{ sysLanguages.PcProposalStatus }}:</p>
          <p class="summaryBottomValue">{{ proformData.Status }}</p>
          <br/>
          <p class="summaryBottomLabel">{{ sysLanguages.PcProposalDate }}:</p>
          <p class="summaryBottomValue">{{ proformData.CreatedDate }}</p>
          <br/>
          <p class="summaryBottomLabel">{{ sysLanguages.PcProposalExpirationDate }}:</p>
          <p class="summaryBottomValue">{{ proformData.ExpirementDate }}</p>
        </div> 
        <br/>
        <br/> 
      </div>  
    </nb-layout-column>
</nb-layout>
  
  