<nb-card>
  <nb-card-header>
      <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);font-size:10px;" (click)="openDialog(dialogAddnewCost,'save')" >{{sysLanguages.NewCostText}}</button>
  </nb-card-header>
  <nb-card-body >
      <ng2-smart-table [settings]="settings" [source]="CostList" (userRowSelect)="openDialog(dialogAddnewCost, $event)" (edit)="openDialog(dialogAddnewCost, $event)"  ></ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialogAddnewCost let-data let-ref="dialogRef">
  <nb-card style="margin:auto;width:50rem;height: 100%;" >
      <nb-card-header style="height:40px;background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;" >
      </nb-card-header>
      <nb-card-body style="overflow : visible;" >
              <div class="form-group" style="width:90%;display: inline-block;float:left;margin-left: 5%;">
                <p style="margin-top: 5px;">{{sysLanguages.CustomerText}} <strong style="color: red">*</strong> :</p>
                <p-dropdown [virtualScroll]="true" itemSize="30" [options]="customerList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="CostData.CustomerId" filter="true" showClear="true" >
                  <ng-template let-customer pTemplate="item">
                      <div class="ui-helper-clearfix" style="background-color: #ffffff">
                          <div style="font-size:14px;margin-top:4px;">{{customer.label}}</div>
                      </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="form-group" style="width:90%;display:inline-block;float:left;margin-left:5%;">
                  {{sysLanguages.AddTaskDescText}} <strong style="color: red">*</strong> <textarea rows="3" cols="20" placeholder="{{this.sysLanguages.AddTaskDescText}}" value="{{CostData.AdCostDesc}}" class="form-control" id="AdCostDesc"></textarea>
              </div>
              <div class="form-group" style="width:90%;display:inline-block;float:left;margin-left:5%;">
                  {{sysLanguages.AddInvoiceTablePrice}}  <strong style="color: red">*</strong> <input type="number" class="form-control" placeholder="{{sysLanguages.AddInvoiceTablePrice}}"  value="{{CostData.Price}}" id="price">
              </div>
              <div class="form-group" style="width:40%;display:inline-block;float:left;margin-left:5%;" >
                  {{sysLanguages.MonthText}} <strong style="color: red">*</strong>
              <p-dropdown [options]="monthList"  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="CostData.MonthId" filter="true" showClear="true">
                  <ng-template let-month pTemplate="item">
                      <div class="ui-helper-clearfix" style="background-color: #ffffff">
                          <div style="font-size:14px;margin-top:4px;">{{month.label}}</div>
                      </div>
                  </ng-template>
              </p-dropdown>
              </div>
              <div class="form-group" style="width:40%;display:inline-block;float:left;margin-left:10%;" >
                {{sysLanguages.AddInvoiceCurrencyType}} <strong style="color: red">*</strong>
                <p-dropdown [options]="currencyList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.75rem 1.125rem', 'border-radius': '0.375rem'}" [(ngModel)]="CostData.CurrencyTypeId" filter="true" showClear="true" >
                      <ng-template let-currency pTemplate="item">
                          <div class="ui-helper-clearfix" style="background-color: #ffffff">
                              <div style="font-size:14px;">{{currency.label}}</div>
                          </div>
                      </ng-template>
                </p-dropdown>
               </div>
      </nb-card-body>        
      <nb-card-footer style="height:50px;">
          <div class="form-group" style="float:right;margin-right: 5%;margin-top:-10px;">
              <button *ngIf = "edit == false" nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" size="tiny" (click)="save(ref)" >{{sysLanguages.LeadSaveButtonText}}</button>
              <button *ngIf = "edit == true" nbButton style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);" size="tiny" (click)="editCost(ref)" >{{sysLanguages.TasksUpdate}}</button>
          </div>
      </nb-card-footer>
    </nb-card>
</ng-template>