:host /deep/ .ng2-smart-filter select {
    height: calc(2rem + 3px) !important;
    padding: 0 10px !important;
  }
:host /deep/ .header
{
  width: 50%;
}

:host /deep/ .step-content
{
  width: 50%;
}

.addActivityDialog
{
    width: 35rem;
}

.addActivityDialogHeader
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    color: white;
}

.dialogFormGroup
{
    width: 32rem;
}

.dialogFormGroupText
{
    margin-top: 15px;
}

.addActivityDialogBtn
{
    background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);
    color: white;
    float: right;
}

.addActivityDialogBody
{
    overflow: auto;
    height: 35rem;
}

.checkboxText
{
    margin-top: 1%;
    margin-left: 30px;
    width: 100%;
    font-weight: 500;

}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-left : 5px;
}