
  <nb-card *ngIf="taskTabid == 0" >
    <nb-card-body>
      <nb-tabset>
          <nb-tab tabTitle="Profil" >
              <nb-card >
                  <nb-card-body>
                    <div class="profile mtop20 display-inline-block" style="float: right">
                        <h4> {{userArray[0].Fullname}} </h4>
                        <p class="display-block"><strong>✉ </strong><a style="color: #03a9f4;" href="mailto:{{userArray[0].Email}}"> {{userArray[0].Email}}</a></p>
                    </div>
                    <h5> Google Calendar Aktivasyonu </h5>
                    <nb-stepper #stepper [linear]="linearMode">

                        <nb-step [stepControl]="clientid" label="Client ID ">
                            <div class="input-group">
                              <input type="text"
                                     id="clientid"
                                     placeholder="{{sysLanguages.EnterClientId}}"
                                     class="form-control"
                                     name="clientid"
                                     required
                                     nbInput
                                     ngModel
                                     #clientid="ngModel"
                                     [status]="clientid.invalid ? 'danger' : ''">
                            </div>
                            <br>
                            <button  style="float: right;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0)" nbButton nbStepperNext (click)="saveClient(0)">{{sysLanguages.NextText}}</button>
                        </nb-step>
                  
                        <nb-step [stepControl]="clientsecret" label="Client Secret">
                            <div class="input-group">
                              <input type="text"
                                     id="clientsecret"
                                     placeholder="{{sysLanguages.EnterClientSecret}}"
                                     class="form-control"
                                     name="clientsecret"
                                     required
                                     nbInput
                                     ngModel
                                     #clientsecret="ngModel"
                                     [status]="clientsecret.invalid ? 'danger' : ''">
                            </div>
                            <br>
                            <button style="float: right;background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0)" nbButton nbStepperNext (click)="saveClient(1)" (click)="stepper.reset()" > {{sysLanguages.AcSave}} </button>
                        </nb-step>
                      </nb-stepper>
                  </nb-card-body>
                </nb-card>
            </nb-tab>
        <nb-tab tabTitle="{{projectHeader}}" >
            <nb-card>
                <nb-card-body>
                    <ng2-smart-table [settings]="settings" [source]="boardList" (userRowSelect)="projectDetail($event)"  ></ng2-smart-table>
                </nb-card-body>
              </nb-card>
        </nb-tab>
        <nb-tab tabTitle="{{sysLanguages.BoTabsProjectTasksText}}" badgeText="{{taskListCount}}"  badgeStatus="danger" >
            <br/>
            <button nbButton hero status="primary" size="xsmall" (click)="addTask()" style="float: left; display:block; background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0);margin-left:2.4%;" id="commentButton" >{{sysLanguages.DasBoardAddDuty}}</button>
            <br/>
            <br/>
            <br/>
          <div style="display: inline-block;width:45%;">
              <nb-card style="width: 100%; margin-left: 5%; height: 32rem;">
                  <nb-card-header style="height: 4rem;background-color: #ff6f00">
                      <p style="color: white;"> {{sysLanguages.DasBoardToDoList}} </p>
                  </nb-card-header>
                  <nb-card-body>
                      <nb-list *ngIf="taskListCount == 0" >
                          <nb-list-item  style="height: 40px;">
                              <div class="checkbox">
                                      <p style="margin-left: 10px;opacity: 0.5;">Yapılacaklar Listesi Boş. Çalışmıyorsun galiba =)</p>
                              </div>
                          </nb-list-item>
                          </nb-list>
                          <nb-list id="notCompletedTaskList" (scroll)="lazyLoadingforNotCompleted($event)" *ngIf="taskListCount != 0" style="height: 25rem;">
                          <nb-list-item  style="height: 60px;" *ngFor="let task of notCompletedtaskList">
                              <div class="checkbox">
                                  <input (click)="completeTask( task.TaskId )" type="checkbox"  id="{{ task.TaskId }}" value="{{task.TaskId }}" style="float:right; margin-top:5px;cursor: pointer;width: 30px;height: 20px;"/>
                                      <p (click)="editTask(task.TaskId)" style="margin-left: 10px;cursor:pointer">{{ task.Title }}</p>
                                      <p (click)="editTask(task.TaskId)" style="margin-left: 10px;cursor:pointer">{{ task.CreatedDate }}</p>
                              </div>
                          </nb-list-item>
                          </nb-list>
                  </nb-card-body>
              </nb-card>
          </div>
          <div style="display: inline-block;width:45%;">
              <nb-card style="width: 100%; margin-left: 10%; height: 32rem;">
                  <nb-card-header style="height: 4rem;background-color: #03a9f4">
                      <p style="color: white;" >{{sysLanguages.DashBoardFinishedWork}}</p> 
                  </nb-card-header>
                  <nb-card-body>
                      <nb-list *ngIf="completedTaskCount == 0" >
                          <nb-list-item  style="height: 40px;">
                              <div class="checkbox">
                                      <p style="margin-left: 10px;opacity: 0.5;">Çalış ki buralar dolsun :)</p>
                              </div>
                          </nb-list-item>
                          </nb-list>
                          <nb-list id="completedTaskList" (scroll)="lazyLoadingforCompleted($event)" *ngIf="completedTaskCount != 0" style="height: 25rem;">
                          <nb-list-item  style="height: 60px;" *ngFor="let task of completedTaskList">
                              <div class="checkbox">
                                      <del style="margin-left: 10px;">{{ task.Title }}</del>
                                      <p style="margin-left: 10px;">{{ task.CreatedDate }}</p>
                              </div>
                          </nb-list-item>
                          </nb-list>
                  </nb-card-body>
              </nb-card>
          </div>
        </nb-tab>
        <nb-tab tabTitle="{{sysLanguages.LeadText}}">
            <nb-card>
                <nb-card-body>
                    <ng2-smart-table [settings]="settingsLead" [source]="leadList" ></ng2-smart-table>
                </nb-card-body>
              </nb-card>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
<!--
  <ng-template #dialogAddTask let-data let-ref="dialogRef">
    <nb-card style="width:60rem;margin:auto;overflow-y: scroll;height: 50rem;">
        <nb-card-header style="background-image: linear-gradient(to right,#226faa 0,#2989d8 37%,#72c0d3 100%);color:white;">
          {{RelationText}}    
        </nb-card-header>
        <nb-card-body style="overflow:visible;">
          <div class="form-group" style="width:100%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.AddTaskTitleText}} <strong style="color: red">*</strong> :</p>
              <input type="text" placeholder="{{sysLanguages.AddTaskTitleText}}" class="form-control" id="taskTitle" value="{{taskData.Title}}">
          </div>
          <div class="form-group" style="width:48%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.TpAddTaskDialogStatusText}} <strong style="color: red">*</strong> :</p>
            <p-dropdown [options]="StatusList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedStatus" filter="true" showClear="true">
              <ng-template let-stat pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                  </div>
              </ng-template>
          </p-dropdown> 
          </div>
          <div class="form-group" style="width:48%;float:right;">
            <p style="margin-top: 5px;">{{sysLanguages.TaskType}} <strong style="color: red">*</strong> :</p>
            <p-dropdown [options]="taskTypeList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="selectedType" filter="true" showClear="true">
                <ng-template let-stat pTemplate="item">
                    <div class="ui-helper-clearfix" style="background-color: #ffffff">
                        <div style="font-size:14px;margin-top:4px;">{{stat.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
          </div>  
          <div class="form-group" style="width:30%;float:left;">
                <p style="margin-top: 5px;">{{sysLanguages.LeadCreatedDateText}} <strong style="color: red">*</strong> :</p>
                <input [nbDatepicker]="datepicker1" value="{{taskData.BeginDate}}" class="form-control" id="BeginDate">
                <nb-datepicker #datepicker1></nb-datepicker>
           </div>
            <div class="form-group" style="width:30%;float:left;margin-left:5%;">
                <p style="margin-top: 5px;">{{sysLanguages.TasksTableEndDateText}} <strong style="color: red">*</strong> :</p>
                <input [nbDatepicker]="datepicker2"  value="{{taskData.EndDate}}" class="form-control" id="EndDate">
                <nb-datepicker #datepicker2></nb-datepicker>
            </div>
            <div class="form-group" title="{{sysLanguages.TaskTimeText}}" style="width:30%;float:right;">
                <p style="margin-top: 5px;">{{sysLanguages.TimeText}}:</p>
                <input  type="time" style="height: 40px;" class="form-control" id="time" value="{{taskData.TaskTime}}" min="00:00" max="24:00" >
            </div>
            <div class="form-group" style="width:100%;float:right;">
                <p style="margin-top: 5px;">{{sysLanguages.AddTaskDescText}}:</p>
                <textarea rows="1" style="height:90px;" placeholder="{{sysLanguages.AddTaskDescText}}" class="form-control" id="taskDesc" value="{{taskData.TaskDesc}}"></textarea>
            </div>
          <div class="form-group" style="width:48%;float:left;">
            <p style="margin-top: 5px;">{{sysLanguages.PcRelation}}:</p>
            <p-dropdown [options]="relationList" placeholder=" " [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedRelation" filter="true" showClear="true" >
              <ng-template let-rel pTemplate="item">
                  <div class="ui-helper-clearfix" style="background-color: #ffffff">
                      <div style="font-size:14px;margin-top:4px;">{{rel.label}}</div>
                  </div>
              </ng-template>
          </p-dropdown>
        </div>
        <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 3">
        <p style="margin-top: 5px;">{{sysLanguages.LeadText}}:</p>
          <p-dropdown [options]="multiLeadList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedLead" filter="true" showClear="true" >
            <ng-template let-lead pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{lead.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
      </div>
      <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 1">
        <p style="margin-top: 5px;">{{sysLanguages.CustomerText}}:</p>
        <p-dropdown [options]="customerList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedCustomer" filter="true" showClear="true" >
          <ng-template let-customer pTemplate="item">
              <div class="ui-helper-clearfix" style="background-color: #ffffff">
                  <div style="font-size:14px;margin-top:4px;">{{customer.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
      </div>
      <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 2">
        <p style="margin-top: 5px;">{{sysLanguages.InvoiceText}}:</p>
          <p-dropdown [options]="invoiceList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedInvoice" filter="true" showClear="true" >
            <ng-template let-invoice pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{invoice.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
      </div>
      <div class="form-group" style="width:48%;float:right;" *ngIf="isSelectedRelation == 4">
        <p style="margin-top: 5px;">{{sysLanguages.ProjectText}}:</p>
            <p-dropdown [options]="projectList" placeholder=" "  [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'width': '100%', 'height': '41px', 'padding': '0.38rem 1rem', 'border-radius': '0.375rem'}" [(ngModel)]="isSelectedProject" filter="true" showClear="true" >
            <ng-template let-project pTemplate="item">
                <div class="ui-helper-clearfix" style="background-color: #ffffff">
                    <div style="font-size:14px;margin-top:4px;">{{project.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
       </div>
      </nb-card-body>
        <nb-card-footer style="height:60px;">
            <div class="form-group" *ngIf="isSaveorUpdate == 'save'" style="float:right;">
                <button nbButton *ngIf = "loading == false" (click)="saveTask(ref)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; width: 10rem;" >{{sysLanguages.TpContextMenuEditProjectDialogSaveButton}}</button>
                <button nbButton  *ngIf = "loading == true" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; width: 5rem;" > <div class="loader"></div> </button>
            </div>
            <div class="form-group" *ngIf="isSaveorUpdate == 'update'" style="float:right;">
                <button nbButton *ngIf = "loading == false" (click)="editTask(ref)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; width: 10rem;" >{{sysLanguages.TasksUpdate}}</button>
                <button nbButton  *ngIf = "loading == true" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; width: 5rem;" > <div class="loader"></div> </button>
            </div>
            <div class="form-group" *ngIf="isSaveorUpdate == 'update'" style="float:right;">
                <button nbButton *ngIf = "loading == false" (click)="takeTaskOnMe(ref)" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; width: 10rem; margin-right: 15px;" >{{ sysLanguages.TasksTakeOnMe }}</button>
                <button nbButton  *ngIf = "loading == true" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px; width: 5rem;" > <div class="loader"></div> </button>
            </div>
            <strong style="float: left;" *ngIf="isSaveorUpdate == 'update'"> {{taskData.Creator}} {{sysLanguages.CreatedByText}}  </strong>
        </nb-card-footer>
      </nb-card>
  </ng-template> -->

      