<nb-card *ngIf=" ListToKanban == false">
  <nb-card-body>
      <div class="row" >
          <div class="taskAreaClass" (click)="filteredTask('all')" >
            <h3 class="bold no-mtop">{{this.taskCount}}</h3>
            <p style="color:#03A9F4" class="font-medium no-mbot">
              {{sysLanguages.TasksPanelCountText}}     </p>
          </div>
          <div class="taskAreaClass" >
            <h3 class="bold no-mtop">{{this.upComingCount}}</h3>
            <p style="color:#a13b3b;font:bold" class="font-medium no-mbot">
              {{sysLanguages.TasksPanelUpcomingDateText}}     </p>
          </div>
          <div class="taskAreaClass">
            <h3 class="bold no-mtop">{{this.pastDate}}</h3>
            <p style="color:#fd0404;font: bold;" class="font-medium no-mbot">
              {{sysLanguages.TasksPanelPastDateText}}     </p>
          </div>
          <div class="taskAreaClass">
            <h3 class="bold no-mtop">{{this.active}}</h3>
            <p style="color:#84c529" class="font-medium no-mbot">
              {{ sysLanguages.TasksCompletedTasks }}      </p>
          </div>
          <div class="taskAreaClass" (click)="filteredTask('myUncompleted')">
            <h3 class="bold no-mtop">{{ myNotCompletedTaskCount }}</h3>
            <p class="font-medium no-mbot" style="color:burlywood">
              {{ sysLanguages.MyNotCompletedTasksText }}       </p>
          </div>
          <div style="text-align: center; width: 16%; cursor: pointer;" (click)="filteredTask('myCompleted')">
            <h3 class="bold no-mtop">{{ myCompletedTaskCount }} </h3>
            <p class="font-medium no-mbot" style="color:yellowgreen">
              {{ sysLanguages.MyCompletedTasksText }}     </p>
          </div>
      </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
      <h3>{{sysLanguages.TasksHeader}}</h3>
  </nb-card-header>
  <nb-card-header >
      <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;" (click)="addTask()">{{sysLanguages.AddTaskHeaderText}}</button>
      <button class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;margin-left:5px;" id="openkanban" (click)="openKanban()">{{openKanbanText}}</button>
     <!-- <button *ngIf=" ListToKanban == false" class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;margin-left:5px;float:right;" (click)="exportExcel()">{{sysLanguages.ConvertExcel}}</button> -->
     <button *ngIf = "AdminUser == '3' || AdminUser == '4' || AdminUser == '1' " (click)="openExportArea(dialogExport)" title="Dışa Aktar" class="btn" style="background-color: #f1f5f7; color:#415164; font-size: 10px;cursor:pointer;float:right;"> Görüntüle ve Dışa Aktar </button>
     <!-- <div *ngIf=" ListToKanban == false" style="float: right;margin-top: -13px;">
      <div class="dropdown-content" id="myDropdown">
        <p  class="filterStatus" (click)="exportExcel()">Excel</p>
        <p  class="filterStatus" (click)="exportPdf()">Pdf</p>
      </div> 
    </div> -->
  </nb-card-header>
  <nb-card-body *ngIf=" ListToKanban == false && isFilteredMyTasks == false" style="overflow: visible;">
     <!-- <ng2-smart-table [settings]="settings" [source]="TaskList"  (userRowSelect)="editTask($event.data.TaskId)" ></ng2-smart-table>-->
     <p-table #dt [value]="TaskList" [paginator]="true" [rows]="10" (onFilter)="filterTable(dt)" [responsive]="true" [(contextMenuSelection)]="selectedTask" [contextMenu]="cm" >
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 5em">ID</th>
              <th>{{sysLanguages.TasksTableTitleText}}</th>
              <th>{{sysLanguages.TasksTableTascDescText}}</th>
              <th>{{sysLanguages.TasksTableStatusText}}</th>
              <th>{{sysLanguages.TasksTableStartDateText}}</th>
              <th>{{sysLanguages.TasksTableEndDateText}}</th>
              <th>{{sysLanguages.TasksResponsible}}</th>
              <th>{{sysLanguages.AddTaskTeamText}}</th>
          </tr>
          <tr>
            <th>
                <input style="width: 100%;border: 2px solid #dadfe6;border-radius: 0.375rem;height:2.1rem;" placeholder="ID" pInputText type="text" (input)="dt.filter($event.target.value, 'TaskId', 'contains')">
            </th>
            <th>
                <input style="width: 100%;border: 2px solid #dadfe6;border-radius: 0.375rem;height:2.1rem;" placeholder="{{sysLanguages.TasksTableTitleText}}" pInputText type="text" (input)="dt.filter($event.target.value, 'Title', 'contains')">
            </th>
            <th>
                <input style="width: 100%;border: 2px solid #dadfe6;border-radius: 0.375rem;height:2.1rem;" placeholder="{{sysLanguages.TasksTableTascDescText}}" pInputText type="text" (input)="dt.filter($event.target.value, 'TaskDesc', 'contains')">
            </th>
            <th>
                <p-multiSelect  defaultLabel="{{sysLanguages.PcAll}}" [options]="_StatusList" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'height': '25px', 'border-radius': '0.375rem','min-width':'100%'}" (onChange)="dt.filter($event.value, 'StatusDesc', 'in')" filter="true"  ></p-multiSelect >
            </th>
            <th>
                <input style="width: 100%;border: 2px solid #dadfe6;border-radius: 0.375rem;height:2.1rem;" placeholder="{{sysLanguages.TasksTableStartDateText}}" pInputText type="text" (input)="dt.filter($event.target.value, 'BeginDate', 'contains')">
            </th>
            <th>
                <input style="width: 100%;border: 2px solid #dadfe6;border-radius: 0.375rem;height:2.1rem;" placeholder="{{sysLanguages.TasksTableEndDateText}}" pInputText type="text" (input)="dt.filter($event.target.value, 'EndDate', 'contains')">
            </th>
            <th>
                <p-dropdown  [options]="_allUsers" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'height': '25px', 'border-radius': '0.375rem','min-width':'100%'}" (onChange)="dt.filter($event.value, 'Fullname', 'equals')" filter="true" ></p-dropdown>
            </th>
            <th>
                <p-dropdown  [options]="_TeamList" [panelStyle]="{'background-color': '#ffffff'}" [style]="{'background-color':'#ffffff', 'border': '2px solid #dadfe6', 'color': '#2a2a2a', 'height': '25px', 'border-radius': '0.375rem','min-width':'100%'}" (onChange)="dt.filter($event.value, 'TeamName', 'equals')" filter="true" ></p-dropdown>
            </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
          <tr  (click)="editTask(task.TaskId)" [pContextMenuRow]="task" >
              <td>{{task.TaskId}}</td>
              <td>{{task.Title}}</td>
              <td>{{task.TaskDesc}}</td>
              <td [ngClass]="(task.StatusDesc == 'Başlamadı') ? 'red' : (task.StatusDesc == 'Tamamlandı') ? 'green'  : null"  >{{task.StatusDesc}}</td>
              <td>{{task.BeginDate.split(" ")[0]}}</td>
              <td>{{task.EndDate.split(" ")[0]}}</td>
              <td>{{task.Fullname}}</td>
              <td>{{task.TeamName}}</td>
          </tr>
      </ng-template>
    </p-table>
  </nb-card-body>
  <nb-card-body *ngIf=" ListToKanban == false && filtered == false && isFilteredMyTasks == true">
      <ng2-smart-table [settings]="settingsForFilterMe" [source]="myTaskList" (userRowSelect)="editTask($event.data.TaskId)"></ng2-smart-table>
  </nb-card-body>
  <nb-card-body *ngIf=" ListToKanban == true" >
      <nb-checkbox style="font-size: 12px;" (change)="filterKanban($event)"> {{sysLanguages.TasksMyTasks}} </nb-checkbox>
      <div class="column">
        <div class="divColumn"  id="colname-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}" *ngFor="let stat of statusListForKanban">
          <div class="oneColumn"   id="column-{{ stat.StatusId }}" tabIndex="{{ stat.StatusId }}">
              <div class="columnMenu"> 
                <input readonly type="text" class="columnDesc" nbInput value="{{ stat.StatusDesc }}">   
                &nbsp;&nbsp;&nbsp;
              </div>
              <br/>
              <br/>
              <button nbButton (click)="addTask()" class="addTaskBtn" status="info">+</button>
              <br/>
              <br/>
              <div *ngIf = "filteredKanbanTaskCheck == false" class="columnCards"  id="stat_{{ stat.StatusId }}" (drop)="dropTask($event)" (dragover)="allowDrop($event)" >
                <ng-container *ngFor="let task of taskListForKanban">
                    <ng-container *ngIf="stat.StatusId == task.StatusId">
                      <nb-card class="cardTaskDesc" [style.background-image]="gray"  id="task_{{task.taskID}}" [style.opacity]="task.markComplete" draggable="true" (dragstart)="dragTask($event)" >
                          <nb-card-body id="task_desc_{{task.TaskID}}" (mouseenter)="mouseenter(task.taskID)" (mouseleave)="mouseleave(task.taskID)">
                              <a  title="{{sysLanguages.TpMarkCompleteText}}" id="markComplete_{{task.taskID}}" style="display:none;float:right;color:black;cursor: pointer;" (click)="markComplete(task.taskID)">✔</a>
                            {{ task.title }}
                            <br/>
                            {{task.teamname}}
                            <br/>
                            <br/>
                            <div class="assignedTaskCard"><p title="{{task.fullname}}" style="text-align: center;line-height: 25px;">{{ task.fullname.substring(0, 2) }}</p></div>
                            <p class="endDatetaskCard">{{ task.endDate }}</p>
                            <br/>
                            <br/>
                            <a (click)="editTask(task.taskID)" class="cardDetailButton"> {{sysLanguages.TpTaskDetailButtonText}} </a>
                          </nb-card-body>
                      </nb-card>
                  </ng-container> 
                </ng-container>
            </div>
            <div *ngIf = "filteredKanbanTaskCheck == true" class="columnCards"  id="stat_{{ stat.StatusId }}" (drop)="dropTask($event)" (dragover)="allowDrop($event)" >
                <ng-container *ngFor="let task of filteredtaskListForKanban">
                    <ng-container *ngIf="stat.StatusId == task.StatusId">
                      <nb-card class="cardTaskDesc" [style.background-image]="gray"  id="task_{{task.taskID}}" [style.opacity]="task.markComplete" draggable="true" (dragstart)="dragTask($event)" >
                          <nb-card-body id="task_desc_{{task.TaskID}}" (mouseenter)="mouseenter(task.taskID)" (mouseleave)="mouseleave(task.taskID)">
                              <a  title="{{sysLanguages.TpMarkCompleteText}}" id="markComplete_{{task.taskID}}" style="display:none;float:right;color:black;cursor: pointer;" (click)="markComplete(task.taskID)">✔</a>
                            {{ task.title }}
                            <br/>
                            {{task.teamname}}
                            <br/>
                            <br/>
                            <div class="assignedTaskCard"><p title="{{task.fullname}}" style="text-align: center;line-height: 25px;">{{ task.fullname.substring(0, 2) }}</p></div>
                            <p class="endDatetaskCard">{{ task.endDate }}</p>
                            <br/>
                            <br/>
                            <a (click)="editTask(task.taskID)" class="cardDetailButton"> {{sysLanguages.TpTaskDetailButtonText}} </a>
                          </nb-card-body>
                      </nb-card>
                  </ng-container> 
                </ng-container>
            </div>
          </div>
        </div>          
      </div>
  </nb-card-body>
</nb-card>

<p-contextMenu #cm [model]="cmItems" [style]="{'background-color':'white'}" ></p-contextMenu>

<ng-template #dialogExport let-data let-ref="dialogRef">
  <nb-card style="width:40rem;" >
    <nb-card-body style="overflow:visible;">
    </nb-card-body>
    <nb-card-body style="margin-top:-25px;" >
        <div style="height: 370px;"  echarts [options]="options" class="echart" ></div>
    </nb-card-body>
    <nb-card-footer style="height: 4rem;" >
        <button (click)="exportExcel(ref)" class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;cursor:pointer;float:right;margin-left:10px;margin-top:-7px;"> Excel </button>
        <button (click)="exportPdf(ref)" class="btn" style="background-image: linear-gradient(to right, #3ab1f0, #3eb1f0, #42b0f0, #46b0f0, #4aaff0); font-size: 10px;cursor:pointer;float:right;margin-top:-7px;"> Pdf </button>
    </nb-card-footer>
  </nb-card>
</ng-template>