:host /deep/ .ng2-smart-filter select {
    height: calc(2rem + 3px) !important;
    padding: 0 10px !important;
  }

  .taskAreaClass
  {
    border-right: 1px solid rgb(192, 191, 191);
    text-align: center;
    width: 16%;
    cursor: pointer;
  }

  .addTaskBtn
{
  padding-top: 0px;
  padding-bottom: 30px;
  width: 20rem;
  height: 1rem;
  font-size: 25px;
}

.addColumnBtn
{
  width: 17rem;
  height: 1rem;
  font-size: 25px;
  padding-top: 0px;
  padding-bottom: 30px;
}

.columnDesc
{
  width:16rem;
  display: inline-block;
  font-size: 15px;
}

.cardTaskDesc
{
  width: 18.4rem;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  margin-left:4%;
}

.assignedTaskCard
{
  display: inline-block;
  float: left;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

.endDatetaskCard
{
  display: inline-block;
  float: right;
}

.cardDetailButton
{
  float: right;
  color: black;
  cursor: pointer;
}

.column
{
  white-space: nowrap; 
  overflow-y: scroll;
}

.columnMenu
{
  font-size: 15px;
  display: inline-block;
}

.columnCards
{
  height: 600px; 
  overflow: auto;
}

.copyColumnCards
{
  height: 600px; 
  overflow: auto;
}

.divColumn
{
  display: inline-block;
  padding-right: 30px;
}

.oneColumn
{
  background:#ebeff5;
  display: inline-block;
}

.subAssigneeCard
{
  height: 21px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left : 5px;
}

.commentCard
{
  width: 49rem;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  border : 1px solid #dadfe6;
  border-radius: 15px;
  margin-top:10px;
}

.indicator
{
    line-height: 11px;
    padding: 2px 5px;
    padding-bottom: 3px;
    color: #fff;
    background-color: orangered;
    position: relative;
    //@at-rootleft: 566px;
    font-size: 8px;
    top: -9px;
    font-family: Verdana,serif;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
}

.filterStatus
{
    width: 170px;
    cursor:pointer;
    background-color:  #f9f9f9;
    margin-bottom: 0px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:5px;
    margin-left:-70px;
}
  
.dropdown-content p {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content p:hover {
    background-color: #ddd;
}
  
.show {
    display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #f5f7fc;
}

.red
{
  color: red;
}

.green
{
  color: green;
}
